<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <em class="fa fa-align-justify"></em> {{ importada || profissional ? 'Visualizar Atividade Coletiva' : 'Editar
      Atividade Coletiva' }}
    </div>
    <div class="card-body">
      <app-form-atividade-coletiva [formData]="formData$" (onSubmit)="onSubmitted($event)" #formAtividadeColetiva>
      </app-form-atividade-coletiva>
    </div>
    <div class="card-footer">
      <spinner-button [showSpinner]="isLoadingSubmit">
        <button type="submit" form="formAtividadeColetiva" class="btn btn-primary"
          [disabled]="importada || profissional">
          Salvar
        </button>
      </spinner-button>
      <button type="button" class="btn btn-secondary" routerLink="/">
        Cancelar
      </button>
    </div>
  </div>
</div>