<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <em class="cui-note"></em> {{tituloPagina}}
    </div>
    <div class="card-body">
      <div class="col-md-12 mb-3">
        <label class="mt-2 mb-1 font-weight-bold">Usuário</label>
      </div>
      <form name="formAdicionarUsuario" (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="col">
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="idnome" requiredLabel>Primeiro nome</label>
              <input type="text" class="form-control" id="idnome" name="nome" #nome="ngModel" [(ngModel)]="usuario.nome"
                required>
              <div [hidden]="nome.valid || nome.pristine">
                <small class="form-text text-danger">Nome é requerido.</small>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="idsobrenome" requiredLabel>Sobrenome</label>
              <input type="text" class="form-control" id="idsobrenome" name="sobrenome" #sobrenome="ngModel"
                [(ngModel)]="usuario.sobrenome" required>
              <div [hidden]="sobrenome.valid || sobrenome.pristine">
                <small class="form-text text-danger">Sobrenome é requerido.</small>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="idemail">Email</label>
            <input type="email" class="form-control" id="idemail" name="email" #email="ngModel"
              [(ngModel)]="usuario.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <div [hidden]="email.valid || email.pristine">
              <small class="form-text text-danger">Email inválido.</small>
            </div>
          </div>
          <div class="mb-3">
            <label for="idlogin" requiredLabel>Login</label>
            <input type="text" class="form-control" id="idlogin" name="login" #login="ngModel"
              [(ngModel)]="usuario.login" required>
            <div [hidden]="login.valid || login.pristine">
              <small class="form-text text-danger">Login é requerido.</small>
            </div>
          </div>
          <div class="form-row" *ngIf="showSenha">
            <div class="col-md-6 mb-3">
              <label for="idsenha" requiredLabel>Senha</label>
              <input type="password" class="form-control" id="idsenha" name="senha" #senha="ngModel"
                [(ngModel)]="usuario.senha" pattern="[0-9a-zA-Z_.-]{6,10}$" required>
              <small id="senhaAjuda" class="form-text text-muted">A senha deve ter entre 6 e 10 caracteres,
                permitindo-se utilizar letras, números e os caracteres underline(_), ponto(.) e traço(-).</small>
              <div [hidden]="senha.valid || senha.pristine">
                <small class="form-text text-danger">Senha inválida.</small>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="idconfirmarsenha" requiredLabel>Confirmar senha</label>
              <input type="password" class="form-control" id="idconfirmarsenha" name="confirmarsenha"
                #confirmarSenha="ngModel" [(ngModel)]="confirmarsenha" pattern="{{senha.value}}" required>
              <div [hidden]="confirmarSenha.valid || confirmarSenha.pristine">
                <small class="form-text text-danger">Senhas não conferem.</small>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="idativo" requiredLabel>Ativo</label>
              <select class="form-control" id="idativo" name="ativo" [(ngModel)]="usuario.ativo" required>
                <option *ngFor="let opcao of opcoesAtivo" [ngValue]="opcao.value">{{opcao.name}}</option>
              </select>
            </div>
          </div>
          <hr>
          <label class="mt-2 mb-1 font-weight-bold">Profissional</label>
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label for="idcpf" requiredLabel>CPF</label>
              <input type="text" class="form-control" id="idcpf" name="cpf" #cpf="ngModel"
                [(ngModel)]="profissional.cpf" pattern="[0-9]{11}$" (change)="validaCpf()" required>
              <small class="form-text text-muted">Use apenas números.</small>
              <div *ngIf="!cpfValido">
                <small class="form-text text-danger">CPF inválido. Use 11 dígitos.</small>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="idcartaoSus" requiredLabel>CNS</label>
              <input type="text" class="form-control" id="idcartaoSus" name="cns" #cns="ngModel"
                [(ngModel)]="profissional.cns" pattern="[0-9]{15}$" (change)="validaCns()" required>
              <small class="form-text text-muted">Use apenas números.</small>
              <div *ngIf="!cnsValido">
                <small class="form-text text-danger">CNS inválido. Use 15 dígitos.</small>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="idcelular">Celular</label>
              <input type="text" class="form-control" id="idcelular" name="celular" #celular="ngModel"
                [(ngModel)]="profissional.celular" pattern="[0-9]{10,11}$">
              <small class="text-muted">Use apenas números com DDD (10 a 11 dígitos).</small>
              <div [hidden]="celular.valid || celular.pristine">
                <small class="form-text text-danger">Celular inválido.</small>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="crmCorem">CRM/COREM</label>
              <input type="text" class="form-control" id="crmCorem" name="crmCorem" #crmCorem="ngModel" [(ngModel)]="profissional.crmCorem">
            </div>
          </div>
          <hr style="border-style:none" />
          <spinner-button [showSpinner]="isLoading">
            <button type="submit" class="btn btn-primary" [disabled]="!f.form.valid">
              {{textoBotaoSubmit}}
            </button>
          </spinner-button>
          <a class="btn btn-secondary" routerLink="/usuario/pesquisar">Cancelar</a>
          <button type="button" class="btn btn-warning" *ngIf="isEditar" (click)="showSenha=!showSenha">Alterar
            Senha</button>
        </div>
      </form>
    </div>
  </div>
</div>