<label class="mt-2 mb-1 font-weight-bold">Profissional Responsável</label>
<form id="formAtendimentoOdontologico" name="formAtendimentoOdontologico" (ngSubmit)="onFormSubmit()" #form="ngForm">
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label for="idprofissionalResponsavelCns" requiredLabel>CNS do Profissional</label>
      <input type="text" class="form-control" [(ngModel)]="fichaAtendimentoOdontologico.profissionalResponsavel.cns"
        id="idprofissionalResponsavelCns" name="profissionalResponsavelCns" mask="0{15}" required disabled>
    </div>
    <div class="col-md-2 mb-3">
      <label for="idprofissionalResponsavelCbo" requiredLabel>CBO</label>
      <input type="text" class="form-control" [(ngModel)]="fichaAtendimentoOdontologico.cbo.codigo"
        name="profissionalResponsavelCbo" id="idprofissionalResponsavelCbo" mask="0000-99" required disabled>
    </div>
    <div class="col-md-2 mb-3">
      <label for="idubsCnes" requiredLabel>CNES</label>
      <input type="text" class="form-control" [(ngModel)]="fichaAtendimentoOdontologico.ubs.cnes" id="idubsCnes"
        name="ubsCnes" mask="0{7}" required disabled>
    </div>
    <div class="col-md-3 mb-3">
      <label for="ubsIne">INE</label>
      <input type="text" class="form-control" name="ubsIne" id="idubsIne" maxlength="10">
    </div>
    <div class="col-md-2 mb-3">
      <label for="iddata" requiredLabel>Data</label>
      <input type="date" [(ngModel)]="fichaAtendimentoOdontologico.data" class="form-control" name="data" id="iddata"
        required>
    </div>
  </div>
  <br>
  <fieldset class="form-group">
    <div class="form-row">
      <legend class="col-form-label col-md-3 pt-0" requiredLabel>Turno</legend>
      <div class="col-md-9">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="fichaAtendimentoOdontologico.turno" name="turno"
            id="idturnoM" [value]="1" required>
          <label class="form-check-label" for="idturnoM">Manhã</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="fichaAtendimentoOdontologico.turno" name="turno"
            id="idturnoT" [value]="2" required>
          <label class="form-check-label" for="idturnoT">Tarde</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="fichaAtendimentoOdontologico.turno" name="turno"
            id="idturnoN" [value]="3" required>
          <label class="form-check-label" for="idturnoN">Noite</label>
        </div>
      </div>
    </div>
    <br>
    <div class="form-group form-row">
      <label class="col-md-3 pt-0 col-form-label">Nº Prontuário</label>
      <div class="col-md-3 mb-3">
        <input type="text" maxlength="30" [(ngModel)]="fichaAtendimentoOdontologico.numProntuario" name="numProntuario"
          id="idnumProntuario" class="form-control">
      </div>
    </div>
    <div class="form-group form-row">
      <label class="col-md-3 pt-0 col-form-label" for="iddata" requiredLabel>Local Atendimento</label>
      <div class="col-md-3 mb-3">
        <select class="form-control" id="idlocalAtendimento" name="localAtendimento" placeholder="selecionar"
          [(ngModel)]="fichaAtendimentoOdontologico.localAtendimento.codigo" required>
          <option *ngFor="let local of locais" [value]="local.codigo">
            {{local.descricao}}
          </option>
        </select>
      </div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <label class="mt-2 mb-1 font-weight-bold" requiredLabel>Paciente</label>
    <div>
      <div class="form-row">
        <div class="col-md-3 mb-3">
          <label id="idcidadao" requiredLabel>Cidadão</label>
          <ngx-select-dropdown (open)="buscarCidadao('1')" (searchChange)="buscarCidadao($event)" tabindex="0"
            id="idcidadao" name="cidadao" [multiple]="false" [(ngModel)]="fichaAtendimentoOdontologico.cidadao"
            [config]="configCidadao" [options]="opCidadao" required></ngx-select-dropdown>
        </div>
        <div class="col-md-2 mb-3">
          <label for="iddata" requiredLabel>Data de Nascimento</label>
          <input type="date" class="form-control" id="idcidadaodata" name="cidadaodata"
            [(ngModel)]="fichaAtendimentoOdontologico.cidadao != null ? fichaAtendimentoOdontologico.cidadao.dataNascimento : fichaAtendimentoOdontologico.cidadao"
            required disabled>
        </div>
        <div class="col-md-3 mb-3">
          <div>
            <label>Sexo</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" id="idcidadaosexo" name="cidadaosexo" type="radio"
              [(ngModel)]="fichaAtendimentoOdontologico.cidadao != null ? fichaAtendimentoOdontologico.cidadao.sexo : fichaAtendimentoOdontologico.cidadao"
              value="MASCULINO" required disabled>
            <label class="form-check-label" for="idcidadaosexo">Masculino</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" id="idcidadaosexo" name="cidadaotosexo" type="radio"
              [(ngModel)]="fichaAtendimentoOdontologico.cidadao != null ? fichaAtendimentoOdontologico.cidadao.sexo : fichaAtendimentoOdontologico.cidadao"
              value="FEMININO" required disabled>
            <label class="form-check-label" for="idcidadaosexo">Feminimo</label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-2 mb-3">
          <label class="col-form-label">Peso(Kg)</label>
          <div>
            <input type="text" id="idcidadaopeso" name="cidadaopeso" class="form-control"
              [(ngModel)]="fichaAtendimentoOdontologico.peso">
          </div>
        </div>
        <div class="col-md-2 mb-3">
          <label class="col-form-label">Altura(Cm)</label>
          <div>
            <input type="text" id="idcidadaoaltura" name="cidadaoaltura" class="form-control"
              [(ngModel)]="fichaAtendimentoOdontologico.altura">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-3 mb-3">
          <div class="form-check">
            <input class="form-check-input" id="idcidadaonecessidade" name="cidadaonecessidade" type="checkbox"
              [(ngModel)]="fichaAtendimentoOdontologico.necessidadesEspeciais" [value]="true">
            <label class="form-check-label" for="idcidadaonecessidade">Paciente com Necessidades Especieais</label>
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <div class="form-check">
            <input class="form-check-input" id="idcidadaogestante" name="cidadaogestante" type="checkbox"
              [(ngModel)]="fichaAtendimentoOdontologico.gestante" [value]="true" [disabled]="gestanteDisabled()">
            <label class="form-check-label" for="idcidadaogestante">Gestante</label>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <div class="form-row">
      <legend class="col-form-label col-md-3 pt-0">
        <label requiredLabel>Tipo de Atendimento(Opção Única)</label>
      </legend>
      <div class="col-md-9">
        <div *ngFor="let tipo of tiposAtendimento" class="form-check">
          <input type="radio" name="tipoatendimento" id="tipoatendimento{{tipo.codigo}}"
            [(ngModel)]="fichaAtendimentoOdontologico.tipoAtendimento.codigo" class="form-check-input"
            [value]="tipo.codigo" required>
          <label class="form-check-label">{{tipo.descricao}}</label>
        </div>
      </div>
    </div>
    <br>
    <span *ngIf="fichaAtendimentoOdontologico.tipoAtendimento.codigo != 4">
      <div class="form-row">
        <legend class="col-form-label col-md-3 pt-0">
          <label>Tipo de Consulta(Opção
            Única)</label>{{ fichaAtendimentoOdontologico.tipoAtendimento.codigo == 2 ? ' *' : '' }}
        </legend>
        <div class="col-md-9">
          <div *ngFor="let tipo of tiposConsulta" class="form-check">
            <span *ngIf="tipoConsulta(tipo.codigo)">
              <input type="radio" name="tipoconsulta" id="tipoconsulta{{tipo.codigo}}"
                [(ngModel)]="fichaAtendimentoOdontologico.tipoConsultaOdonto.codigo" class="form-check-input"
                [value]="tipo.codigo" [required]="fichaAtendimentoOdontologico.tipoAtendimento.codigo == 2">
              <label class="form-check-label">{{tipo.descricao}}</label>
            </span>
          </div>
        </div>
      </div>
      <br>
    </span>
    <div class="form-row">
      <legend class="col-form-label col-md-3 pt-0">
        <label requiredLabel>Vigilância Saude Bucal(Opção Múltipla)</label>
      </legend>
      <div class="col-md-9">
        <div *ngFor="let vigilancia of listVigilacia" class="form-check">
          <input type="checkbox" name="vigilanciaSaude" id="vigilanciaSaude{{vigilancia.codigo}}"
            (change)="vigilanciaSaudeChange(vigilancia)" [checked]="vigilanciaSaudeChecked(vigilancia)"
            class="form-check-input">
          <label class="form-check-label">{{vigilancia.descricao}}</label>
        </div>
      </div>
    </div>
    <br>
    <div class="form-row">
      <legend class="col-form-label col-md-3 pt-0">
        <label>Procedimentos/Quantidade Realizada(Opção Múltipla)</label>
      </legend>
      <div class="col-md-9">
        <div *ngFor="let procedimento of procedimentos; let i = index" class="form-row">
          <div class="col-md-6">
            <input type="checkbox" name="procedimento" id="procedimento{{procedimento.id}}"
              (change)="procedimentoChange(procedimento)" [checked]="procedimentoChecked(procedimento)"
              class="form-check-input">
            <label class="form-check-label">{{procedimento.descricao}}</label>
          </div>
          <div *ngIf="procedimentoChecked(procedimento)" class="form-group form-row">
            <div class="col-md-3 mb-3">
              <input type="text" mask="0{2}" class="form-control" name="procedimento{{i}}"
                (change)="numProcedimento(procedimento, $event)" min="1" max="{{procedimento.max}}"
                [required]="procedimentoChecked(procedimento)" [value]="valueNumProcedimento(procedimento)">
            </div>
            <div class="col-md-9 mb-3">
              <label>min: 1 - max: {{procedimento.max}} *</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="form-row">
      <div class="col-md-2 mb-3">
        <label for="idprocedimentoQunt">Quantidade</label>
        <input type="number" class="form-control" name="procedimentoQunt" min="1" id="idprocedimentoQunt"
          [(ngModel)]="procedimentoSelecionado.quantidade">
      </div>
      <div class="col-md-8 mb-3">
        <label for="idProcedimento">Outros Procedimentos</label>
        <ngx-select-dropdown (open)="searchProcedimentoChange('a')" (searchChange)="searchProcedimentoChange($event)"
          tabindex="0" name="procedimento" [multiple]="false" [(ngModel)]="procedimentoSelecionado.proced"
          [config]="config" [options]="opProcedimentos">
        </ngx-select-dropdown>
      </div>
      <div class="col-md-2 mb-3">
        <button type="button" class="btn btn-primary" (click)="salvarProced()" 
          [disabled]="procedimentoSelecionado.proced == null || procedimentoSelecionado.proced.id == null && 
            procedimentoSelecionado.quantidade == 0 && fichaAtendimentoOdontologico.outrosProcedimentos.length >= 24">
          Salvar
        </button>
      </div>
    </div>
    <ngx-datatable class="bootstrap" [rows]="page.content" [loadingIndicator]="true"
        [columnMode]="columnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [externalPaging]="true"
        [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size">
      <ngx-datatable-column [sortable]="true" name="Quantidade"></ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" name="Procedimento" prop="proced.descricao"></ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" name="Ações">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <button class="btn btn-sm btn-warning" title="Editar" (click)="onEdit(row)"><em
              class="icon-pencil action edit"></em></button>
          <button class="btn btn-sm btn-danger" title="Excluir" (click)="onDelete(row)"><em
              class="icon-trash action delete"></em></button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
    <br>
    <div class="form-row">
      <legend class="col-form-label col-md-3 pt-0">
        <label>Fornecimento(Opção Múltipla)</label>
      </legend>
      <div class="col-md-9">
        <div *ngFor="let fornecimento of fornecimentos" class="form-check">
          <input type="checkbox" name="fornecimento" id="fornecimento{{fornecimento.codigo}}"
            (change)="fornecimentoChange(fornecimento)" [checked]="fornecimentoChecked(fornecimento)"
            class="form-check-input">
          <label class="form-check-label">{{fornecimento.descricao}}</label>
        </div>
      </div>
    </div>
    <br>
    <div class="form-row">
      <legend class="col-form-label col-md-3 pt-0">
        <label requiredLabel>Conduta Desfecho(Opção Múltipla)</label>
      </legend>
      <div class="col-md-9">
        <div *ngFor="let conduta of condutasDesfecho" class="form-check">
          <span *ngIf="condutaDesfechoDisabled(conduta.codigo)">
            <input type="checkbox" name="desfecho" id="desfecho{{conduta.codigo}}" (change)="condutaChange(conduta)"
              [checked]="condutaChecked(conduta)" class="form-check-input">
            <label class="form-check-label">{{conduta.descricao}}</label>
          </span>
        </div>
      </div>
    </div>
    <br>
    <div class="form-row">
      <legend class="col-form-label col-md-3 pt-0">
        <label>Conduta Encaminhamento(Opção Múltipla)</label>
      </legend>
      <div class="col-md-9">
        <div *ngFor="let conduta of condutasEncaminhamento" class="form-check">
          <input type="checkbox" name="encaminhamento" id="encaminhamento{{conduta.codigo}}"
            (change)="condutaChange(conduta)" [checked]="condutaChecked(conduta)" class="form-check-input">
          <label class="form-check-label">{{conduta.descricao}}</label>
        </div>
      </div>
    </div>
  </fieldset>
</form>