<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Editar Cadastro Domiciliar
    </div>
    <div class="card-body">
      <app-form-cadastro-domiciliar [formData]="formData$" (onSubmit)="onSubmitted($event)" #formCadastroDomiciliar>
      </app-form-cadastro-domiciliar>
    </div>
    <div class="card-footer">
      <spinner-button [showSpinner]="isLoadingSubmit">
        <button type="submit" form="formCadastroDomiciliar" class="btn btn-primary">
          Salvar
        </button>
      </spinner-button>
      <button type="button" class="btn btn-secondary" routerLink="/">
        Cancelar
      </button>
    </div>
  </div>
</div>
