<form name="formAdicionarCidadaoMoradia" (ngSubmit)="onSubmit()" #f="ngForm">

  <small class="text-muted"> (*) indica um campo obrigatório. </small>
  <br><br>

  <label class="mt-2 mb-1 font-weight-bold">Endereço/Local de permanência</label>
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label for="idprofissionalResponsavelCns" requiredLabel>CEP</label>
      <input type="text" class="form-control" #enderecoCep="ngModel" [(ngModel)]="moradia.cep"
        id="idenderecoCep" name="enderecoCep" mask="0{8}" required>
      <div [hidden]="enderecoCep.valid || enderecoCep.pristine">
        <small class="form-text text-danger">CEP é requerido.</small>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="idenderecoUf" requiredLabel>UF</label>
      <select class="form-control" id="idenderecoUf" #enderecoUf="ngModel" name="enderecoUf"
        [(ngModel)]="moradia.estado" (change)="estadoChange()" required>
        <option *ngFor="let opcao of opForm.opcoesEstados" [value]="opcao">{{opcao}}</option>
      </select>
      <div [hidden]="enderecoUf.valid || enderecoUf.pristine">
        <small class="form-text text-danger">Estado é requerido.</small>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="idenderecoMunicipio" requiredLabel>Municipio</label>
      <ngx-select-dropdown (open)="buscarMunicipio('a')" (searchChange)="buscarMunicipio($event)"
        (change)="municipioChange($event)" #enderecoMunicipio="ngModel" tabindex="0" id="idenderecoMunicipio"
        name="enderecoMunicipio" [multiple]="false"
        [(ngModel)]="moradia.municipio"
        [config]="config" [options]="municipios" required></ngx-select-dropdown>
      <div [hidden]="enderecoMunicipio.valid || enderecoMunicipio.pristine">
        <small class="form-text text-danger">Municipio é requerido.</small>
      </div>
    </div>
    <div class="col-md-2 mb-3">
      <label for="idmicroarea">Microárea {{ !moradia.stForaArea ? ' *' : '' }}</label>
      <input type="text" class="form-control" id="idmicroarea" name="microarea"
        [(ngModel)]="moradia.microarea" [disabled]="moradia.stForaArea"
        [required]="!moradia.stForaArea" maxlength="2">
    </div>
    <div class="col-md-1 mb-3" style="align-self: flex-end;">
      <input type="checkbox" id="idfa" name="fa" [(ngModel)]="moradia.stForaArea" [value]="true">
      <label>FA</label>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="idenderecoBairro" requiredLabel>Bairro</label>
      <input type="text" class="form-control" id="idenderecoBairro" name="enderecoBairro" #enderecoBairro="ngModel"
        [(ngModel)]="moradia.bairro" required>
      <div [hidden]="enderecoBairro.valid || enderecoBairro.pristine">
        <small class="form-text text-danger">Bairro é requerido.</small>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="idtipoLogradouro" requiredLabel>Tipo Logradouro</label>
      <select class="form-control" id="idtipoLogradouro" name="tipoLogradouro" #tipoLogradouro="ngModel"
        [(ngModel)]="moradia.tipoLogradouro.codigo" required>
        <option *ngFor="let op of opForm.opLogradouro" [value]="op.codigo">{{op.descricao}}</option>
      </select>
      <div [hidden]="tipoLogradouro.valid || tipoLogradouro.pristine">
        <small class="form-text text-danger">Tipo Logradouro é requerido.</small>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="idenderecoLogradouro" requiredLabel>Logradouro</label>
      <input type="text" class="form-control" id="idenderecoLogradouro" name="enderecoLogradouro"
        #enderecoLogradouro="ngModel" [(ngModel)]="moradia.nomeLogradouro" required>
      <div [hidden]="enderecoLogradouro.valid || enderecoLogradouro.pristine">
        <small class="form-text text-danger">Logradouro é requerido.</small>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-2 mb-3">
      <label for="idenderecoNumero">Número {{!moradia.stSemNumero ? ' *' : ''}}</label>
      <input type="text" class="form-control" id="idenderecoNumero" #enderecoNumero="ngModel" name="enderecoNumero"
        [(ngModel)]="moradia.numero" [disabled]="moradia.stSemNumero"
        [required]="!moradia.stSemNumero">
      <div [hidden]="enderecoNumero.valid || enderecoNumero.pristine">
        <small class="form-text text-danger">Número do endereco é requerido.</small>
      </div>
    </div>
    <div class="col-md-2 mb-3" style="align-self: flex-end;">
      <input type="checkbox" id="idsemNumero" name="semNumero" [(ngModel)]="moradia.stSemNumero"
        [value]="true">
      <label>Sem Número</label>
    </div>
    <div class="col-md-4 mb-3">
      <label for="idenderecoComplemento">Complemento</label>
      <input type="text" class="form-control" id="idenderecoComplemento" name="enderecoComplemento"
        [(ngModel)]="moradia.complemento">
    </div>
    <div class="col-md-4 mb-3">
      <label for="idenderecoReferencia">Ponto de Referência</label>
      <input type="text" class="form-control" id="idenderecoReferencia" name="enderecoReferencia"
        [(ngModel)]="moradia.pontoReferencia">
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="idtelefoneContato">Telefone Contato</label>
      <input type="text" class="form-control" id="idtelefoneContato" name="telefoneContato" #telefoneContato="ngModel"
        [(ngModel)]="moradia.telefoneContato" pattern="[0-9]{10,11}$">
      <small class="text-muted">Use apenas números com DDD (10 a 11 dígitos).</small>
      <div [hidden]="telefoneContato.valid || telefoneContato.pristine">
        <small class="form-text text-danger">Telefone Contato inválido.</small>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="idtelefone">Telefone Residência</label>
      <input type="text" class="form-control" id="idtelefoneResidencia" name="telefoneResidencia"
        #telefoneResidencia="ngModel" [(ngModel)]="moradia.telefoneResidencia" pattern="[0-9]{10,11}$">
      <small class="text-muted">Use apenas números com DDD (10 a 11 dígitos).</small>
      <div [hidden]="telefoneResidencia.valid || telefoneResidencia.pristine">
        <small class="form-text text-danger">Telefone da Residência inválido.</small>
      </div>
    </div>
  </div>

  <div class="form-row mb-3">
    <spinner-button [showSpinner]="isLoadingSubmit">
      <button type="submit"  class="btn btn-primary"
        [disabled]>
        Salvar
      </button>
    </spinner-button>
    <button type="button" class="btn btn-secondary" >
      Cancelar
    </button>
  </div>

</form>
