
<div class="row">
    <div style="border-bottom: 3px solid; padding-bottom: 16px; text-align: center;">
        <div class="col-12"><h3>{{solicitacao.ubs.nome}}</h3></div>
    </div>
    <hr>
    <div style="text-align: center; font-size: 18px;" *ngIf="solicitacao.cidadao"> 
        <div class="col-12"><b>Nome do(a) paciente: </b>{{solicitacao?.cidadao?.nome}}</div>
        <div class="col-12"><b>Data de nascimento: </b>{{solicitacao?.cidadao?.dataNascimento | date: 'dd/MM/yyyy'}}</div>
        <div class="col-12"><b>Idade: </b>{{idade()}}</div>
        <div class="col-12"><b>Municipio: </b>{{solicitacao?.cidadao?.municipioNascimento}}</div>
    </div>
    <div id="dados-exame" class="dados-exame col-12" *ngIf="solicitacao.subGrupo">
        <div style="text-align: center; margin-top: 20px;"><b>{{solicitacao.subGrupo.descricao}}</b></div>
        <br>
        <div style="margin-top: 5px;" *ngFor="let procedimento of solicitacao.procedimentos">
            {{procedimento.descricao}}
        </div>
    </div>
    <br>
    <br>
    <br>
    <div style="text-align: center; font-size: 16px; margin-top: 30px;">
        <div class="col-12">Dr. {{profissional?.nome}}</div>
        <div class="col-12">CRM: {{profissional?.crmCorem}}</div>
        <div class="col-12">{{ today | date: 'dd/MM/yyyy - HH:mm'}}</div>
    </div>
</div>
