.header-pdf{
    border-bottom: 3px solid;
    padding-bottom: 16px;
    text-align: center;
}

.dados-paciente{
    text-align: center;
    font-size: large;
}

.dados-medico{
    text-align: center;
    font-size: large;
    margin-top: 20px;
}

.dados-exame-subgrupo{
    text-align: center;
    margin-top: 20px;
}

.dados-exame-procedimentos{
    margin-top: 5px;
}

