<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div>
                <img src="assets/img/brand/sigs-logo-text.png" style="width: 50%;" class="mx-auto d-block" alt="SIGS Logo">
              </div>
              <div class="card-body">
                <form (ngSubmit)="onSubmit()" class="form-signin" ngNativeValidate>
                  <h1>Entrar</h1>
                  <p class="text-muted">Faça login em sua conta</p>
                  <alert type="danger" *ngIf="showAlert">{{messageAlert}}</alert>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><em class="icon-user"></em></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Login" autocomplete="username" id="login" name="login" [(ngModel)]="usuario.login" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><em class="icon-lock"></em></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Senha" autocomplete="current-password" id="senha" name="senha" [(ngModel)]="usuario.senha" required>
                  </div>
                  <div class="row">
                    <div class="col-5">
                      <spinner-button [showSpinner]="isLoading" [spinnerPos]=2>
                        <button type="submit" class="btn btn-primary px-4">
                          Entrar
                        </button>
                      </spinner-button>
                    </div>
                    <div class="col-7 text-right">
                      <button type="button" class="btn btn-link px-0"
                        popover="Entre em contato com a administração."
                        triggers="focus" placement="right">Esqueceu sua senha?</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
