<i class="fa fa-ellipsis-h" *ngIf="status==Status.READY"></i>
<span class="spinner-border spinner-border-sm" *ngIf="status==Status.LOADING"></span>
<i class="fa fa-check text-success" *ngIf="status==Status.SUCCESS"></i>
<i class="fa fa-times text-danger" *ngIf="status==Status.ERROR"></i>