<label class="mt-2 mb-1 font-weight-bold">Profissional Responsável</label>
<form
  id="formExame"
  name="formExame"
  (ngSubmit)="onFormSubmit()"
  #form="ngForm"
>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="idprofissionalResponsavelCns" requiredLabel
        >CNS do Profissional</label
      >
      <input
        type="text"
        class="form-control"
        [(ngModel)]="solicitacao.profissional.cns"
        id="idprofissionalResponsavelCns"
        name="profissionalResponsavelCns"
        mask="0{15}"
        required
        disabled
      />
    </div>
    <div class="col-md-4 mb-3">
      <label for="idubsCnes" requiredLabel>CNES</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="solicitacao.ubs.cnes"
        id="idubsCnes"
        name="ubsCnes"
        mask="0{7}"
        required
        disabled
      />
    </div>
    <div class="col-md-4 mb-3">
      <label for="iddata" requiredLabel>Data</label>
      <input
        type="date"
        [(ngModel)]="solicitacao.data"
        class="form-control"
        name="data"
        id="iddata"
        required
        disabled
      />
    </div>
  </div>
  <fieldset class="form-group">
    <label class="mt-2 mb-1 font-weight-bold" requiredLabel>Paciente</label>
    <div>
      <div class="form-row">
        <div class="col-md-3 mb-3">
          <label id="idcidadao" requiredLabel>Cidadão</label>
          <ngx-select-dropdown
            (open)="buscarCidadao('1')"
            (searchChange)="buscarCidadao($event)"
            tabindex="0"
            id="idcidadao"
            name="cidadao"
            [multiple]="false"
            [(ngModel)]="solicitacao.cidadao"
            [config]="configCidadao"
            [options]="opCidadao"
            required
            [disabled]="profissional"
          >
          </ngx-select-dropdown>
        </div>
        <div class="col-md-2 mb-3">
          <label for="iddata" requiredLabel>Data de Nascimento</label>
          <input
            type="date"
            class="form-control"
            id="idcidadaodata"
            name="cidadaodata"
            [(ngModel)]="
              solicitacao.cidadao != null
                ? solicitacao.cidadao.dataNascimento
                : solicitacao.cidadao
            "
            required
            disabled
          />
        </div>
        <div class="col-md-3 mb-3">
          <div>
            <label>Sexo</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              id="idcidadaosexo"
              name="cidadaosexo"
              type="radio"
              [(ngModel)]="
                solicitacao.cidadao != null
                  ? solicitacao.cidadao.sexo
                  : solicitacao.cidadao
              "
              value="MASCULINO"
              required
              disabled
            />
            <label class="form-check-label" for="idcidadaosexo"
              >Masculino</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              id="idcidadaosexo"
              name="cidadaotosexo"
              type="radio"
              [(ngModel)]="
                solicitacao.cidadao != null
                  ? solicitacao.cidadao.sexo
                  : solicitacao.cidadao
              "
              value="FEMININO"
              required
              disabled
            />
            <label class="form-check-label" for="idcidadaosexo">Feminimo</label>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <label class="mt-2 mb-1 font-weight-bold" requiredLabel>Exame</label>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="idSubGrupo">Tipo de Exame</label>
        <ngx-select-dropdown
          (open)="searchSubGrupoChange('A')"
          (searchChange)="searchSubGrupoChange($event)"
          tabindex="0"
          name="subgrupo"
          [multiple]="false"
          [(ngModel)]="solicitacao.subGrupo"
          [config]="configSubGrupo"
          [options]="subgruposSearch"
          [disabled]="profissional"
          required
        >
        </ngx-select-dropdown>
      </div>
      <div class="col-md-6 mb-3">
        <label for="idProcedimento">Exames</label>
        <ngx-select-dropdown
          (open)="searchProcedimentoChange('a')"
          (searchChange)="searchProcedimentoChange($event)"
          tabindex="0"
          name="procedimento"
          [multiple]="true"
          [(ngModel)]="solicitacao.procedimentos"
          [config]="config"
          [options]="procedimentos"
          [disabled]="profissional"
          required
        >
        </ngx-select-dropdown>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-12 mb-3">
        <textarea
          class="form-control"
          rows="3"
          maxlength="1000"
          name="observacao"
          [(ngModel)]="solicitacao.observacao"
          placeholder="Observação... (até 1000 caracteres)"
          [disabled]="profissional" >
        </textarea>
      </div>
    </div>
  </fieldset>
</form>
