<form name="formInformacaoSocioDemografica" (ngSubmit)="onSubmit()" #f="ngForm">
  <small class="text-muted"> (*) indica um campo obrigatório. </small>
  <br><br>
  <div class="form-row">
    <div *ngIf="informacao.ehResponsavel == false" class="col-md-4 mb-3">
      <label for="idrelacaoParentesco">Relação Parentesco</label> {{ informacao.ehResponsavel == false ? ' *' : '' }}
      <div *ngFor="let opcao of opcaoForm.opcaoRelacaoParentesco" class="form-check">
        <input type="radio" name="relacaoParentesco" [(ngModel)]="informacao.relacaoParentesco.codigo"
          class="form-check-input" [value]="opcao.codigo" [required]="informacao.ehResponsavel == false">
        <label class="form-check-label">{{opcao.descricao}}</label>
      </div>
    </div>
    <div class="col-md-8 mb-3">
      <label for="idocupacao">Ocupação</label>
      <ngx-select-dropdown (open)="searchOcupacaoChange('a')" (searchChange)="searchOcupacaoChange($event)" tabindex="0"
        name="cbo" [multiple]="false" id="idocupacao" [(ngModel)]="informacao.cbo" [config]="config"
        [options]="optionsOcupacao"></ngx-select-dropdown>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <div>
        <label for="idfrequentaEscola">Frequenta escola ou creche?</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" id="idfrequentaEscola" name="frequentaEscola" type="radio"
          [(ngModel)]="informacao.statusFrequentaEscola" [value]="true">
        <label class="form-check-label" for="idfrequentaEscola">Sim</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" id="idfrequentaEscola" name="frequentaEscola" type="radio"
          [(ngModel)]="informacao.statusFrequentaEscola" [value]="false">
        <label class="form-check-label" for="idfrequentaEscola">Não</label>
      </div>
    </div>
    <div class="col-md-8 mb-3">
      <label for="idcurso">Curso mais Elevado que frequenta ou frequentou?</label>
      <div *ngFor="let opcao of opcaoForm.opcaoCurso" class="form-check">
        <input type="radio" id="idcurso" name="curso" [(ngModel)]="informacao.grauInstrucaoCidadao.codigo"
          class="form-check-input" [value]="opcao.codigo">
        <label class="form-check-label">{{opcao.descricao}}</label>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div *ngIf="informacao.idade <= 9" class="col-md-4 mb-3">
      <legend class="col-form-label col-md-4 pt-0">
        <label>Crianças de 0 a 9 anos com quem fica?</label>
      </legend>
      <div class="col-md-6">
        <div *ngFor="let opcao of opcaoForm.opcaoResponsavel" class="form-check">
          <input type="checkbox" name="responsavel" id="responsavel{{opcao.codigo}}" (change)="responsavelChange(opcao)"
            [checked]="responsavelChecked(opcao)" class="form-check-input">
          <label class="form-check-label">{{opcao.descricao}}</label>
        </div>
      </div>
    </div>
    <div class="col-md-8 mb-3">
      <label for="idmercado">Situação no mercado de trabalho</label>
      <div *ngFor="let opcao of opcaoForm.opcaoSituacaoMercado" class="form-check">
        <input type="radio" id="idmercado" name="mercado" [(ngModel)]="informacao.situacaoMercadoTrabalho.codigo"
          class="form-check-input" [value]="opcao.codigo">
        <label class="form-check-label">{{opcao.descricao}}</label>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <div>
        <label for="idfrequentaCuidador">Frequenta cuidador tradicional?</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" id="idfrequentaCuidador" name="frequentaCuidador" type="radio"
          [(ngModel)]="informacao.statusFrequentaBenzedeira" [value]="true">
        <label class="form-check-label" for="idfrequentaCuidador">Sim</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" id="idfrequentaCuidador" name="frequentaCuidador" type="radio"
          [(ngModel)]="informacao.statusFrequentaBenzedeira" [value]="false">
        <label class="form-check-label" for="idfrequentaCuidador">Não</label>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div>
        <label for="idparticipaGrupoComunitario">Participa de algum grupo comunitário?</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" id="idparticipaGrupoComunitario" name="participaGrupoComunitario" type="radio"
          [(ngModel)]="informacao.statusParticipaGrupoComunitario" [value]="true">
        <label class="form-check-label" for="idparticipaGrupoComunitario">Sim</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" id="idparticipaGrupoComunitario" name="participaGrupoComunitario" type="radio"
          [(ngModel)]="informacao.statusParticipaGrupoComunitario" [value]="false">
        <label class="form-check-label" for="idparticipaGrupoComunitario">Não</label>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div>
        <label for="idplanoSaudePrivado">Possui plano de saúde privado?</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" id="idplanoSaudePrivado" name="planoSaudePrivado" type="radio"
          [(ngModel)]="informacao.statusPossuiPlanoSaudePrivado" [value]="true">
        <label class="form-check-label" for="idplanoSaudePrivado">Sim</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" id="idplanoSaudePrivado" name="planoSaudePrivado" type="radio"
          [(ngModel)]="informacao.statusPossuiPlanoSaudePrivado" [value]="false">
        <label class="form-check-label" for="idplanoSaudePrivado">Não</label>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <div>
        <label for="idopcomunidadeTradicional">É membro de povo ou comunidade tradicional?</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" id="idopcomunidadeTradicional" name="opcomunidadeTradicional" type="radio"
          [(ngModel)]="informacao.statusMembroPovoComunidadeTradicional" [value]="true">
        <label class="form-check-label" for="idopcomunidadeTradicional">Sim</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" id="idopcomunidadeTradicional" name="opcomunidadeTradicional" type="radio"
          [(ngModel)]="informacao.statusMembroPovoComunidadeTradicional" [value]="false">
        <label class="form-check-label" for="idopcomunidadeTradicional">Não</label>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="idcomunidadeTradicional">Se sim, qual?</label>
      <div *ngFor="let opcao of opcaoForm.opcaoComunidade" class="form-check">
        <input type="radio" id="idcomunidadeTradicional" name="comunidadeTradicional"
          [(ngModel)]="informacao.povoComunidadeTradicional.id" class="form-check-input" [value]="opcao.id">
        <label class="form-check-label">{{opcao.descricao}}</label>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <div>
        <label for="idoporientacaosexual">Deseja informar orientação sexual?</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" id="idoporientacaosexual" name="oporientacaosexual" type="radio"
          [(ngModel)]="informacao.statusDesejaInformarOrientacaoSexual" [value]="true">
        <label class="form-check-label" for="idoporientacaosexual">Sim</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" id="idoporientacaosexual" name="oporientacaosexual" type="radio"
          [(ngModel)]="informacao.statusDesejaInformarOrientacaoSexual" [value]="false">
        <label class="form-check-label" for="idoporientacaosexual">Não</label>
      </div>
      <div>
        <label for="idorientacaosexual">Se sim, qual?</label> {{ informacao.statusDesejaInformarOrientacaoSexual ? ' *'
        : '' }}
        <div *ngFor="let opcao of opcaoForm.opcaoOrientacaoSexual" class="form-check">
          <input type="radio" id="idorientacaosexual" name="orientacaosexual"
            [(ngModel)]="informacao.orientacaoSexual.codigo" class="form-check-input" [value]="opcao.codigo"
            [required]="informacao.statusDesejaInformarOrientacaoSexual">
          <label class="form-check-label">{{opcao.descricao}}</label>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div>
        <label for="idopidentidadeGenero">Deseja informar identidade gênero?</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" id="idopidentidadeGenero" name="opidentidadeGenero" type="radio"
          [(ngModel)]="informacao.statusDesejaInformarIdentidadeGenero" [value]="true">
        <label class="form-check-label" for="idopidentidadeGenero">Sim</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" id="idopidentidadeGenero" name="opidentidadeGenero" type="radio"
          [(ngModel)]="informacao.statusDesejaInformarIdentidadeGenero" [value]="false">
        <label class="form-check-label" for="idopidentidadeGenero">Não</label>
      </div>
      <div>
        <label for="idorientacaosexual">Se sim, qual?</label> {{ informacao.statusDesejaInformarIdentidadeGenero ? ' *'
        : '' }}
        <div *ngFor="let opcao of opcaoForm.opcaoIdentidadeGenero" class="form-check">
          <input type="radio" id="ididentidadeGenero" name="identidadeGenero"
            [(ngModel)]="informacao.identidadeGenero.codigo" class="form-check-input" [value]="opcao.codigo"
            [required]="informacao.statusDesejaInformarIdentidadeGenero">
          <label class="form-check-label">{{opcao.descricao}}</label>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div>
        <label for="idopdeficiencia">Tem alguma deficiência?</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" id="idopdeficiencia" name="opdeficiencia" type="radio"
          [(ngModel)]="informacao.statusTemAlgumaDeficiencia" [value]="true">
        <label class="form-check-label" for="idopdeficiencia">Sim</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" id="idopdeficiencia" name="opdeficiencia" type="radio"
          [(ngModel)]="informacao.statusTemAlgumaDeficiencia" [value]="false">
        <label class="form-check-label" for="idopdeficiencia">Não</label>
      </div>
      <div>
        <label>Se sim, quais?</label> {{ informacao.statusTemAlgumaDeficiencia ? ' *' : '' }}
        <div *ngFor="let opcao of opcaoForm.opcaoDeficiencia" class="form-check">
          <input type="checkbox" name="deficiencia" id="iddeficiencia{{opcao.codigo}}"
            (change)="deficienciaChange(opcao)" [checked]="deficienciaChecked(opcao)" class="form-check-input"
            [required]="informacao.statusTemAlgumaDeficiencia">
          <label class="form-check-label">{{opcao.descricao}}</label>
        </div>
      </div>
    </div>
  </div>
  <hr style="border-style:none" />
  <spinner-button [showSpinner]="isLoading">
    <button type="submit" class="btn btn-primary" [disabled]="!f.form.valid">
      Salvar
    </button>
  </spinner-button>
  <a class="btn btn-secondary btn-md" routerLink="/">Cancelar</a>
</form>