<form name="formCondicoesSaude" (ngSubmit)="onSubmit()" #form="ngForm">

  <small class="text-muted"> (*) indica um campo obrigatório. </small>
  <br><br>

  <div class="form-row">
    <div class="mt-2 mb-1 font-weight-bold">Condições/Situações de Saúde Gerais</div>
  </div>

  <div class="form-row mb-3" *ngIf="cidadao.sexo == 'FEMININO'">

      <div class="col-md-4">
        <legend for="idStatusEhGestante" class="col-form-label">Está gestante?</legend>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="statusEhGestante" id="idStatusEhGestante"
            [(ngModel)]="condicoesSaude.condicaoTemporaria.statusEhGestante" [value]="true">
          <label class="form-check-label" for="idStatusEhGestante">Sim</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="statusEhGestante" id="idStatusEhGestante"
            [(ngModel)]="condicoesSaude.condicaoTemporaria.statusEhGestante" [value]="false">
          <label class="form-check-label" for="idStatusEhGestante">Não</label>
        </div>
      </div>

      <div class="col-md-4" *ngIf="this.condicoesSaude.condicaoTemporaria.statusEhGestante == true">
        <legend class="col-form-label">Se sim, qual é a maternidade de referência?</legend>
        <div>
          <input type="text" class="form-control" id="idMaternidadeReferencia" name="maternidadeReferencia"
            [(ngModel)]="condicoesSaude.condicaoTemporaria.maternidadeDeReferencia"
            [disabled]="!condicoesSaude.condicaoTemporaria.statusEhGestante">
        </div>
      </div>

  </div>

  <div class="form-row mb-3">
    <div class="col-md-6">
      <legend class="col-form-label" for="idConsideracaoPeso">Sobre seu peso, você se considera?</legend>

      <div *ngFor="let op of informacao.consideracaoPeso" class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="consideracaoPeso" id="idConsideracaoPeso"
          [(ngModel)]="condicoesSaude.condicaoTemporaria.consideracaoPeso" [value]="op" />
        <label class="form-check-label" for="idConsideracaoPeso{{op.codigo}}">{{op.descricao}}</label>
      </div>
    </div>
  </div>

  <div class="form-row mb-3">
    <div class="col-md-4">
      <legend class="col-form-label" for="idStatusEhFumante">Está fumante?</legend>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="statusEhFumante" id="idStatusEhFumante"
          [(ngModel)]="condicoesSaude.condicaoTemporaria.statusEhFumante" [value]="true" />
        <label class="form-check-label" for="idStatusEhFumante">Sim</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="statusEhFumante" id="idStatusEhFumante"
          [(ngModel)]="condicoesSaude.condicaoTemporaria.statusEhFumante" [value]="false" />
        <label class="form-check-label" for="idStatusEhFumante">Não</label>
      </div>
    </div>
  </div>

  <div class="form-row mb-3">
    <div class="col-md-4">
      <legend class="col-form-label" for="idStatusEhDependenteAlcool">Faz uso de álcool?</legend>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="statusEhDependenteAlcool" id="idStatusEhDependenteAlcool"
          [(ngModel)]="condicoesSaude.condicaoTemporaria.statusEhDependenteAlcool" [value]="true" />
        <label class="form-check-label" for="idStatusEhDependenteAlcool">Sim</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="statusEhDependenteAlcool" id="idStatusEhDependenteAlcool"
          [(ngModel)]="condicoesSaude.condicaoTemporaria.statusEhDependenteAlcool" [value]="false" />
        <label class="form-check-label" for="idStatusEhDependenteAlcool">Não</label>
      </div>
    </div>
  </div>

  <div class="form-row mb-3">
    <div class="col-md-4">
      <legend class="col-form-label" for="idStatusEhDependenteOutrasDrogas">Faz uso de outras drogas?</legend>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="statusEhDependenteOutrasDrogas"
          id="idStatusEhDependenteOutrasDrogas"
          [(ngModel)]="condicoesSaude.condicaoTemporaria.statusEhDependenteOutrasDrogas" [value]="true" />
        <label class="form-check-label" for="idStatusEhDependenteOutrasDrogas">Sim</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="statusEhDependenteOutrasDrogas"
          id="idStatusEhDependenteOutrasDrogas"
          [(ngModel)]="condicoesSaude.condicaoTemporaria.statusEhDependenteOutrasDrogas" [value]="false" />
        <label class="form-check-label" for="idStatusEhDependenteOutrasDrogas">Não</label>
      </div>
    </div>
  </div>

  <div class="form-row mb-3">
    <div class="col-md-4">
      <legend class="col-form-label" for="idStatusTemHipertençãoArterial">Tem hipertenção arterial?</legend>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="statusTemHipertençãoArterial"
          id="idStatusTemHipertençãoArterial" [(ngModel)]="condicoesSaude.statusTemHipertensaoArterial"
          [value]="true" />
        <label class="form-check-label" for="idStatusTemHipertençãoArterial">Sim</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="statusTemHipertençãoArterial"
          id="idStatusTemHipertençãoArterial" [(ngModel)]="condicoesSaude.statusTemHipertensaoArterial"
          [value]="false" />
        <label class="form-check-label" for="idStatusTemHipertençãoArterial">Não</label>
      </div>
    </div>
  </div>

  <div class="form-row mb-3">
    <div class="col-md-4">
      <legend class="col-form-label" for="idStatusTemDiabetes">Tem diabetes?</legend>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="statusTemDiabetes" id="idStatusTemDiabetes"
          [(ngModel)]="condicoesSaude.condicaoTemporaria.statusTemDiabetes" [value]="true" />
        <label class="form-check-label" for="idStatusTemDiabetes">Sim</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="statusTemDiabetes" id="idStatusTemDiabetes"
          [(ngModel)]="condicoesSaude.condicaoTemporaria.statusTemDiabetes" [value]="false" />
        <label class="form-check-label" for="idStatusTemDiabetes">Não</label>
      </div>
    </div>
  </div>

  <div class="form-row mb-3">
    <div class="col-md-4">
      <legend class="col-form-label" for="idStatusTeveInfarto">Teve infarto?</legend>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="statusTeveInfarto" id="idStatusTeveInfarto"
          [(ngModel)]="condicoesSaude.statusTeveInfarto" [value]="true" />
        <label class="form-check-label" for="idStatusTeveInfarto">Sim</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="statusTeveInfarto" id="idStatusTeveInfarto"
          [(ngModel)]="condicoesSaude.statusTeveInfarto" [value]="false" />
        <label class="form-check-label" for="idStatusTeveInfarto">Não</label>
      </div>
    </div>
  </div>

  <div class="form-row mb-3">
    <div class="col-md-4">
      <legend class="col-form-label" for="idDoencaCardiaca">Tem doença cardíaca/do coração?</legend>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="doencaCardiaca" id="idDoencaCardiaca"
          [(ngModel)]="condicoesSaude.statusTeveDoencaCardiaca" [value]="true" />
        <label class="form-check-label" for="idDoencaCardiaca">Sim</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="doencaCardiaca" id="idDoencaCardiaca"
          [(ngModel)]="condicoesSaude.statusTeveDoencaCardiaca" [value]="false" />
        <label class="form-check-label" for="idDoencaCardiaca">Não</label>
      </div>
    </div>

    <div class="col-md-8" *ngIf="this.condicoesSaude.statusTeveDoencaCardiaca == true">
      <legend class="col-form-label" for="idDoencaCardiaca">*Se sim, indique qual(is):</legend>
      <div *ngFor="let op of informacao.listCardiaca" class="form-check form-check-inline">
        <input
          class="form-check-input" type="checkbox"
          [checked]="cardiacaChecked(op)"
          (change)="cardiacaChange(op)"
          id="idCardiaca" name="cardiaca"
          [disabled]="!condicoesSaude.statusTeveDoencaCardiaca"
          [required]="condicoesSaude.statusTeveDoencaCardiaca"
          />
        <label class="form-check-label" for="idDoencaCardiaca{{op.codigo}}">{{op.descricao}}</label>
      </div>
    </div>
  </div>

  <div class="form-row mb-3">
    <div class="col-md-4">
      <legend class="col-form-label" for="idDoencaRins">Tem ou teve problema nos rins?</legend>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="doencaRins" id="idDoencaRins"
          [(ngModel)]="condicoesSaude.statusTemTeveDoencasRins" [value]="true" />
        <label class="form-check-label" for="idDoencaRins">Sim</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="doencaRins" id="idDoencaRins"
          [(ngModel)]="condicoesSaude.statusTemTeveDoencasRins" [value]="false" />
        <label class="form-check-label" for="idDoencaRins">Não</label>
      </div>
    </div>

    <div class="col-md-8" *ngIf="this.condicoesSaude.statusTemTeveDoencasRins == true">
      <legend class="col-form-label" for="idDoencaRins">*Se sim, indique qual(is):</legend>
      <div *ngFor="let op of informacao.listRins" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" [checked]="rinsChecked(op)" (change)="rinsChange(op)"
          id="idRins" name="rins" [disabled]="!condicoesSaude.statusTemTeveDoencasRins"
          [required]="condicoesSaude.statusTemTeveDoencasRins" />
        <label class="form-check-label" for="idDoencaRins{{op.codigo}}">{{op.descricao}}</label>
      </div>
    </div>
  </div>

  <div class="form-row mb-3">
    <div class="col-md-4">
      <legend class="col-form-label" for="idDoencaRespiratoria">Tem doença respiratória/no pulmão?</legend>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="doencaRespiratoria" id="idDoencaRespiratoria"
          [(ngModel)]="condicoesSaude.statusTemDoencaRespiratoria" [value]="true" />
        <label class="form-check-label" for="idDoencaRespiratoria">Sim</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="doencaRespiratoria" id="idDoencaRespiratoria"
          [(ngModel)]="condicoesSaude.statusTemDoencaRespiratoria" [value]="false" />
        <label class="form-check-label" for="idDoencaRespiratoria">Não</label>
      </div>
    </div>

    <div class="col-md-8" *ngIf="this.condicoesSaude.statusTemDoencaRespiratoria == true">
      <legend class="col-form-label" for="idDoencaRespiratoria">*Se sim, indique qual(is):</legend>
      <div *ngFor="let op of informacao.listRespiratoria" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="doencaRespiratoria" id="idDoencaRespiratoria"
          [checked]="respiratoriaChecked(op)" (change)="respiratoriaChange(op)" id="idAsma" name="asma"
          [disabled]="!condicoesSaude.statusTemDoencaRespiratoria"
          [required]="condicoesSaude.statusTemDoencaRespiratoria" />
        <label class="form-check-label" for="idDoencaRespiratoria{{op.codigo}}">{{op.descricao}}</label>
      </div>
    </div>
  </div>

  <div class="form-row mb-3">
    <div class="col-md-4">
      <legend class="col-form-label" for="idstatusTemHanseniase">Está com hanseníase?</legend>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="statusTemHanseniase" id="idstatusTemHanseniase"
          [(ngModel)]="condicoesSaude.statusTemHanseniase" [value]="true" />
        <label class="form-check-label" for="idstatusTemHanseniase">Sim</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="statusTemHanseniase" id="idstatusTemHanseniase"
          [(ngModel)]="condicoesSaude.statusTemHanseniase" [value]="false" />
        <label class="form-check-label" for="idstatusTemHanseniase">Não</label>
      </div>
    </div>
  </div>

  <div class="form-row mb-3">
    <div class="col-md-4">
      <legend class="col-form-label" for="idstatusTemTuberculose">Está com tuberculose?</legend>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="statusTemTuberculose" id="idstatusTemTuberculose"
          [(ngModel)]="condicoesSaude.statusTemTuberculose" [value]="true" />
        <label class="form-check-label" for="idstatusTemTuberculose">Sim</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="statusTemTuberculose" id="idstatusTemTuberculose"
          [(ngModel)]="condicoesSaude.statusTemTuberculose" [value]="false" />
        <label class="form-check-label" for="idstatusTemTuberculose">Não</label>
      </div>
    </div>
  </div>

  <div class="form-row mb-3">
    <div class="col-md-4">
      <legend class="col-form-label" for="idstatusTemTeveCancer">Tem ou teve cancêr?</legend>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="statusTemTeveCancer" id="idstatusTemTeveCancer"
          [(ngModel)]="condicoesSaude.statusTemTeveCancer" [value]="true" />
        <label class="form-check-label" for="idstatusTemTeveCancer">Sim</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="statusTemTeveCancer" id="idstatusTemTeveCancer"
          [(ngModel)]="condicoesSaude.statusTemTeveCancer" [value]="false" />
        <label class="form-check-label" for="idstatusTemTeveCancer">Não</label>
      </div>
    </div>
  </div>

  <div class="form-row mb-3">

    <div class="col-md-6">
      <legend class="col-form-label" for="idStatusTeveInternacaoUltimos12Meses">Teve alguma internação nos últimos 12
        meses?</legend>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="statusTeveInternacaoUltimos12Meses"
          id="idStatusTeveInternacaoUltimos12Meses"
          [(ngModel)]="condicoesSaude.condicaoTemporaria.statusTeveInternadoem12Meses" [value]="true" />
        <label class="form-check-label" for="idStatusTeveInternacaoUltimos12Meses">Sim</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="statusTeveInternacaoUltimos12Meses"
          id="idStatusTeveInternacaoUltimos12Meses"
          [(ngModel)]="condicoesSaude.condicaoTemporaria.statusTeveInternadoem12Meses" [value]="false" />
        <label class="form-check-label" for="idStatusTeveInternacaoUltimos12Meses">Não</label>
      </div>
    </div>

    <div class="col-md-4" *ngIf="this.condicoesSaude.condicaoTemporaria.statusTeveInternadoem12Meses == true">
      <legend class="col-form-label">*Se sim indique qual(is)?</legend>
      <div>
        <input type="text" class="form-control" id="idDescricaoCausaInternacao" name="descricaoCausaInternacao"
          [disabled]="!condicoesSaude.condicaoTemporaria.statusTeveInternadoem12Meses"
          [required]="condicoesSaude.condicaoTemporaria.statusTeveInternadoem12Meses"
          [(ngModel)]="condicoesSaude.condicaoTemporaria.descricaoCausaInternacaoEm12Meses">
      </div>
    </div>

  </div>

  <div class="form-row mb-3">
    <div class="col-md-8">
      <legend class="col-form-label" for="idstatusTratamentoPsiquicoOuProblemaMental">Teve diagnóstico de algum problema
        de saúde mental por profissional de saúde?</legend>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="statusTratamentoPsiquicoOuProblemaMental"
          id="idstatusTratamentoPsiquicoOuProblemaMental"
          [(ngModel)]="condicoesSaude.statusTratamentoPsiquicoOuProblemaMental" [value]="true" />
        <label class="form-check-label" for="idstatusTratamentoPsiquicoOuProblemaMental">Sim</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="statusTratamentoPsiquicoOuProblemaMental"
          id="idstatusTratamentoPsiquicoOuProblemaMental"
          [(ngModel)]="condicoesSaude.statusTratamentoPsiquicoOuProblemaMental" [value]="false" />
        <label class="form-check-label" for="idstatusTratamentoPsiquicoOuProblemaMental">Não</label>
      </div>
    </div>
  </div>

  <div class="form-row mb-3">
    <div class="col-md-4">
      <legend class="col-form-label" for="idstatusEstaAcamado">Está Acamado?</legend>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="statusEstaAcamado" id="idstatusEstaAcamado"
          [(ngModel)]="condicoesSaude.condicaoTemporaria.statusEstaAcamado" [value]="true" />
        <label class="form-check-label" for="idstatusEstaAcamado">Sim</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="statusEstaAcamado" id="idstatusEstaAcamado"
          [(ngModel)]="condicoesSaude.condicaoTemporaria.statusEstaAcamado" [value]="false" />
        <label class="form-check-label" for="idstatusEstaAcamado">Não</label>
      </div>
    </div>
  </div>

  <div class="form-row mb-3">
    <div class="col-md-4">
      <legend class="col-form-label" for="idstatusEstaDomiciliado">Está domiciliado?</legend>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="statusEstaDomiciliado" id="idstatusEstaDomiciliado"
          [(ngModel)]="condicoesSaude.condicaoTemporaria.statusEstaDomiciliado" [value]="true" />
        <label class="form-check-label" for="idstatusEstaDomiciliado">Sim</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="statusEstaDomiciliado" id="idstatusEstaDomiciliado"
          [(ngModel)]="condicoesSaude.condicaoTemporaria.statusEstaDomiciliado" [value]="false" />
        <label class="form-check-label" for="idstatusEstaDomiciliado">Não</label>
      </div>
    </div>
  </div>

  <div class="form-row mb-3">

    <div class="col-md-4">
      <legend class="col-form-label" for="idDescricaoPlantasMedicinaisUsadas">Usa plantas medicinais?</legend>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="descricaoPlantasMedicinaisUsadas"
          id="idDescricaoPlantasMedicinaisUsadas"
          [(ngModel)]="condicoesSaude.condicaoTemporaria.statusUsaPlantasMedicinais" [value]="true" />
        <label class="form-check-label" for="idDescricaoPlantasMedicinaisUsadas">Sim</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="descricaoPlantasMedicinaisUsadas"
          id="iDdescricaoPlantasMedicinaisUsadas"
          [(ngModel)]="condicoesSaude.condicaoTemporaria.statusUsaPlantasMedicinais" [value]="false" />
        <label class="form-check-label" for="idDescricaoPlantasMedicinaisUsadas">Não</label>
      </div>
    </div>

    <div class="col-md-4" *ngIf="this.condicoesSaude.condicaoTemporaria.statusUsaPlantasMedicinais == true">
      <legend class="col-form-label">Se sim, indique qual(is)?</legend>
      <div>
        <input type="text" class="form-control" id="iDdescricaoPlantasMedicinaisUsadas"
          name="idDescricaoPlantasMedicinaisUsadas"
          [(ngModel)]="condicoesSaude.condicaoTemporaria.descricaoPlantasMedicinaisUsadas"
          [disabled]="!condicoesSaude.condicaoTemporaria.statusUsaPlantasMedicinais"
          [required]="condicoesSaude.condicaoTemporaria.statusUsaPlantasMedicinais">
      </div>
    </div>

  </div>

  <div class="form-row mb-3">
    <div class="col-md-6">
      <legend class="col-form-label" for="idoutrasPraticas">Usa outras práticas integrativas e complementares?</legend>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="outrasPraticas" id="idoutrasPraticas"
          [(ngModel)]="condicoesSaude.statusUsaOutrasPraticasIntegrativasOuComplementares" [value]="true" />
        <label class="form-check-label" for="idoutrasPraticas">Sim</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="outrasPraticas" id="idoutrasPraticas"
          [(ngModel)]="condicoesSaude.statusUsaOutrasPraticasIntegrativasOuComplementares" [value]="false" />
        <label class="form-check-label" for="idoutrasPraticas">Não</label>
      </div>
    </div>
  </div>

  <div class="form-row mb-3">

    <legend class="col-form-label">Outras condições de saúde</legend>

    <div class="col-md-4">
      <legend class="col-form-label">1- Qual?</legend>
      <div>
        <input type="text" class="form-control" id="idOutrasCondicoesSaude1" name="idOutrasCondicoesSaude1"
          [(ngModel)]="condicoesSaude.condicaoTemporaria.descricaoOutraCondicao1">
      </div>
    </div>

    <div class="col-md-4">
      <legend class="col-form-label">2- Qual?</legend>
      <div>
        <input type="text" class="form-control" id="idOutrasCondicoesSaude2" name="idOutrasCondicoesSaude2"
          [(ngModel)]="condicoesSaude.condicaoTemporaria.descricaoOutraCondicao2">
      </div>
    </div>

    <div class="col-md-4">
      <legend class="col-form-label">3- Qual?</legend>
      <div>
        <input type="text" class="form-control" id="idOutrasCondicoesSaude3" name="idOutrasCondicoesSaude3"
          [(ngModel)]="condicoesSaude.condicaoTemporaria.descricaoOutraCondicao3">
      </div>
    </div>

  </div>

  <div class="form-row mb-3">
    <spinner-button [showSpinner]="isLoadingSubmit">
      <button type="submit" class="btn btn-primary" [disabled]>
        Salvar
      </button>
    </spinner-button>
    <button type="button" class="btn btn-secondary">
      Cancelar
    </button>
  </div>
</form>
