<form id="formCadastroDomiciliar" name="formCadastroDomiciliar" (ngSubmit)="onFormSubmit()" #form="ngForm">
  <small class="text-muted"> (*) indica um campo obrigatório. </small>
  <br><br>
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label for="idprofissionalResponsavelCns" requiredLabel>CNS do Profissional</label>
      <input type="text" class="form-control" [(ngModel)]="ficha.profissionalResponsavel.cns"
        id="idprofissionalResponsavelCns" name="profissionalResponsavelCns" mask="0{15}" required disabled>
    </div>
    <div class="col-md-2 mb-3">
      <label for="idprofissionalResponsavelCbo" requiredLabel>CBO</label>
      <input type="text" class="form-control" [(ngModel)]="ficha.cbo.codigo" name="profissionalResponsavelCbo"
        id="idprofissionalResponsavelCbo" mask="0000-99" required disabled>
    </div>
    <div class="col-md-2 mb-3">
      <label for="idubsCnes" requiredLabel>CNES</label>
      <input type="text" class="form-control" [(ngModel)]="ficha.ubs.cnes" id="idubsCnes" name="ubsCnes" mask="0{7}"
        required disabled>
    </div>
    <div class="col-md-3 mb-3">
      <label for="ubsIne">INE</label>
      <input type="text" class="form-control" name="ubsIne" id="idubsIne" [(ngModel)]="ficha.ine" maxlength="10">
    </div>
    <div class="col-md-2 mb-3">
      <label for="iddata" requiredLabel>Data</label>
      <input type="date" [(ngModel)]="ficha.data" class="form-control" name="data" id="iddata" required>
    </div>
  </div>
  <br>
  <label class="mt-2 mb-1 font-weight-bold">Endereço/Local de permanência</label>
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label for="idprofissionalResponsavelCns" requiredLabel>CEP</label>
      <input type="text" class="form-control" #enderecoCep="ngModel" [(ngModel)]="domicilio.endereco.cep"
        id="idenderecoCep" name="enderecoCep" mask="0{8}" required>
      <div [hidden]="enderecoCep.valid || enderecoCep.pristine">
        <small class="form-text text-danger">CEP é requerido.</small>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="idenderecoUf" requiredLabel>UF</label>
      <select class="form-control" id="idenderecoUf" #enderecoUf="ngModel" name="enderecoUf"
        [(ngModel)]="domicilio.endereco.estado" (change)="estadoChange()" required>
        <option *ngFor="let opcao of opForm.opcoesEstados" [value]="opcao">{{opcao}}</option>
      </select>
      <div [hidden]="enderecoUf.valid || enderecoUf.pristine">
        <small class="form-text text-danger">Estado é requerido.</small>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="idenderecoMunicipio" requiredLabel>Municipio</label>
      <ngx-select-dropdown (open)="buscarMunicipio('a')" (searchChange)="buscarMunicipio($event)"
        (change)="municipioChange($event)" #enderecoMunicipio="ngModel" tabindex="0" id="idenderecoMunicipio"
        name="enderecoMunicipio" [multiple]="false"
        [(ngModel)]="domicilio.endereco.municipio.codigoIbge == null ? null : domicilio.endereco.municipio"
        [config]="config" [options]="municipios" required></ngx-select-dropdown>
      <div [hidden]="enderecoMunicipio.valid || enderecoMunicipio.pristine">
        <small class="form-text text-danger">Municipio é requerido.</small>
      </div>
    </div>
    <div class="col-md-2 mb-3">
      <label for="idmicroarea">Microárea {{ domicilio.endereco.stForaArea == false ? ' *' : '' }}</label>
      <input type="text" class="form-control" id="idmicroarea" name="microarea"
        [(ngModel)]="domicilio.endereco.microarea" [disabled]="domicilio.endereco.stForaArea == true"
        [required]="domicilio.endereco.stForaArea == false" maxlength="2">
    </div>
    <div class="col-md-1 mb-3" style="align-self: flex-end;">
      <input type="checkbox" id="idfa" name="fa" [(ngModel)]="domicilio.endereco.stForaArea" [value]="true">
      <label>FA</label>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="idenderecoBairro" requiredLabel>Bairro</label>
      <input type="text" class="form-control" id="idenderecoBairro" name="enderecoBairro" #enderecoBairro="ngModel"
        [(ngModel)]="domicilio.endereco.bairro" required>
      <div [hidden]="enderecoBairro.valid || enderecoBairro.pristine">
        <small class="form-text text-danger">Bairro é requerido.</small>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="idtipoLogradouro" requiredLabel>Tipo Logradouro</label>
      <select class="form-control" id="idtipoLogradouro" name="tipoLogradouro" #tipoLogradouro="ngModel"
        [(ngModel)]="domicilio.endereco.tipoLogradouro.codigo" required>
        <option *ngFor="let op of opForm.opLogradouro" [value]="op.codigo">{{op.descricao}}</option>
      </select>
      <div [hidden]="tipoLogradouro.valid || tipoLogradouro.pristine">
        <small class="form-text text-danger">Tipo Logradouro é requerido.</small>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="idenderecoLogradouro" requiredLabel>Logradouro</label>
      <input type="text" class="form-control" id="idenderecoLogradouro" name="enderecoLogradouro"
        #enderecoLogradouro="ngModel" [(ngModel)]="domicilio.endereco.nomeLogradouro" required>
      <div [hidden]="enderecoLogradouro.valid || enderecoLogradouro.pristine">
        <small class="form-text text-danger">Logradouro é requerido.</small>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-2 mb-3">
      <label for="idenderecoNumero">Número {{domicilio.endereco.stSemNumero == false ? ' *' : ''}}</label>
      <input type="text" class="form-control" id="idenderecoNumero" #enderecoNumero="ngModel" name="enderecoNumero"
        [(ngModel)]="domicilio.endereco.numero" [disabled]="domicilio.endereco.stSemNumero == true"
        [required]="domicilio.endereco.stSemNumero == false">
      <div [hidden]="enderecoNumero.valid || enderecoNumero.pristine">
        <small class="form-text text-danger">Número do endereco é requerido.</small>
      </div>
    </div>
    <div class="col-md-2 mb-3" style="align-self: flex-end;">
      <input type="checkbox" id="idsemNumero" name="semNumero" [(ngModel)]="domicilio.endereco.stSemNumero"
        [value]="true">
      <label>Sem Número</label>
    </div>
    <div class="col-md-4 mb-3">
      <label for="idenderecoComplemento">Complemento</label>
      <input type="text" class="form-control" id="idenderecoComplemento" name="enderecoComplemento"
        [(ngModel)]="domicilio.endereco.complemento">
    </div>
    <div class="col-md-4 mb-3">
      <label for="idenderecoReferencia">Ponto de Referência</label>
      <input type="text" class="form-control" id="idenderecoReferencia" name="enderecoReferencia"
        [(ngModel)]="domicilio.endereco.pontoReferencia">
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="idtipoImovel" requiredLabel>Tipo Imóvel</label>
      <select class="form-control" id="idtipoImovel" name="tipoImovel" #tipoImovel="ngModel"
        [(ngModel)]="domicilio.tipoImovel.codigo" required>
        <option *ngFor="let op of opForm.opImovel" [value]="op.codigo">{{op.descricao}}</option>
      </select>
      <div [hidden]="tipoImovel.valid || tipoImovel.pristine">
        <small class="form-text text-danger">Tipo de Imóvel é requerido.</small>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="idtelefoneContato">Telefone Contato</label>
      <input type="text" class="form-control" id="idtelefoneContato" name="telefoneContato" #telefoneContato="ngModel"
        [(ngModel)]="domicilio.endereco.telefoneContato" pattern="[0-9]{10,11}$">
      <small class="text-muted">Use apenas números com DDD (10 a 11 dígitos).</small>
      <div [hidden]="telefoneContato.valid || telefoneContato.pristine">
        <small class="form-text text-danger">Telefone Contato inválido.</small>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="idtelefone">Telefone Residência</label>
      <input type="text" class="form-control" id="idtelefoneResidencia" name="telefoneResidencia"
        #telefoneResidencia="ngModel" [(ngModel)]="domicilio.endereco.telefoneResidencia" pattern="[0-9]{10,11}$">
      <small class="text-muted">Use apenas números com DDD (10 a 11 dígitos).</small>
      <div [hidden]="telefoneResidencia.valid || telefoneResidencia.pristine">
        <small class="form-text text-danger">Telefone da Residência inválido.</small>
      </div>
    </div>
  </div>
  <span *ngIf="domicilio.tipoImovel.codigo != 2 && domicilio.tipoImovel.codigo != 3 && domicilio.tipoImovel.codigo != 4 && domicilio.tipoImovel.codigo != 5 &&
    domicilio.tipoImovel.codigo != 6 && domicilio.tipoImovel.codigo != 12 && domicilio.tipoImovel.codigo != 99">
    <label class="mt-2 mb-1 font-weight-bold">Condições de moradia</label>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="idsituacaoMoradia" requiredLabel>Situação Moradia</label>
        <select class="form-control" id="idsituacaoMoradia" name="situacaoMoradia"
          [(ngModel)]="domicilio.condicao.codSituacaoMoradia" [disabled]="disabled()">
          <option *ngFor="let op of opForm.opSituacaoMoradia" [value]="op.codigo" required>{{op.descricao}}</option>
        </select>
      </div>
      <div class="col-md-4 mb-3">
        <label for="idlocalizacao" requiredLabel>Localização </label>
        <select class="form-control" id="idlocalizacao" name="localizacao" #localizacao="ngModel"
          [(ngModel)]="domicilio.condicao.localizacaoMoradia">
          <option>Urbana</option>
          <option>Rural</option>
        </select>
        <div [hidden]="localizacao.valid || localizacao.pristine">
          <small class="form-text text-danger">Localização é requerido.</small>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="idtipoDomicilio">Tipo Domicílio</label>
        <select class="form-control" id="idtipoDomicilio" name="tipoDomicilio"
          [(ngModel)]="domicilio.condicao.codTipoDomicilio" [disabled]="disabled()">
          <option *ngFor="let op of opForm.opDomicilio" [value]="op.codigo">{{op.descricao}}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-2 mb-3">
        <label for="idnuMoradores">N° de Moradores</label>
        <input type="text" class="form-control" id="idnuMoradores" name="nuMoradores"
          [(ngModel)]="domicilio.condicao.nuMoradores">
      </div>
      <div class="col-md-2 mb-3">
        <label for="idnuComodos">N° de Comodos</label>
        <input type="text" class="form-control" id="idnuComodos" name="nuComodos"
          [(ngModel)]="domicilio.condicao.nuComodos" [disabled]="disabled()">
      </div>
      <div class="col-md-4 mb-3">
        <label for="idposseUso">Condição de Posse Uso da Terra</label>
        <select class="form-control" id="idposseUso" name="posseUso" [(ngModel)]="domicilio.condicao.codPosseUso"
          [disabled]="disabled() || domicilio.condicao.localizacaoMoradia == 'Urbana'">
          <option *ngFor="let op of opForm.opCondicaoPosse" [value]="op.codigo">{{op.descricao}}</option>
        </select>
      </div>
      <div class="col-md-4 mb-3">
        <label for="idtipoAcesso">Tipo Acesso</label>
        <select class="form-control" id="idtipoAcesso" name="tipoAcesso"
          [(ngModel)]="domicilio.condicao.codTipoAcessoDomicilio" [disabled]="disabled()">
          <option *ngFor="let op of opForm.opAcessoDomicilio" [value]="op.codigo">{{op.descricao}}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <div>
          <label>Disponibilidade de Energia Elétrica?</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" id="idstDisponibilidadeEnergiaEletrica"
            name="stDisponibilidadeEnergiaEletrica" type="radio"
            [(ngModel)]="domicilio.condicao.stDisponibilidadeEnergiaEletrica" [value]="true">
          <label class="form-check-label" for="idstDisponibilidadeEnergiaEletrica">Sim</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" id="idstDisponibilidadeEnergiaEletrica"
            name="stDisponibilidadeEnergiaEletrica" type="radio"
            [(ngModel)]="domicilio.condicao.stDisponibilidadeEnergiaEletrica" [value]="false">
          <label class="form-check-label" for="idstDisponibilidadeEnergiaEletrica">Não</label>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="idmaterialPredominante">Material Predominante na Construção</label>
        <select class="form-control" id="idmaterialPredominante" name="materialPredominante"
          [(ngModel)]="domicilio.condicao.codMaterialPredominante" [disabled]="disabled()">
          <option *ngFor="let op of opForm.opMaterialPredominante" [value]="op.codigo">{{op.descricao}}</option>
        </select>
      </div>
      <div class="col-md-4 mb-3">
        <label for="idabastecimentoAgua">Abastecimento de Água</label>
        <select class="form-control" id="idabastecimentoAgua" name="abastecimentoAgua"
          [(ngModel)]="domicilio.condicao.codAbastecimentoAgua">
          <option *ngFor="let op of opForm.opAbastecimentoAgua" [value]="op.codigo">{{op.descricao}}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="idaguaConsumo">Água para Consumo</label>
        <select class="form-control" id="idaguaConsumo" name="aguaConsumo"
          [(ngModel)]="domicilio.condicao.codAguaDomicilio">
          <option *ngFor="let op of opForm.opAguaConsumo" [value]="op.codigo">{{op.descricao}}</option>
        </select>
      </div>
      <div class="col-md-4 mb-3">
        <label for="idformaEscoamento">Forma Escoamento Banheiro</label>
        <select class="form-control" id="idformaEscoamento" name="formaEscoamento"
          [(ngModel)]="domicilio.condicao.codFormaEscoamentoBanheiro">
          <option *ngFor="let op of opForm.opFormaEscoamento" [value]="op.codigo">{{op.descricao}}</option>
        </select>
      </div>
      <div class="col-md-4 mb-3">
        <label for="iddestinoLixo">Destino Lixo</label>
        <select class="form-control" id="iddestinoLixo" name="destinoLixo"
          [(ngModel)]="domicilio.condicao.codDestinoLixo">
          <option *ngFor="let op of opForm.opDestinoLixo" [value]="op.codigo">{{op.descricao}}</option>
        </select>
      </div>
    </div>
  </span>
  <span *ngIf="domicilio.tipoImovel.codigo == 1">
    <label class="mt-2 mb-1 font-weight-bold">Animais no Domicílio?</label>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <div class="form-check form-check-inline">
          <input class="form-check-input" id="idstAnimaisDomicilio" name="stAnimaisDomicilio" type="radio"
            [(ngModel)]="domicilio.stAnimaisDomicilio" [value]="true">
          <label class="form-check-label" for="idstAnimaisDomicilio">Sim</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" id="idstAnimaisDomicilio" name="stAnimaisDomicilio" type="radio"
            [(ngModel)]="domicilio.stAnimaisDomicilio" [value]="false">
          <label class="form-check-label" for="idstAnimaisDomicilio">Não</label>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label>Se sim, quais?</label>
        <div *ngFor="let op of opForm.opAnimal" class="form-check">
          <input type="checkbox" name="animal" id="idanimal{{op.codigo}}" (change)="animalChange(op)"
            [checked]="animalChecked(op)" class="form-check-input">
          <label class="form-check-label">{{op.descricao}}</label>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="idnuAnimais">N° de Animais</label>
        <input type="text" class="form-control" id="idnuAnimais" name="nuAnimais"
          [(ngModel)]="domicilio.quantosAnimaisDomicilio">
      </div>
    </div>
  </span>
  <label class="mt-2 mb-1 font-weight-bold">Famílias:</label>
  <button class="btn btn-link" title="Adicionar Família" (click)="addFamilia()">
    <em class="fa fa-plus"></em>
  </button>
  <div *ngFor="let familia of domicilio.familias; let i = index">
    <button type="button" class="close" aria-label="Close" (click)="removeFamilia(i)">
      <span aria-hidden="true">&times;</span>
    </button>
    <div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="idprontuario{{i}}">N° do Prontuário Familiar</label>
          <input type="text" class="form-control" id="idprontuario{{i}}" name="prontuario{{i}}"
            [(ngModel)]="familia.numeroProntuario">
        </div>
        <div class="col-md-4 mb-3">
          <label id="idcidadao{{i}}" requiredLabel>Cidadão</label>
          <ngx-select-dropdown (open)="buscarCidadao('1')" (searchChange)="buscarCidadao($event)" tabindex="0"
            id="idcidadao{{i}}" name="cidadao{{i}}" [multiple]="false" [(ngModel)]="familia.cidadao"
            [config]="configCidadao" [options]="opCidadao" required></ngx-select-dropdown>
        </div>
        <div class="col-md-4 mb-3">
          <label for="iddata" requiredLabel>Data de Nascimento</label>
          <input type="date" class="form-control" id="idcidadaodata{{i}}" name="cidadaodata{{i}}"
            [(ngModel)]="familia.cidadao != null ? familia.cidadao.dataNascimento : familia.cidadao" required disabled>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="idrendaFamiliar">Renda Famíliar</label>
          <select class="form-control" id="idrendaFamiliar" name="rendaFamiliar" [(ngModel)]="familia.codRendaFamiliar">
            <option *ngFor="let op of opForm.opRendaFamiliar" [value]="op.codigo">{{op.descricao}}</option>
          </select>
        </div>
        <div class="col-md-3 mb-3">
          <label for="idmembros{{i}}">N° de Membros da Família</label>
          <input type="text" class="form-control" id="idmembros{{i}}" name="membros{{i}}"
            [(ngModel)]="familia.numeroMembrosFamilia">
        </div>
        <div class="col-md-3 mb-3">
          <label for="idreside{{i}}">Reside Desde</label>
          <input type="date" class="form-control" id="idreside{{i}}" name="reside{{i}}"
            [(ngModel)]="familia.resideDesde">
        </div>
        <div class="col-md-2 mb-3">
          <div>
            <label>Mudou-se</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" id="idmudanca{{i}}" name="mudanca{{i}}" type="checkbox"
              [(ngModel)]="familia.stMudanca" [value]="true">
          </div>
        </div>
      </div>
    </div>
  </div>
  <span *ngIf="domicilio.tipoImovel.codigo == 7 || domicilio.tipoImovel.codigo == 8 || domicilio.tipoImovel.codigo == 9 || domicilio.tipoImovel.codigo == 10 ||
    domicilio.tipoImovel.codigo == 11">
    <br>
    <label class="mt-2 mb-1 font-weight-bold">Instituicao Permanência</label>
    <div class="form-row">
      <div class="col-md-5 mb-3">
        <label for="idnomeIstituicao">Nome Instituicao Permanência</label>
        <input type="text" class="form-control" id="idnomeIstituicao" name="nomeIstituicao"
          [(ngModel)]="domicilio.instituicao.nomeInstituicaoPermanencia">
      </div>
      <div class="col-md-5 mb-3">
        <label for="idnomeResponsavelTecnico">Nome Responsável Técnico</label>
        <input type="text" class="form-control" id="idnomeResponsavelTecnico" name="nomeResponsavelTecnico"
          [(ngModel)]="domicilio.instituicao.nomeResponsavelTecnico">
      </div>
      <div class="col-md-2 mb-3">
        <div>
          <label>Outros Profissionais</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" id="idoutrosProfissionais" name="outrosProfissionais" type="checkbox"
            [(ngModel)]="domicilio.instituicao.stOutrosProfissionaisVinculados" [value]="true">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="idcnsResponsavelTecnico">CNS Responsável Técnico</label>
        <input type="text" class="form-control" id="idcnsResponsavelTecnico" name="cnsResponsavelTecnico"
          [(ngModel)]="domicilio.instituicao.cnsResponsavelTecnico" mask="0{15}">
      </div>
      <div class="col-md-4 mb-3">
        <label for="idcargoInstituicao">CNS Responsável Técnico</label>
        <input type="text" class="form-control" id="idcargoInstituicao" name="cargoInstituicao"
          [(ngModel)]="domicilio.instituicao.cargoInstituicao">
      </div>
      <div class="col-md-4 mb-3">
        <label for="idtelefoneResponsavelTecnico">CNS Responsável Técnico</label>
        <input type="text" class="form-control" id="idtelefoneResponsavelTecnico" #telefoneResponsavelTecnico="ngModel"
          name="telefoneResponsavelTecnico" [(ngModel)]="domicilio.instituicao.telefoneResponsavelTecnico"
          pattern="[0-9]{10,11}$">
        <small class="text-muted">Use apenas números com DDD (10 a 11 dígitos).</small>
        <div [hidden]="telefoneResponsavelTecnico.valid || telefoneResponsavelTecnico.pristine">
          <small class="form-text text-danger">Telefone inválido.</small>
        </div>
      </div>
    </div>
  </span>
</form>
