<app-header [navbarBrandRouterLink]="['/dashboard']" [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/sigs-logo-text.png', width: 107, height: 100, alt: 'SIGS Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/sigs-logo.jpg', width: 40, height: 40, alt: 'SIGS Logo'}"
  [sidebarToggler]="'lg'" [asideMenuToggler]="false" [mobileAsideMenuToggler]="false">
  <ul class="nav navbar-nav d-md-down-none" *ngIf="perfil == 'ROLE_ADMINISTRADOR'">
    <li class="nav-item px-3">
      <button type="button" class="btn btn-pill btn-info" (click)="gerarExportacao()">Exportar</button>
    </li>
  </ul>
  <div class="ml-auto" style="display: flex;">
  <div class="justify-content-end" style="text-align: start;">
    <p style="margin-bottom: 0px; font-size: small;" class="font-weight-normal">
      {{ nome }}
    </p>
    <p style="margin-bottom: 0px; font-size: small;" class="font-weight-normal">
      {{ descricao }}
    </p>
  </div>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <img src="assets/img/avatars/default-user-sm.png" class="img-avatar" alt="admin@bootstrapmaster.com" />
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Conta</strong></div>
        <a class="dropdown-item" href="/lotacao/selecionar-perfil"><em class="fa fa-home"></em> Lotação</a>
        <a class="dropdown-item" href="#"><em class="fa fa-user"></em> Perfil</a>
        <a class="dropdown-item" routerLink="/logout"><em class="fa fa-lock"></em> Sair</a>
      </div>
    </li>
  </ul>
</div>
  <ul>
    <!-- Item vazio para melhorar o visual da barra: o icone da conta não ficará muito colado na direira -->
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <!-- breaking change 'cui-breadcrumb' -->
    <cui-breadcrumb>
      <!-- Breadcrumb Menu-->
    </cui-breadcrumb>
    <!-- deprecation warning for 'app-breadcrumb' -->
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>
<app-footer>
  <span><a href="https://sigs.net.br">SIGS</a> &copy; 2019 Inovare Soluções Tecnológicas.</span>
</app-footer>