<div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        <em class="fa fa-align-justify"></em> 
      </div>
      <div class="card-body">
        <app-form-ficha-visita-domiciliar #formFichaVisitaDomiciliar [formData]="formData$"
          (onSubmit)="onSubmitted($event)">
        </app-form-ficha-visita-domiciliar>
      </div>
      <div class="card-footer">
        <spinner-button [showSpinner]="isLoadingSubmit">
          <button type="submit" form="formFichaVisitaDomiciliar" class="btn btn-primary"
            [disabled]>
            Salvar
          </button>
        </spinner-button>
        <button type="button" class="btn btn-secondary" (click)="onCanceled()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
