<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <em class="fa fa-align-justify"></em> Pesquisar Atividade Coletiva
    </div>
    <div class="card-body">
      <form id="formPesquisarAtividade" name="formPesquisarAtividade" (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="form-row align-items-end">
          <div class="col-md-4 mb-3">
            <label for="iddata">Data Início</label>{{filter.dataFim != null ? ' *' : ''}}
            <input type="date" class="form-control" id="iddatainicio" name="dataInicio" [(ngModel)]="filter.dataInicio"
              [required]="filter.dataFim != null">
          </div>
          <div class="col-md-4 mb-3">
            <label for="iddata">Data Fim</label>{{filter.dataInicio != null ? ' *' : ''}}
            <input type="date" class="form-control" id="iddatainicio" name="dataFim" [(ngModel)]="filter.dataFim"
              [required]="filter.dataInicio != null">
          </div>
          <div class="col-md-4 mb-3">
            <label for="iddata">Publico Alvo</label>
            <select class="form-control" id="idpublicoAlvo" name="publicoAlvo" placeholder="selecionar"
              [(ngModel)]="filter.publicoAlvo">
              <option *ngFor="let publico of publicos" [value]="publico.codigo">
                {{publico.descricao}}
              </option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label for="idcnes">CNES</label>
            <input type="text" class="form-control" id="idcnes" name="cnes" mask="0{7}" [(ngModel)]="filter.cnes"
              [disabled]="filter.inep != null ? true : false">
          </div>
          <div class="col-md-4 mb-3">
            <label for="idinep">INEP</label>
            <input type="text" class="form-control" id="idinep" name="inep" mask="0{8}" [(ngModel)]="filter.inep"
              [disabled]="filter.cnes != null && filter.cnes != ''? true : false">
          </div>
          <div class="form-check mb-4">
            <input type="checkbox" name="escola" id="idescola" class="form-check-input" [(ngModel)]="filter.escola"
              [value]="true">
            <label class="form-check-label">Atividade Realizada na Escola</label>
          </div>
          <div class="form-check mb-4" style="margin-left: 10px;">
            <input type="checkbox" name="exportada" id="idexportada" class="form-check-input"
              [(ngModel)]="filter.exportada" [value]="true" />
            <label class="form-check-label">Exportada</label>
          </div>
        </div>
        <div class="mb-3">
          <spinner-button [showSpinner]="isLoading">
            <button type="submit" class="btn btn-primary" [disabled]="!form.form.valid">
              Pesquisar
            </button>
          </spinner-button>
          <button type="button" class="btn btn-secondary" (click)="limpar()">
            Limpar
          </button>
        </div>
      </form>
      <hr style="border-style:none" />
      <ngx-datatable class="bootstrap" [rows]="page.content" [loadingIndicator]="true" [columns]="columns"
        [columnMode]="columnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [externalPaging]="true"
        [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)="setPage($event)"
        (sort)="onSort($event)">
        <ngx-datatable-column [sortable]="column.sortable" *ngFor="let column of columns; let i = index;"
          name="{{column.name}}" prop="{{column.prop}}"></ngx-datatable-column>
        <ngx-datatable-column [sortable]="false" name="Ação">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <button class="btn btn-sm btn-secondary" title="Visualizar" (click)="onEdit(row)"><em
                class="icon-list action edit"></em></button>
            <button class="btn btn-sm btn-warning" title="Editar" (click)="onEdit(row)"
              [disabled]="row.importada || idProfissional != row.idProfissional"><em
                class="icon-pencil action edit"></em></button>
            <button class="btn btn-sm btn-danger" title="Excluir" (click)="onDeleteConfirm(row)"
              [disabled]="row.importada || idProfissional != row.idProfissional"><em
                class="icon-trash action delete"></em></button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>

<div bsModal #modalExcluir="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-sm modal-danger">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">Excluir Atividade Coletiva</h4>
      </div>
      <div class="modal-body">
        Deseja realmente excluir a Atividade Coletiva?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalExcluir.hide()">Não</button>
        <spinner-button [showSpinner]="isLoadingExcluir">
          <button type="button" class="btn btn-danger" (click)="delete()">Sim</button>
        </spinner-button>
      </div>
    </div>
  </div>
</div>