<div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        <em class="fa fa-align-justify"></em> {{ fichaEvolucao.importada || profissional ? 'Visualizar
        Evolução' : 'Editar Evolução' }}
      </div>
      <div class="card-body">
        <app-form-evolucao #formEvolucao [formData]="formData$" [isVisualizacao]="true"
          (onSubmit)="onSubmitted($event)">
        </app-form-evolucao>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-secondary" routerLink="/evolucao/pesquisar">
          Voltar
        </button>
      </div>
    </div>
  </div>