<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <em class="fa fa-align-justify"></em> Pesquisar Cidadão
    </div>
    <div class="card-body">
      <form name="formPesquisarCidadao" (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-row align-items-end">
          <div class="col-md-4 mb-3">
            <label for="idnome">Nome</label>
            <input type="text" class="form-control" id="idnome" [(ngModel)]="filter.nome" name="nome" />
          </div>
          <div class="col-md-3 mb-3">
            <label for="idcpf">CPF</label>
            <input type="text" class="form-control" id="idcpf" [(ngModel)]="filter.cpf" name="cpf" />
          </div>
          <div class="col-md-3 mb-3">
            <label for="idcns">CNS</label>
            <input type="text" class="form-control" id="idcns" [(ngModel)]="filter.cns" name="cns" />
          </div>
          <div class="form-check mb-4">
            <input type="checkbox" name="ativo" id="idativo" class="form-check-input" [(ngModel)]="filter.ativo"
              [value]="true" />
            <label class="form-check-label">Ativo</label>
          </div>
        </div>
        <div class="form-row align-items-end">
          <div class="mb-3">
            <spinner-button [showSpinner]="isLoading">
              <button type="submit" class="btn btn-primary" [disabled]="!f.form.valid">
                Pesquisar
              </button>
            </spinner-button>
            <button type="button" class="btn btn-secondary" (click)="limpar()">
              Limpar
            </button>
            <button type="button" class="btn btn-secondary p-1" (click)="showModalBiometria()">
              <img src="assets/img/icon/icone-digital-sm-0.png" width="25" alt="Biometria1">
            </button>
          </div>
        </div>
      </form>
      <hr style="border-style:none" />
      <ngx-datatable class="bootstrap" [rows]="page.content" [loadingIndicator]="true" [columns]="columns"
        [columnMode]="columnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [externalPaging]="true"
        [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)="setPage($event)"
        (sort)="onSort($event)">
        <ngx-datatable-column [sortable]="column.sortable" *ngFor="let column of columns; let i = index;"
          name="{{column.name}}" prop="{{column.prop}}"></ngx-datatable-column>
        <ngx-datatable-column [sortable]="false" name="Ação">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <button class="btn btn-sm btn-warning" title="Editar" (click)="onEditarCidadaoClick(row.id)"><em
                class="icon-pencil action edit"></em></button>
            <button class="btn btn-sm btn-danger" title="Excluir" (click)="onExcluirCidadaoClick(row)"><em
                class="icon-trash action delete"></em></button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
      <app-pesquisar-cidadao-biometria (outCloseModal)="onCloseModalBiometria($event)">
      </app-pesquisar-cidadao-biometria>

      <div bsModal #modalExcluir="bs-modal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="dialog-child-name">
        <div class="modal-dialog modal-sm modal-danger">
          <div class="modal-content">
            <div class="modal-header">
              <h4 id="dialog-child-name" class="modal-title pull-left">Excluir Cidadão</h4>
            </div>
            <div class="modal-body">
              Deseja realmente excluir o cidadão <b>{{cidadaoExcluirNome}}</b>?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="modalExcluir.hide()">Não</button>
              <spinner-button [showSpinner]="isLoadingExcluir">
                <button type="button" class="btn btn-danger" (click)="excluirCidadao()">Sim</button>
              </spinner-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>