<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <em class="fa fa-align-justify"></em> Adicionar Atendimento Individual
    </div>
    <div class="card-body">
      <app-form-atendimento-individual #formAtendimentoIndividual [formData]="formData$"
        (onSubmit)="onSubmitted($event)">
      </app-form-atendimento-individual>
    </div>
    <div class="card-footer">
      <spinner-button [showSpinner]="isLoadingSubmit">
        <button type="submit" form="formFichaAtendimentoIndividual" class="btn btn-primary">
          Salvar
        </button>
      </spinner-button>
      <button type="button" class="btn btn-secondary" (click)="onCanceled()">
        Cancelar
      </button>
    </div>
  </div>
</div>