<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <em class="fa fa-align-justify"></em> Pesquisar Atendimento Odontológico
    </div>
    <div class="card-body">
      <form name="formPesquisarAtendimentoOdontologico" (ngSubmit)="onSubmit()"
        #formPesquisarAtendimentoOdontologico="ngForm">
        <div class="form-row align-items-end">
          <div class="mb-3">
            <label for="idPesquisaTipo">Pesquisar por</label>
            <select class="form-control" id="idPesquisaTipo" name="pesquisaTipo" [(ngModel)]="filter.tipo" required>
              <option>Nome</option>
              <option>CPF</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label for="idPesquisaValor"> </label>
            <input type="text" class="form-control" id="idPesquisaValor" name="pesquisaValor" [(ngModel)]="filter.valor"
              placeholder="Pesquisar" required>
          </div>
          <div class="mb-3">
            <spinner-button [showSpinner]="isLoading">
              <button type="submit" class="btn btn-primary"
                [disabled]="!formPesquisarAtendimentoOdontologico.form.valid">
                Pesquisar
              </button>
            </spinner-button>
          </div>
        </div>
      </form>
      <hr style="border-style:none" />
      <ngx-datatable class="bootstrap" [rows]="page.content" [loadingIndicator]="true" [columns]="columns"
        [columnMode]="columnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [externalPaging]="true"
        [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)="setPage($event)"
        (sort)="onSort($event)">
        <ngx-datatable-column [sortable]="column.sortable" *ngFor="let column of columns; let i = index;"
          name="{{column.name}}" prop="{{column.prop}}"></ngx-datatable-column>
        <ngx-datatable-column [sortable]="false" name="Ação">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <button class="btn btn-sm btn-warning" title="Editar" (click)="onEdit(row)"><em class="icon-pencil action edit"></em></button>
            <button class="btn btn-sm btn-danger" title="Excluir" (click)="onDeleteConfirm(row)"><em class="icon-trash action delete"></em></button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>

<div bsModal #modalExcluir="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-sm modal-danger">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">Excluir Atendimento Odontológico</h4>
      </div>
      <div class="modal-body">
        Deseja realmente excluir o Atendimento Odontológico?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalExcluir.hide()">Não</button>
        <spinner-button [showSpinner]="isLoadingExcluir">
          <button type="button" class="btn btn-danger" (click)="delete()">Sim</button>
        </spinner-button>
      </div>
    </div>
  </div>
</div>
