<div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        <em class="fa fa-align-justify"></em> Solicitar Exame
      </div>
      <div class="card-body">
        <app-form-exame [formData]="formData$" (onSubmit)="onSubmitted($event)" #formExame>
        </app-form-exame>
      </div>
      <div class="card-footer">
        <spinner-button [showSpinner]="isLoadingSubmit">
          <button id="submit" type="submit" form="formExame" class="btn btn-primary">
            Salvar
          </button>
        </spinner-button>
        <button type="button" class="btn btn-secondary" routerLink="/">
          Cancelar
        </button>
        <spinner-button [showSpinner]="isLoadingSubmit">
            <button id="submitPdf" type="submit" form="formExame" class="btn btn-primary">
              Salvar / Exportar PDF
            </button>
        </spinner-button>
        <div #examepdf style="display: none;">
          <app-pdf-exame 
            [solicitacao]="solicitacao"
            [profissional]="solicitacao.profissional">
          </app-pdf-exame>
        </div>
      </div>
    </div>
  </div>
