<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <em class="fa fa-align-justify"></em> Editar Atendimento Odontológico
    </div>
    <div class="card-body">
      <app-form-atendimento-odontologico [formData]="formData$" (onSubmit)="onSubmitted($event)"
        #formAtendimentoOdontologico>
      </app-form-atendimento-odontologico>
    </div>
    <div class="card-footer">
      <spinner-button [showSpinner]="isLoadingSubmit">
        <button type="submit" form="formAtendimentoOdontologico" class="btn btn-primary" [disabled]="importada">
          Salvar
        </button>
      </spinner-button>
      <button type="button" class="btn btn-secondary" routerLink="/">
        Cancelar
      </button>
    </div>
  </div>
</div>