<div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        <em class="fa fa-align-justify"></em> Solicitar Laudo
      </div>
      <div class="card-body">
        <app-form-laudo-exame [formData]="formData$" (onSubmit)="onSubmitted($event)" #formExame>
        </app-form-laudo-exame>
      </div>
      <div class="card-footer">
        <spinner-button [showSpinner]="isLoadingSubmit">
          <button type="submit" form="formExame" class="btn btn-primary">
            Salvar
          </button>
        </spinner-button>
        <button type="button" class="btn btn-secondary" routerLink="/">
          Cancelar
        </button>
      </div>
    </div>
  </div>
