<form name="formSituacaoRua"  (ngSubmit)="onSubmit()" #form="ngForm">

  <small class="text-muted"> (*) indica um campo obrigatório. </small>
  <br><br>

  <div class="form-row">
    <div class="mt-2 mb-1 font-weight-bold">Cidadão em situação de rua</div>
  </div>

  <div class="form-row mb-3">

    <div class="col-md-4">
      <legend class="col-form-label" for="idstatusSituacaoRua">Está em situação de rua?*</legend>

      <div class="form-check form-check-inline">
        <input
          class="form-check-input" type="radio"
          name="statusSituacaoRua" id="idstatusSituacaoRua"
          [(ngModel)]="situacaoRua.statusSituacaoRua" [value]="true"
        />
        <label class="form-check-label" for="idstatusSituacaoRua">Sim</label>
      </div>

      <div class="form-check form-check-inline">
        <input
          class="form-check-input" type="radio"
          name="statusSituacaoRua" id="idstatusSituacaoRua"
          [(ngModel)]="situacaoRua.statusSituacaoRua" [value]="false"
        />
        <label class="form-check-label" for="idstatusSituacaoRua">Não</label>
      </div>
    </div>

    <div class="col-md-8" *ngIf="this.situacaoRua.statusSituacaoRua == true">
      <legend class="col-form-label" for="listTempoSituacaoRuas">Tempo em situação de rua?</legend>

      <div class="form-check form-check-inline" *ngFor="let op of informacao.listTempoSituacaoRua">
        <input
          class="form-check-input" type="radio"
          name="listTempoSituacaoRuas" id="listTempoSituacaoRuas"
          [(ngModel)]="informacao.listTempoSituacaoRuas"
          [value]="op"
        />
        <label class="form-check-label" for="listTempoSituacaoRuas{{op.codigo}}">{{op.descricao}}</label>
      </div>
    </div>

  </div>

  <div *ngIf="this.situacaoRua.statusSituacaoRua == true">
    <div class="form-row mb-3">
      <div class="col-md-4" >
        <legend class="col-form-label" for="idStatusRecebeBeneficio">Recebe algum benefício?</legend>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input" type="radio"
            name="statusRecebeBeneficio" id="idStatusRecebeBeneficio"
            [(ngModel)]="situacaoRua.statusRecebeBeneficio" [value]="true"
          />
          <label class="form-check-label" for="idStatusRecebeBeneficio">Sim</label>
        </div>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input" type="radio"
            name="statusRecebeBeneficio" id="idStatusRecebeBeneficio"
            [(ngModel)]="situacaoRua.statusRecebeBeneficio" [value]="false"
          />
          <label class="form-check-label" for="idStatusRecebeBeneficio">Não</label>
        </div>
      </div>
    </div>

    <div class="form-row mb-3">
      <div class="col-md-4" >
        <legend class="col-form-label" for="idStatusPossuiReferenciaFamiliar">Possui referência familiar?</legend>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input" type="radio"
            name="statusPossuiReferenciaFamiliar"
            id="idStatusPossuiReferenciaFamiliar"
            [(ngModel)]="situacaoRua.statusPossuiReferenciaFamiliar" [value]="true"
          />
          <label class="form-check-label" for="idStatusPossuiReferenciaFamiliar">Sim</label>
        </div>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input" type="radio"
            name="statusPossuiReferenciaFamiliar"
            id="idStatusPossuiReferenciaFamiliar"
            [(ngModel)]="situacaoRua.statusPossuiReferenciaFamiliar" [value]="false"
          />
          <label class="form-check-label" for="idStatusPossuiReferenciaFamiliar">Não</label>
        </div>
      </div>
    </div>

    <div class="form-row mb-3">
      <div class="col-md-8" >
        <legend class="col-form-label" for="idQuantasAlimentacao">Quantas vezes se alimenta ao dia?</legend>

        <div class="form-check form-check-inline" *ngFor="let op of informacao.quantasAlimentacao">
          <input
            class="form-check-input" type="radio"
            name="quantasAlimentacao" id="idQuantasAlimentacao"
            [(ngModel)]="informacao.QuantasAlimentacao"
            [value]="op"
          />
          <label class="form-check-label" for="idQuantasAlimentacao{{ op.codigo }}">{{ op.descricao }}</label>
        </div>
      </div>
    </div>

    <div class="form-row mb-3">
      <div class="col-md-12" >
        <legend class="col-form-label">Qual a origem da alimentação?</legend>
        <div class="form-check form-check-inline"  *ngFor="let op of informacao.listOrigemAlimentacao">
          <input
            class="form-check-input" type="checkbox"
            name="listOrigemAlimentacao" id="idListOrigemAlimentacao"
            [checked]="origemAlimentacaoChecked(op)"
            (change)="origemAlimentacaoChange(op)"
          />
          <label class="form-check-label" for="idListOrigemAlimentacao{{op.codigo}}">{{op.descricao}}</label>
        </div>
      </div>
    </div>

    <div class="form-row mb-3">
      <div class="col-md-4" >
        <legend class="col-form-label" for="idStatusAcompanhadoOutraInstituicao">É acompanhado por outra instituição?</legend>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input" type="radio"
            name="statusAcompanhadoOutraInstituicao"
            id="idStatusAcompanhadoOutraInstituicao"
            [(ngModel)]="situacaoRua.statusAcompanhadoOutraInstituicao" [value]="true"
          />
          <label class="form-check-label" for="idStatusAcompanhadoOutraInstituicao">Sim</label>
        </div>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input" type="radio"
            name="statusAcompanhadoOutraInstituicao"
            id="idStatusAcompanhadoOutraInstituicao"
            [(ngModel)]="situacaoRua.statusAcompanhadoOutraInstituicao" [value]="false"
          />
          <label class="form-check-label" for="idStatusAcompanhadoOutraInstituicao">Não</label>
        </div>
      </div>

      <div class="col-md-4" *ngIf="this.situacaoRua.statusAcompanhadoOutraInstituicao == true">
        <legend class="col-form-label">Se sim, Indique qual(is)?</legend>
        <div>
          <input
            type="text" class="form-control"
            id="idOutraInstituicaoAcompanha"
            name="outraInstituicaoAcompanha"
            [(ngModel)]="situacaoRua.outraInstituicaoAcompanha"
          >
        </div>
      </div>
    </div>

    <div class="form-row mb-3">

      <div class="col-md-4" >
        <legend class="col-form-label" for="idStatusAcompanhadoOutraInstituicao">Visita algum familiar com frequência?</legend>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input" type="radio"
            name="statusVisitaFamiliarFrequentemente"
            id="idStatusVisitaFamiliarFrequentemente"
            [(ngModel)]="situacaoRua.statusVisitaFamiliarFrequentemente" [value]="true"
          />
          <label class="form-check-label" for="idStatusVisitaFamiliarFrequentemente">Sim</label>
        </div>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input" type="radio"
            name="statusVisitaFamiliarFrequentemente"
            id="idStatusVisitaFamiliarFrequentemente"
            [(ngModel)]="situacaoRua.statusVisitaFamiliarFrequentemente" [value]="false"
          />
          <label class="form-check-label" for="idStatusVisitaFamiliarFrequentemente">Não</label>
        </div>
      </div>

      <div class="col-md-4" *ngIf="this.situacaoRua.statusVisitaFamiliarFrequentemente == true">
        <legend class="col-form-label">Se sim, qual é o grau de Parentesco?</legend>
        <div>
          <input
            type="text" class="form-control"
            id="idGrauParentescoFamiliarFrequentado"
            name="grauParentescoFamiliarFrequentado"
            [(ngModel)]="situacaoRua.grauParentescoFamiliarFrequentado"
          >
        </div>
      </div>

    </div>

    <div class="form-row mb-3">

      <div class="col-md-4" >
        <legend class="col-form-label" for="idStatusAcessoHigienePessoal">Tem acesso á higiene pessoal?</legend>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input" type="radio"
            name="statusAcessoHigienePessoal"
            id="idStatusAcessoHigienePessoal"
            [(ngModel)]="situacaoRua.statusAcessoHigienePessoal" [value]="true"
          />
          <label class="form-check-label" for="idStatusAcessoHigienePessoal">Sim</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input" type="radio"
            name="statusAcessoHigienePessoal"
            id="idStatusAcessoHigienePessoal"
            [(ngModel)]="situacaoRua.statusAcessoHigienePessoal" [value]="false"
          />
          <label class="form-check-label" for="idStatusAcessoHigienePessoal">Não</label>
        </div>
      </div>

      <div class="col-md-8" *ngIf="this.situacaoRua.statusAcessoHigienePessoal == true">
        <legend class="col-form-label">Se sim, indique qual(is)?</legend>
        <div class="form-check form-check-inline" *ngFor="let op of informacao.listAcessoHigiene">
          <input
            class="form-check-input" type="checkbox"
            name="listAcessoHigiene" id="idListAcessoHigiene"
            [checked]="acessoHigieneChecked(op)"
            (change)="acessoHigieneChange(op)"
          />
          <label class="form-check-label" for="idlistAcessoHigiene{{op.codigo}}">{{op.descricao}}</label>
        </div>
      </div>

    </div>
  </div>

  <div class="form-row mb-3">
    <spinner-button [showSpinner]="isLoadingSubmit">
      <button type="submit"  class="btn btn-primary"
        [disabled]>
        Salvar
      </button>
    </spinner-button>
    <button type="button" class="btn btn-secondary" >
      Cancelar
    </button>
  </div>

</form>
