<form id="formFichaVisitaDomiciliar" name="formFichaVisitaDomiciliar" #form="ngForm" (ngSubmit)="onFormSubmit()">
  
  <div class="form-row">
    
    <ng-container>
      <div class="col-md-3 mb-3">
        <label requiredLabel>CNS do Profissional</label>
        <input 
          type="text" class="form-control" 
          id="idsusprofissional" name="profissionalcns" 
          [(ngModel)]="ficha.profissionalResponsavel.cns" mask="0{15}" 
          required
          disabled 
        />
      </div>
      <div class="col-md-2 mb-3">
        <label for="idcbo" requiredLabel>CBO</label>
        <input 
          type="text" class="form-control" 
          id="idcbo" name="codigo" 
          [(ngModel)]="ficha.cbo.codigo" 
          required disabled 
        />
      </div>
    </ng-container>

    <div class="col-md-2 mb-3">
      <label requiredLabel>CNES</label>
      <input 
        type="text" class="form-control" 
        id="idcnes" name="cnes"  
        [(ngModel)]="ficha.ubs.cnes" 
        required disabled 
      />
    </div>

  </div>

  <div class="form-row">
    
    <div class="col-md-3 mb-3">
      <label for="idine">INE</label>
      <input 
        type="text" class="form-control" 
        id="idine" name="codigoEquipe" 
        [(ngModel)]="ficha.ine"
        maxlength="10" 
        [disabled]="importada || profissional" 
      />
    </div>

    <div class="col-md-4 mb-4">
      <label for="iddata" requiredLabel>Data</label>
      <input 
        type="date" class="form-control" 
        id="iddata" name="data"
        [(ngModel)]="ficha.data" 
        required [disabled]="importada || profissional" 
      />
    </div>
  
  </div>

  <fieldset class="form-group">
    
    <div class="form-row">
      
      <legend class="col-form-label col-md-2 pt-0" requiredLabel>Turno de Visita</legend>
      
      <div class="col-md-10">
        
        <div class="form-check form-check-inline">
          <input 
            class="form-check-input" type="radio" 
            name="turno" id="idturnoM"
            [(ngModel)]="ficha.turno" 
            [value]="1" 
            required [disabled]="importada || profissional" 
          />
          <label class="form-check-label" for="idturnoM">Manhã</label>
        </div>
        
        <div class="form-check form-check-inline">
          <input 
            class="form-check-input" type="radio" 
            name="turno" [(ngModel)]="ficha.turno" 
            id="idturnoT" [value]="2"  
            required [disabled]="importada || profissional" 
          />
          <label class="form-check-label" for="idturnoT">Tarde</label>
        </div>
        
        <div class="form-check form-check-inline">
          <input
            class="form-check-input" type="radio" 
            name="turno" [(ngModel)]="ficha.turno" 
            id="idturnoN" [value]="3" 
            required [disabled]="importada || profissional"
          />
          <label class="form-check-label" for="idturnoN">Noite</label>
        </div>
      
      </div>
    
    </div>
  
  </fieldset>

  <div class="form-group form-row">
    
    <label for="idprontuario" class="col-md-3 col-form-label">Número do Prontuário</label>
    
    <div class="col-md-4">
      <input 
        type="text" class="form-control" 
        id="idprontuario" name="numeroProntuario"
        [(ngModel)]="ficha.cidadao != null ? ficha.cidadao.numProntuario : ficha.cidadao"
         disabled 
      />
    </div>
  
  </div>

  <div class="form-group form-row">
     
    <label for="idcidadao" class="col-md-3 col-form-label" requiredLabel>CNS do Cidadão</label>
    
    <div class="col-md-4">
      <ngx-select-dropdown 
        (open)="buscarCidadao('1')" (searchChange)="buscarCidadao($event)" 
        tabindex="0" id="idcidadao" 
        name="cidadao" [multiple]="false" 
        [(ngModel)]="ficha.cidadao" [config]="configCidadao"
        [options]="opCidadao" 
        required [disabled]="importada || profissional"
      >
      </ngx-select-dropdown>
    </div>
  
  </div>

  <ng-container>
    
    <div class="form-group form-row">
      
      <label for="iddatanascimento" class="col-md-3 col-form-label" requiredLabel>Data de nascimento</label>
      
      <div class="col-md-4">
        <input 
          type="date" class="form-control" 
          id="iddatanascimento" name="dataNascimento"
          [(ngModel)]="ficha.cidadao != null ? ficha.cidadao.dataNascimento : ficha.cidadao" 
          required
          disabled 
        />
      </div>
    
    </div>

    <fieldset class="form-group">
      
      <div class="form-row">
        <legend class="col-form-label col-md-2 pt-0" requiredLabel>Sexo</legend>
        
        <div class="col-md-10">
          
          <div class="form-check form-check-inline">
            <input 
              class="form-check-input" type="radio" 
              id="idsexoM" value="MASCULINO" name="sexo"
              [(ngModel)]="ficha.cidadao != null ? ficha.cidadao.sexo : ficha.cidadao" 
              required disabled 
            />
            
            <label class="form-check-label" for="idsexoM">Masculino</label>
          </div>
          
          <div class="form-check form-check-inline">
            <input 
              class="form-check-input" type="radio" 
              id="idsexoF" value="FEMININO" name="sexo"
              [(ngModel)]="ficha.cidadao != null ? ficha.cidadao.sexo : ficha.cidadao" 
              required
              disabled 
            />
            
            <label class="form-check-label" for="idsexoF">Feminimo</label>
          </div>
        
        </div>
      
      </div>
    
    </fieldset>

    <fieldset>
      <div class="form-row">
      
        <legend class="col-form-label col-md-2 pt-0" requiredLabel>Status de Visita Compartilhada</legend>
      
        <div class="col-md-10">
      
          <div class="form-check form-check-inline">
            <input 
              class="form-check-input" type="radio" 
              name="statusVisita" id="idstatusVisita"
              [(ngModel)]="ficha.statusOutroProfissional" 
              [value]="true" 
              required [disabled]="importada || profissional" 
            />
            <label class="form-check-label" for="idSim">Sim</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input 
              class="form-check-input" type="radio" 
              name="statusVisita" id="idstatusVisita"
              [(ngModel)]="ficha.statusOutroProfissional" 
              [value]="false" 
              required [disabled]="importada || profissional"  
            />
            <label class="form-check-label" for="idNao">Não</label>
          </div>
      
        </div>
      
      </div>
    </fieldset>
  
  </ng-container>

  <fieldset class="form-group">
    <div class="form-row">
      
      <legend class="col-form-label col-md-2 pt-0 mt-2">
        <label requiredLabel>Motivo da visita domiciliar</label>
      </legend>

      <div class="col-md-10 mt-2">
        
        <span *ngFor="let op of motivos">
          <div class="form-check">
            <input 
              type="checkbox" class="form-check-input" 
              [checked]="motivoChecked(op)" 
              (change)="motivoChange(op)"
              id="id{{ op.codigo }}" name="{{ op.codigo }}" 
              [disabled]="importada || profissional || !permiteMotivo"
              [required]="ficha.motivos.length == 0 && permiteMotivo" 
            />
            <label class="form-check-label" for="id{{ op.codigo }}">{{ op.descricao }}</label>
          </div>
        </span>

        <div class="mt-2 mb-1 font-weight-bold">Busca Ativa</div>
        <span *ngFor="let op of motivosBuscaAtv">
          <div class="form-check">
            <input 
              type="checkbox" class="form-check-input" 
              [checked]="motivoChecked(op)" 
              (change)="motivoChange(op)"
              id="id{{ op.codigo }}" name="{{ op.codigo }}" 
              [disabled]="importada || profissional || !permiteMotivo"
              [required]="ficha.motivos.length == 0 && permiteMotivo"   
            />
            <label class="form-check-label" for="id{{ op.codigo }}">{{ op.descricao }}</label>
          </div>
        </span>

        <div class="mt-2 mb-1 font-weight-bold">Acompanhamento</div>
        <span *ngFor="let op of motivosAcompanhamento">
          <div class="form-check">
            <input 
              type="checkbox" class="form-check-input" 
              [checked]="motivoChecked(op)" 
              (change)="motivoChange(op)"
              id="id{{ op.codigo }}" name="{{ op.codigo }}" 
              [disabled]="importada || profissional || !permiteMotivo"
              [required]="ficha.motivos.length == 0 && permiteMotivo" 
            />
            <label class="form-check-label" for="id{{ op.codigo }}">{{ op.descricao }}</label>
          </div>
        </span>
      
      </div>

    </div>

  </fieldset>

  <fieldset class="form-group">
    
    <div class="form-row">
      <legend class="col-form-label col-md-2 pt-0" requiredLabel>Desfecho</legend>
      
      <div class="col-md-10">
        
        <div class="form-check form-check-inline" *ngFor="let op of desfechos">
          <input 
            class="form-check-input" type="checkbox" 
            [checked]="desfechoChecked(op)" 
            (change)="desfechoChange(op)"
            id="id{{ op.codigo }}" name="desfecho{{ op.codigo }}" 
            [disabled]="importada || profissional"
            [required]="ficha.desfecho.codigo == null" 
          />
          <label class="form-check-label" for="id{{ op.codigo }}">{{ op.descricao }}</label>
        </div>
        
      </div>
    </div>
  
  </fieldset>

</form>