<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <em class="fa fa-align-justify"></em> Pesquisar Cadastro Domiciliar
    </div>
    <div class="card-body">
      <form id="formPesquisarCadastroDomicilio" name="formPesquisarCadastroDomicilio" (ngSubmit)="onSubmit()"
        #form="ngForm">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="idlogradouro">Logradouro</label>
            <input type="text" class="form-control" id="idlogradouro" name="logradouro" [(ngModel)]="filter.logradouro">
          </div>
          <div class="col-md-3 mb-3">
            <label for="idnumero">Número</label>
            <input type="text" class="form-control" id="idnumero" name="numero" [(ngModel)]="filter.numero">
          </div>
          <div class="col-md-3 mb-3">
            <label for="idcomplemento">Complemento</label>
            <input type="text" class="form-control" id="idcomplemento" name="complemento"
              [(ngModel)]="filter.complemento">
          </div>
          <div class="col-md-2 mb-3">
            <label for="idmicroarea">Microárea</label>
            <input type="text" class="form-control" id="idmicroarea" name="microarea" [(ngModel)]="filter.microarea">
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="idbairro">Bairro</label>
            <input type="text" class="form-control" id="idbairro" name="bairro" [(ngModel)]="filter.bairro">
          </div>
          <div class="col-md-4 mb-3">
            <label for="idcep">CEP</label>
            <input type="text" class="form-control" id="idcep" name="cep" [(ngModel)]="filter.cep">
          </div>
          <div class="col-md-4 mb-3">
            <label for="idcpfCns">CPF/CNS</label>
            <input type="text" class="form-control" id="idcpfCns" name="cpfCns" [(ngModel)]="filter.cpfCns">
          </div>
        </div>
        <div class="mb-3">
          <spinner-button [showSpinner]="isLoading">
            <button type="submit" class="btn btn-primary" [disabled]="!form.form.valid">
              Pesquisar
            </button>
          </spinner-button>
          <button type="button" class="btn btn-secondary" (click)="limpar()">
            Limpar
          </button>
        </div>
      </form>
      <hr style="border-style:none" />
      <ngx-datatable class="bootstrap" [rows]="page.content" [loadingIndicator]="true" [columns]="columns"
        [columnMode]="columnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [externalPaging]="true"
        [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)="setPage($event)"
        (sort)="onSort($event)">
        <ngx-datatable-column [sortable]="column.sortable" *ngFor="let column of columns; let i = index;"
          name="{{column.name}}" prop="{{column.prop}}"></ngx-datatable-column>
        <ngx-datatable-column [sortable]="false" name="Ação">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <button class="btn btn-sm btn-warning" title="Editar" (click)="onEdit(row)"><em
                class="icon-pencil action edit"></em></button>
            <button class="btn btn-sm btn-danger" title="Excluir" (click)="onDeleteConfirm(row)"><em
                class="icon-trash action delete"></em></button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>

<div bsModal #modalExcluir="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-sm modal-danger">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">Excluir Cadastro Domiciliar</h4>
      </div>
      <div class="modal-body">
        Deseja realmente excluir o Cadastro Domiciliar?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalExcluir.hide()">Não</button>
        <spinner-button [showSpinner]="isLoadingExcluir">
          <button type="button" class="btn btn-danger" (click)="delete()">Sim</button>
        </spinner-button>
      </div>
    </div>
  </div>
</div>