<label class="mt-2 mb-1 font-weight-bold">Profissional Responsável</label>
<form id="formFichaProcedimento" name="formFichaProcedimento" (ngSubmit)="onFormSubmit()" #form="ngForm">
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label for="idprofissionalResponsavelCns" requiredLabel>CNS do Profissional</label>
      <input type="text" class="form-control" [(ngModel)]="fichaProcedimentos.profissionalResponsavel.cns"
        id="idprofissionalResponsavelCns" name="profissionalResponsavelCns" mask="0{15}" required disabled>
    </div>
    <div class="col-md-2 mb-3">
      <label for="idprofissionalResponsavelCbo" requiredLabel>CBO</label>
      <input type="text" class="form-control" [(ngModel)]="fichaProcedimentos.cbo.codigo"
        name="profissionalResponsavelCbo" id="idprofissionalResponsavelCbo" mask="0000-99" required disabled>
    </div>
    <div class="col-md-2 mb-3">
      <label for="idubsCnes" requiredLabel>CNES</label>
      <input type="text" class="form-control" [(ngModel)]="fichaProcedimentos.ubs.cnes" id="idubsCnes" name="ubsCnes"
        mask="0{7}" required disabled>
    </div>
    <div class="col-md-3 mb-3">
      <label for="ubsIne">INE</label>
      <input type="text" class="form-control" name="ubsIne" id="idubsIne" [(ngModel)]="fichaProcedimentos.ine"
        maxlength="10" [disabled]="fichaProcedimentos.importada || profissional">
    </div>
    <div class="col-md-2 mb-3">
      <label for="iddata" requiredLabel>Data</label>
      <input type="date" [(ngModel)]="fichaProcedimentos.data" class="form-control" name="data" id="iddata" required
        [disabled]="fichaProcedimentos.importada || profissional">
    </div>
  </div>
  <br>
  <fieldset class="form-group">
    <div class="form-row">
      <legend class="col-form-label col-md-3 pt-0" requiredLabel>Turno</legend>
      <div class="col-md-9">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="fichaProcedimentos.turno" name="turno" id="idturnoM"
            [value]="1" required [disabled]="fichaProcedimentos.importada || profissional">
          <label class="form-check-label" for="idturnoM">Manhã</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="fichaProcedimentos.turno" name="turno" id="idturnoT"
            [value]="2" required [disabled]="fichaProcedimentos.importada || profissional">
          <label class="form-check-label" for="idturnoT">Tarde</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="fichaProcedimentos.turno" name="turno" id="idturnoN"
            [value]="3" required [disabled]="fichaProcedimentos.importada || profissional">
          <label class="form-check-label" for="idturnoN">Noite</label>
        </div>
      </div>
    </div>
    <br>
    <div class="form-group form-row">
      <label class="col-md-3 pt-0 col-form-label">Nº Prontuário</label>
      <div class="col-md-3 mb-3">
        <input type="text" maxlength="30"
          [(ngModel)]="fichaProcedimentos.cidadao != null ? fichaProcedimentos.cidadao.numProntuario : fichaProcedimentos.cidadao"
          name="numProntuario" id="idnumProntuario" class="form-control" disabled>
      </div>
    </div>
    <div class="form-group form-row">
      <label class="col-md-3 pt-0 col-form-label" for="iddata" requiredLabel>Local Atendimento</label>
      <div class="col-md-3 mb-3">
        <select class="form-control" id="idlocalAtendimento" name="localAtendimento" placeholder="selecionar"
          [(ngModel)]="fichaProcedimentos.localAtendimento.codigo" required
          [disabled]="fichaProcedimentos.importada || profissional">
          <option *ngFor="let local of locais" [value]="local.codigo">
            {{local.descricao}}
          </option>
        </select>
      </div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <label class="mt-2 mb-1 font-weight-bold" requiredLabel>Paciente</label>
    <div>
      <div class="form-row">
        <div class="col-md-3 mb-3">
          <label id="idcidadao" requiredLabel>Cidadão</label>
          <ngx-select-dropdown (open)="buscarCidadao('1')" (searchChange)="buscarCidadao($event)" tabindex="0"
            id="idcidadao" name="cidadao" [multiple]="false" [(ngModel)]="fichaProcedimentos.cidadao"
            [config]="configCidadao" [options]="opCidadao" required
            [disabled]="fichaProcedimentos.importada || profissional">
          </ngx-select-dropdown>
        </div>
        <div class="col-md-2 mb-3">
          <label for="iddata" requiredLabel>Data de Nascimento</label>
          <input type="date" class="form-control" id="idcidadaodata" name="cidadaodata"
            [(ngModel)]="fichaProcedimentos.cidadao != null ? fichaProcedimentos.cidadao.dataNascimento : fichaProcedimentos.cidadao"
            required disabled>
        </div>
        <div class="col-md-3 mb-3">
          <div>
            <label>Sexo</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" id="idcidadaosexo" name="cidadaosexo" type="radio"
              [(ngModel)]="fichaProcedimentos.cidadao != null ? fichaProcedimentos.cidadao.sexo : fichaProcedimentos.cidadao"
              value="MASCULINO" required disabled>
            <label class="form-check-label" for="idcidadaosexo">Masculino</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" id="idcidadaosexo" name="cidadaotosexo" type="radio"
              [(ngModel)]="fichaProcedimentos.cidadao != null ? fichaProcedimentos.cidadao.sexo : fichaProcedimentos.cidadao"
              value="FEMININO" required disabled>
            <label class="form-check-label" for="idcidadaosexo">Feminimo</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" id="idescutainicial" name="escutainicial" type="checkbox"
              [(ngModel)]="fichaProcedimentos.escutaInicial" [value]="true"
              [disabled]="fichaProcedimentos.importada || profissional">
            <label class="form-check-label" for="idcidadaonecessidade">Escuta inicial/orientação</label>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <label class="mt-2 mb-1 font-weight-bold">Escolha até 20 procedimentos</label>
  <fieldset class="form-group">
    <label class="mt-2 mb-1 font-weight-bold">Procedimentos/Pequenas Cirurgias (Opção
      Múltipla)</label>{{ fichaProcedimentos.escutaInicial == false ? ' *' : '' }}
    <div class="form-row">
      <legend class="col-form-label col-md-2 pt-0">
      </legend>
      <div class="col-md-10">
        <div *ngFor="let procedimento of procedimentosFixo" class="form-check">
          <input type="checkbox" name="procedimento" id="procedimento{{procedimento.codigo}}"
            (change)="procedimentoChange(procedimento)" [checked]="procedimentoChecked(procedimento)"
            class="form-check-input" [disabled]="fichaProcedimentos.importada || profissional">
          <label class="form-check-label">{{procedimento.descricao}}</label>
        </div>
      </div>
    </div>
    <br>
    <div class="form-row">
      <legend class="col-form-label col-md-2 pt-0">
        Teste rápido
      </legend>
      <div class="col-md-10">
        <div *ngFor="let procedimento of testes" class="form-check">
          <input type="checkbox" name="procedimento" id="procedimento{{procedimento.codigo}}"
            (change)="procedimentoChange(procedimento)" [checked]="procedimentoChecked(procedimento)"
            class="form-check-input"
            [disabled]="limitarQuantidadeProcedimentos() || fichaProcedimentos.importada || profissional">
          <label class="form-check-label">{{procedimento.descricao}}</label>
        </div>
      </div>
    </div>
    <br>
    <div class="form-row">
      <legend class="col-form-label col-md-2 pt-0">
        Administração de Medicamentos
      </legend>
      <div class="col-md-10">
        <div *ngFor="let procedimento of medicamentos" class="form-check">
          <input type="checkbox" name="procedimento" id="procedimento{{procedimento.codigo}}"
            (change)="procedimentoChange(procedimento)" [checked]="procedimentoChecked(procedimento)"
            class="form-check-input"
            [disabled]="limitarQuantidadeProcedimentos() || fichaProcedimentos.importada || profissional">
          <label class="form-check-label">{{procedimento.descricao}}</label>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="idGrupo">Grupo</label>
        <ngx-select-dropdown (change)="grupoChange($event)" tabindex="0" name="grupo" [multiple]="false"
          [(ngModel)]="fichaProcedimentos.grupo.id == null ? null : fichaProcedimentos.grupo" [config]="configGrupo"
          [options]="grupos" [disabled]="fichaProcedimentos.importada || profissional"></ngx-select-dropdown>
      </div>
      <div class="col-md-6 mb-3">
        <label for="idSubGrupo">SubGrupo</label>
        <ngx-select-dropdown (change)="subgrupoChange($event)" (open)="subgrupoOpen()" tabindex="0" name="subgrupo"
          [multiple]="false" [(ngModel)]="fichaProcedimentos.subgrupo.id == null ? null : fichaProcedimentos.subgrupo"
          [config]="configSubGrupo" [options]="subgrupos" [disabled]="fichaProcedimentos.grupo.id == null">
        </ngx-select-dropdown>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="idForma">Forma Organizacional</label>
        <ngx-select-dropdown (change)="formaChange($event)" (open)="formaOpen()" tabindex="0" name="forma"
          [multiple]="false" [(ngModel)]="fichaProcedimentos.forma.id == null ? null : fichaProcedimentos.forma"
          [config]="configForma" [options]="formas" [disabled]="fichaProcedimentos.subgrupo.id == null">
        </ngx-select-dropdown>
      </div>
      <div class="col-md-2 mb-3" style="align-self: end;">
        <button type="button" class="btn btn-secondary" (click)="clear()" [disabled]="fichaProcedimentos.importada">
          Limpar
        </button>
      </div>
      <div class="col-md-6 mb-3">
        <label for="idProcedimento">Outros Procedimentos</label>
        <ngx-select-dropdown (open)="searchProcedimentoChange('a')" (searchChange)="searchProcedimentoChange($event)"
          tabindex="0" name="procedimento" [multiple]="true" [(ngModel)]="fichaProcedimentos.procedimento"
          [config]="config" [options]="procedimentos"
          [disabled]="limitarQuantidadeProcedimentos() || fichaProcedimentos.importada || profissional">
        </ngx-select-dropdown>
      </div>
    </div>
  </fieldset>
</form>