<div class="animated fadeIn">

  <div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Cidadãos
      </div>
      <div class="card-body">

  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="text-value">{{ncidadaosCadastrados}}</div>
          <div>Cadastrados</div>
        </div>
      </div>
    </div> <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div class="text-value">{{ncidadaosComBiometria}}</div>
          <div>Com cadastro biométrico</div>
        </div>
      </div>
    </div> <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="text-value">{{ncidadaosSemBiometria}}</div>
          <div>Sem cadastro biométrico</div>
        </div>
      </div>
    </div> <!--/.col-->
  </div> <!--/.row-->
  </div>
  </div>
  </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Avaliações Médicas
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12">
                  <div class="callout callout-info">
                    <small class="text-muted">Total</small>
                    <br>
                    <strong class="h4">{{navaliacoes}}</strong>
                  </div>
                </div> <!--/.col-->
              </div> <!--/.row-->

              <hr class="mt-0">

              <div class="progress-group">
                <div class="progress-group-header">
                  <i class="icon-user progress-group-icon"></i>
                  <div>Hoje</div>
                  <div class="ml-auto font-weight-bold">{{navaliacoesHoje}}</div>
                </div>
                <div class="progress-group-bars">
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-warning" role="progressbar" [style.width]="pAvaliacoesHoje + '%'"></div>
                  </div>
                </div>
              </div>

              <div class="progress-group mb-5">
                <div class="progress-group-header">
                  <i class="icon-user-female progress-group-icon"></i>
                  <div>Últimos 7 dias</div>
                  <div class="ml-auto font-weight-bold">{{navaliacoes7dias}}</div>
                </div>
                <div class="progress-group-bars">
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-warning" role="progressbar" [style.width]="pAvaliacoes7dias + '%'"></div>
                  </div>
                </div>
              </div>

              <div class="progress-group mb-5">
                <div class="progress-group-header">
                  <i class="icon-user-female progress-group-icon"></i>
                  <div>Últimos 30 dias</div>
                  <div class="ml-auto font-weight-bold">{{navaliacoes30dias}}</div>
                </div>
                <div class="progress-group-bars">
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-warning" role="progressbar" [style.width]="pAvaliacoes30dias + '%'"></div>
                  </div>
                </div>
              </div>
            </div> <!--/.col-->
          </div> <!--/.row-->


        </div>
      </div>
    </div> <!--/.col-->
  </div> <!--/.row-->
</div>
