<form name="formCidadaoGeral" (ngSubmit)="onSubmit()" #form="ngForm">
  <small class="text-muted"> (*) indica um campo obrigatório. </small>
  <br><br>
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label for="idprofissionalResponsavelCns" requiredLabel>CNS do Profissional</label>
      <input type="text" class="form-control" [(ngModel)]="ficha.profissionalResponsavel.cns"
        id="idprofissionalResponsavelCns" name="profissionalResponsavelCns" mask="0{15}" required disabled>
    </div>
    <div class="col-md-2 mb-3">
      <label for="idprofissionalResponsavelCbo" requiredLabel>CBO</label>
      <input type="text" class="form-control" [(ngModel)]="ficha.cbo.codigo" name="profissionalResponsavelCbo"
        id="idprofissionalResponsavelCbo" mask="0000-99" required disabled>
    </div>
    <div class="col-md-2 mb-3">
      <label for="idubsCnes" requiredLabel>CNES</label>
      <input type="text" class="form-control" [(ngModel)]="ficha.ubs.cnes" id="idubsCnes" name="ubsCnes" mask="0{7}"
        required disabled>
    </div>
    <div class="col-md-3 mb-3">
      <label for="ubsIne">INE</label>
      <input type="text" class="form-control" name="ubsIne" id="idubsIne" [(ngModel)]="ficha.ine" maxlength="10">
    </div>
    <div class="col-md-2 mb-3">
      <label for="iddata" requiredLabel>Data</label>
      <input type="date" [(ngModel)]="ficha.data" class="form-control" name="data" id="iddata" required>
    </div>
  </div>
  <br>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="idnome" requiredLabel>Nome Completo</label>
      <input type="text" class="form-control" id="idnome" name="nome" #nome="ngModel" [(ngModel)]="cidadao.nome"
        placeholder="Nome" required>
      <div [hidden]="nome.valid || nome.pristine">
        <small class="form-text text-danger">Nome Completo é requerido.</small>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="idnumProntuario">N° Prontuário</label>
      <input type="text" class="form-control" id="idnumProntuario" name="numProntuario"
        [(ngModel)]="cidadao.numProntuario" placeholder="N° Prontuário">
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-12 mb-3">
      <label for="idnomesocial">Nome social</label>
      <input type="text" class="form-control" id="idnomesocial" name="nomesocial" [(ngModel)]="cidadao.nomeSocial"
        placeholder="Nome social">
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="iddataNascimento" requiredLabel>Data de nascimento</label>
      <input type="date" class="form-control" id="iddataNascimento" name="dataNascimento" #dataNascimento="ngModel"
        [(ngModel)]="cidadao.dataNascimento" required>
      <div [hidden]="dataNascimento.valid || dataNascimento.pristine">
        <small class="form-text text-danger">Data de nascimento é requerida.</small>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="idsexo" requiredLabel>Sexo</label>
      <select class="form-control" id="idsexo" name="sexo" [(ngModel)]=cidadao.sexo required>
        <option *ngFor="let opcao of opcaoForm.opcoesSexo" [value]="opcao">{{opcao}}</option>
      </select>
    </div>
    <div class="col-md-4 mb-3">
      <label for="idestadoCivil" requiredLabel>Estado civil</label>
      <select class="form-control" id="idestadoCivil" name="estadoCivil" [(ngModel)]="cidadao.estadoCivil" required>
        <option *ngFor="let opcao of opcaoForm.opcoesEstadoCivil" [value]="opcao">{{opcao}}</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="idcpf">CPF</label>
      <input type="text" class="form-control" id="idcpf" name="cpf" #cpf="ngModel" [(ngModel)]="cidadao.cpf"
        pattern="[0-9]{11}$" (change)="validaCpf()">
      <small class="form-text text-muted">Use apenas números.</small>
      <div *ngIf="!cpfValido">
        <small class="form-text text-danger">CPF inválido. Use 11 dígitos.</small>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="idcartaoSus" requiredLabel>CNS</label>
      <input type="text" class="form-control" id="idcartaoSus" name="cns" #cns="ngModel" [(ngModel)]="cidadao.cns"
        pattern="[0-9]{15}$" (change)="validaCns()" required>
      <small class="form-text text-muted">Use apenas números.</small>
      <div *ngIf="!cnsValido">
        <small class="form-text text-danger">CNS inválido. Use 15 dígitos.</small>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="idnis">Nº NIS (PIS/PASEP)</label>
      <input type="text" class="form-control" id="idnis" name="nis" #nis="ngModel"
        [(ngModel)]="cidadao.numeroNisPisPasep" pattern="[0-9]{11}$">
      <small class="form-text text-muted">Use apenas números.</small>
      <div [hidden]="nis.valid || nis.pristine">
        <small class="form-text text-danger">Nº NIS inválido. Use 11 dígitos.</small>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-8 mb-3">
      <label for="idnome">Nome da mãe</label>
      {{cidadao.desconheceNomeMae == false ? ' *' : ''}}
      <input type="text" class="form-control" id="idnomemae" name="nomemae" [(ngModel)]="cidadao.nomeMae"
        placeholder="Nome" [disabled]="cidadao.desconheceNomeMae == true"
        [required]="cidadao.desconheceNomeMae == false">
    </div>
    <div class="col-md-4 mb-3" style="align-self: flex-end;">
      <input type="checkbox" id="iddesconhecemae" name="desconhecemae" (change)="desconheceMae()"
        [(ngModel)]="cidadao.desconheceNomeMae" [value]="true">
      <label>Desconhecida</label>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-8 mb-3">
      <label for="idnome">Nome do pai</label>
      {{cidadao.desconheceNomePai == false ? ' *' : ''}}
      <input type="text" class="form-control" id="idnomepai" name="nomepai" [(ngModel)]="cidadao.nomePai"
        placeholder="Nome" [disabled]="cidadao.desconheceNomePai == true"
        [required]="cidadao.desconheceNomePai == false">
    </div>
    <div class="col-md-4 mb-3" style="align-self: flex-end;">
      <input type="checkbox" id="iddesconhecePai" name="desconhecePai" (change)="desconhecePai()"
        [(ngModel)]="cidadao.desconheceNomePai" [value]="true">
      <label>Desconhecido</label>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="idcpfResponsavelFamiliar">CPF do responsável</label>
      {{ cidadao.statusEhResponsavel == false && cidadao.cnsResponsavelFamiliar == null ||
      cidadao.cnsResponsavelFamiliar == '' ? ' *' : ''}}
      <input type="text" class="form-control" id="idcpfResponsavelFamiliar" name="cpfResponsavelFamiliar"
        #cpfResponsavelFamiliar="ngModel" [(ngModel)]="cidadao.cpfResponsavelFamiliar" pattern="[0-9]{11}$"
        [required]="cidadao.statusEhResponsavel == false && cidadao.cnsResponsavelFamiliar == null || cidadao.cnsResponsavelFamiliar == ''"
        [disabled]="cidadao.statusEhResponsavel == true" (change)="validaCpfResponsavel()">
      <small class="form-text text-muted">Use apenas números.</small>
      <div *ngIf="!cpfResponsavel">
        <small class="form-text text-danger">CPF do responsável é inválido. Use 11 dígitos.</small>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="idcnsResponsavelFamiliar">CNS do responsável</label>
      {{ cidadao.statusEhResponsavel == false && cidadao.cpfResponsavelFamiliar == null ||
      cidadao.cpfResponsavelFamiliar == '' ? ' *' : ''}}
      <input type="text" class="form-control" id="idcnsResponsavelFamiliar" name="cnsResponsavelFamiliar"
        #cnsResponsavelFamiliar="ngModel" [(ngModel)]="cidadao.cnsResponsavelFamiliar" pattern="[0-9]{15}$"
        [required]="cidadao.statusEhResponsavel == false && cidadao.cpfResponsavelFamiliar == null || cidadao.cpfResponsavelFamiliar == ''"
        [disabled]="cidadao.statusEhResponsavel == true" (change)="validarCnsResponsavel()">
      <small class="form-text text-muted">Use apenas números.</small>
      <div *ngIf="!cnsResponsavel">
        <small class="form-text text-danger">CNS do responsável é inválido. Use 15 dígitos.</small>
      </div>
    </div>
    <div class="col-md-4 mb-3" style="align-self: center;">
      <input type="checkbox" id="idstatusEhResponsavel" name="statusEhResponsavel" (change)="desconhecePai()"
        [(ngModel)]="cidadao.statusEhResponsavel" [value]="true">
      <label>Cidadão é o responsável familiar?</label>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3" style="align-self: flex-end;">
      <input type="checkbox" id="idstForaArea" name="stForaArea" [(ngModel)]="cidadao.stForaArea" [value]="true">
      <label>Fora da área</label>
    </div>
    <div class="col-md-4 mb-3">
      <label for="idmicroarea">Microárea</label>{{ cidadao.stForaArea == false ? ' *' : '' }}
      <input type="text" class="form-control" id="idmicroarea" name="microarea" [(ngModel)]="cidadao.microarea"
        [disabled]="cidadao.stForaArea == true" [required]="cidadao.stForaArea == false" maxlength="2">
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="idnacionalidade" requiredLabel>Nacionalidade</label>
      <select class="form-control" id="idnacionalidade" #nacionalidade="ngModel" name="nacionalidade"
        (change)="nacionalidadeChange()" [(ngModel)]=cidadao.nacionalidade required>
        <option *ngFor="let opcao of opcaoForm.opcoesNacionalidade" [value]="opcao">{{opcao}}</option>
      </select>
      <div [hidden]="nacionalidade.valid || nacionalidade.pristine">
        <small class="form-text text-danger">Nascionalidade é requerida.</small>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="idufNascimento">UF</label> {{ cidadao.nacionalidade == 'Brasileira' ? ' *' : '' }}
      <select class="form-control" id="idufNascimento" #estadoNascimento="ngModel" name="ufNascimento"
        [(ngModel)]=cidadao.estadoNascimento [required]="cidadao.nacionalidade == 'Brasileira'" (change)="ufChange()"
        [disabled]="cidadao.nacionalidade != 'Brasileira'">
        <option *ngFor="let opcao of opcaoForm.opcoesEstadosBrasil" [value]="opcao">{{opcao}}</option>
      </select>
      <div [hidden]="estadoNascimento.valid || estadoNascimento.pristine">
        <small class="form-text text-danger">Estado de nascimento é requerido.</small>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="idmunicipioNascimento">Municipio de nascimento</label>
      {{ cidadao.nacionalidade == 'Brasileira' ? ' *' : '' }}
      <ngx-select-dropdown (open)="buscarMunicipio('a')" (searchChange)="buscarMunicipio($event)"
        (change)="municipioChange($event)" #municipioNascimento="ngModel" tabindex="0" id="idmunicipioNascimento"
        name="municipioNascimento" [multiple]="false" [required]="cidadao.nacionalidade == 'Brasileira'"
        [(ngModel)]="cidadao.municipioNascimento.codigoIbge == null ? null : cidadao.municipioNascimento"
        [config]="config" [options]="municipios"
        [disabled]="cidadao.estadoNascimento == null || cidadao.estadoNascimento == '' || cidadao.nacionalidade != 'Brasileira'">
      </ngx-select-dropdown>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="idpaisNascimento">País de nascimento</label> {{ cidadao.nacionalidade == 'Estrangeiro' ? ' *' : '' }}
      <ngx-select-dropdown (open)="buscarPais('a')" (searchChange)="buscarPais($event)" (change)="paisChange($event)"
        #paisNascimento="ngModel" tabindex="0" id="idpaisNascimento" name="paisNascimento" [multiple]="false"
        [(ngModel)]="cidadao.paisNascimento.codigo == null ? null : cidadao.paisNascimento" [config]="config"
        [options]="paises" [required]="cidadao.nacionalidade == 'Estrangeiro'"
        [disabled]="cidadao.nacionalidade == 'Brasileira' || cidadao.nacionalidade == 'Naturalizado'">
      </ngx-select-dropdown>
    </div>
    <div class="col-md-4 mb-3">
      <label for="iddataNaturalizacao">Data da naturalização</label>
      {{ cidadao.nacionalidade == 'Naturalizado' ? ' *' : '' }}
      <input type="date" class="form-control" id="iddataNaturalizacao" name="dataNaturalizacao"
        #dataNaturalizacao="ngModel" [(ngModel)]="cidadao.dtNaturalizacao"
        [required]="cidadao.nacionalidade == 'Naturalizado'" [disabled]="cidadao.nacionalidade != 'Naturalizado'">
      <div [hidden]="dataNaturalizacao.valid || dataNaturalizacao.pristine">
        <small class="form-text text-danger">Data da naturalização é requerida.</small>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="idportariaNaturalizacao">Portaria naturalização</label>
      {{ cidadao.nacionalidade == 'Naturalizado' ? ' *' : '' }}
      <input type="text" class="form-control" id="idportariaNaturalizacao" name="portariaNaturalizacao"
        #portariaNaturalizacao="ngModel" [(ngModel)]="cidadao.portariaNaturalizacao"
        [required]="cidadao.nacionalidade == 'Naturalizado'" [disabled]="cidadao.nacionalidade != 'Naturalizado'">
      <div [hidden]="portariaNaturalizacao.valid || portariaNaturalizacao.pristine">
        <small class="form-text text-danger">Portaria naturalização é requerido.</small>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="iddataEntrada">Data da entrada no pais</label>
      {{ cidadao.nacionalidade == 'Estrangeiro' ? ' *' : '' }}
      <input type="date" class="form-control" id="iddataEntrada" name="dataEntrada" #dataEntrada="ngModel"
        [(ngModel)]="cidadao.dtEntradaBrasil" [required]="cidadao.nacionalidade == 'Estrangeiro'"
        [disabled]="cidadao.nacionalidade != 'Estrangeiro'">
      <div [hidden]="dataEntrada.valid || dataEntrada.pristine">
        <small class="form-text text-danger">Data da entrada no pais é requerida.</small>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="idracaCor" requiredLabel>Raça/Cor</label>
      <select class="form-control" id="idracaCor" #racaCor="ngModel" name="racaCor" [(ngModel)]="cidadao.racaCor.codigo"
        (change)="racaChange()" required>
        <option *ngFor="let opcao of opcaoForm.opcoesRacaCor" [value]="opcao.codigo">{{opcao.descricao}}</option>
      </select>
      <div [hidden]="racaCor.valid || racaCor.pristine">
        <small class="form-text text-danger">Raça/Cor é requerido.</small>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="idetnia">Etnia</label> {{ cidadao.racaCor.codigo == 5 ? ' *' : '' }}
      <ngx-select-dropdown (open)="buscarEtnia('a')" (searchChange)="buscarEtnia($event)" (change)="etniaChange($event)"
        #etnia="ngModel" tabindex="0" id="idetnia" name="etnia" [multiple]="false"
        [(ngModel)]="cidadao.etnia.codigo == null ? null : cidadao.etnia" [config]="configEtnia" [options]="etnias"
        [required]="cidadao.racaCor.codigo == 5" [disabled]="cidadao.racaCor.codigo != 5">
      </ngx-select-dropdown>
    </div>
  </div>
  <hr>
  <div class="form-row form-group">
    <legend class="col-form-label">Contato</legend>
    <div class="col-md-6 mb-3">
      <label for="idemail">Email</label>
      <input type="email" class="form-control" id="idemail" name="email" #email="ngModel" [(ngModel)]="cidadao.email">
      <div [hidden]="email.valid || email.pristine">
        <small class="form-text text-danger">Email inválido.</small>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="idcelular">Celular</label>
      <input type="text" class="form-control" id="idcelular" name="celular" #celular="ngModel"
        [(ngModel)]="cidadao.celular" pattern="[0-9]{10,11}$">
      <small class="text-muted">Use apenas números com DDD (10 a 11 dígitos).</small>
      <div [hidden]="celular.valid || celular.pristine">
        <small class="form-text text-danger">Celular inválido.</small>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="idtelefone">Outro telefone</label>
      <input type="text" class="form-control" id="idtelefone" name="telefone" #telefone="ngModel"
        [(ngModel)]="cidadao.telefone" pattern="[0-9]{10,11}$">
      <small class="text-muted">Use apenas números com DDD (10 a 11 dígitos).</small>
      <div [hidden]="telefone.valid || telefone.pristine">
        <small class="form-text text-danger">Telefone inválido.</small>
      </div>
    </div>
  </div>
  <hr>
  <div class="form-row form-group">
    <legend class="col-form-label">RG</legend>
    <div class="col-md-6 mb-3">
      <label for="idrgNumero">Número</label>
      <input type="text" class="form-control" id="idrgNumero" name="rgNumero" [(ngModel)]="cidadao.rg.numero">
    </div>
    <div class="col-md-4 mb-3">
      <label for="idrgOrgaoEmissor">Órgao Emissor</label>
      <input type="text" class="form-control" id="idrgOrgaoEmissor" name="rgOrgaoEmissor" #rgOrgaoEmissor="ngModel"
        [(ngModel)]="cidadao.rg.orgaoEmissor" pattern="[a-zA-z0-9]{2,10}$">
      <small class="form-text text-muted">Use sigla (entre 2 a 10 caracteres).</small>
      <div [hidden]="rgOrgaoEmissor.valid || rgOrgaoEmissor.pristine">
        <small class="form-text text-danger">Órgao emissor inválido.</small>
      </div>
    </div>
    <div class="col-md-2 mb-3">
      <label for="idrgUf">UF</label>
      <select class="form-control" id="idrgUf" name="rgUf" [(ngModel)]=cidadao.rg.uf>
        <option *ngFor="let opcao of opcaoForm.opcoesEstadosBrasil" [value]="opcao">{{opcao}}</option>
      </select>
    </div>
  </div>
  <hr>
  <div class="form-row form-group">
    <legend class="col-form-label">Título de Eleitor</legend>
    <div class="col-md-4 mb-3">
      <label for="idtituloEleitorNumero">Número</label>
      <input type="text" class="form-control" id="idtituloEleitorNumero" name="tituloEleitorNumero"
        #tituloEleitorNumero="ngModel" [(ngModel)]="cidadao.tituloEleitor.numero" pattern="[0-9]{12}$">
      <small class="form-text text-muted">Use apenas números.</small>
      <div [hidden]="tituloEleitorNumero.valid || tituloEleitorNumero.pristine">
        <small class="form-text text-danger">Número do título de eleitor inválido.</small>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="idtituloEleitorZona">Zona</label>
      <input type="text" class="form-control" id="idtituloEleitorZona" name="tituloEleitorZona"
        #tituloEleitorZona="ngModel" [(ngModel)]="cidadao.tituloEleitor.zona" pattern="[0-9]{1,3}$">
      <div [hidden]="tituloEleitorZona.valid || tituloEleitorZona.pristine">
        <small class="form-text text-danger">Zona inválida. Deve conter de 1 a 3 dígitos.</small>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="idtituloEleitorSecao">Seção</label>
      <input type="text" class="form-control" id="idtituloEleitorSecao" name="tituloEleitorSecao"
        #tituloEleitorSecao="ngModel" [(ngModel)]="cidadao.tituloEleitor.secao" pattern="[0-9]{1,4}$">
      <div [hidden]="tituloEleitorSecao.valid || tituloEleitorSecao.pristine">
        <small class="form-text text-danger">Seção inválida. Deve conter de 1 a 4 dígitos.</small>
      </div>
    </div>
    <div class="col-md-2 mb-3">
      <label for="idtituloEleitorUf">UF</label>
      <select class="form-control" id="idtituloEleitorUf" name="tituloEleitorUf" [(ngModel)]=cidadao.tituloEleitor.uf>
        <option *ngFor="let opcao of opcaoForm.opcoesEstadosBrasil" [value]="opcao">{{opcao}}</option>
      </select>
    </div>
  </div>
  <hr style="border-style:none" />
  <spinner-button [showSpinner]="isLoading">
    <button type="submit" class="btn btn-primary" [disabled]="!form.form.valid">
      Salvar
    </button>
  </spinner-button>
  <a class="btn btn-secondary btn-md" routerLink="/">Cancelar</a>
</form>