<div class="modal fade" bsModal #cadastrarBiometriaModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">Cadastrar Biometria {{cadastroDigitalPrincipalTexto}}</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-4">
              <div class="mb-3">
                Leitor: {{statusLeitor}}
              </div>
              <div class="mb-3" id="imagediv" style="height:200px;border-style:solid"></div>
              <div class="mb-3" *ngIf="dedoCadastro==-1">
                <label for="idDedoCadastro">Dedo</label>
                <select [disabled]="!leitorBiometricoUid" class="form-control" id="idDedoCadastro" name="dedoCadastro" [(ngModel)]="dedoCadastro" (change)="onDedoCadastroSelected($event)" required>
                  <option *ngFor="let dedo of dedos" [ngValue]="dedo.numero">{{dedo.nome}}</option>
                </select>
              </div>
              <div class="mb-3" *ngIf="dedoCadastro!=-1">
                <img *ngIf="dedoCadastro==0" src="assets/img/fingerprint/minihands_0.png" class="img-fluid" alt="Dedo cadastro">
                <img *ngIf="dedoCadastro==1" src="assets/img/fingerprint/minihands_1.png" class="img-fluid" alt="Dedo cadastro">
                <img *ngIf="dedoCadastro==2" src="assets/img/fingerprint/minihands_2.png" class="img-fluid" alt="Dedo cadastro">
                <img *ngIf="dedoCadastro==3" src="assets/img/fingerprint/minihands_3.png" class="img-fluid" alt="Dedo cadastro">
                <img *ngIf="dedoCadastro==4" src="assets/img/fingerprint/minihands_4.png" class="img-fluid" alt="Dedo cadastro">
                <img *ngIf="dedoCadastro==5" src="assets/img/fingerprint/minihands_5.png" class="img-fluid" alt="Dedo cadastro">
                <img *ngIf="dedoCadastro==6" src="assets/img/fingerprint/minihands_6.png" class="img-fluid" alt="Dedo cadastro">
                <img *ngIf="dedoCadastro==7" src="assets/img/fingerprint/minihands_7.png" class="img-fluid" alt="Dedo cadastro">
                <img *ngIf="dedoCadastro==8" src="assets/img/fingerprint/minihands_8.png" class="img-fluid" alt="Dedo cadastro">
                <img *ngIf="dedoCadastro==9" src="assets/img/fingerprint/minihands_9.png" class="img-fluid" alt="Dedo cadastro">
              </div>
            </div>
            <div class="col-8 align-self-center">
              <div class="mb-3">
                <img *ngIf="numeroDigitaisColetadas==0" src="assets/img/fingerprint/score0.png" class="img-fluid mx-auto d-block" alt="Cadastro passos">
                <img *ngIf="numeroDigitaisColetadas==1" src="assets/img/fingerprint/score1.png" class="img-fluid mx-auto d-block" alt="Cadastro passos">
                <img *ngIf="numeroDigitaisColetadas==2" src="assets/img/fingerprint/score2.png" class="img-fluid mx-auto d-block" alt="Cadastro passos">
                <img *ngIf="numeroDigitaisColetadas==3" src="assets/img/fingerprint/score3.png" class="img-fluid mx-auto d-block" alt="Cadastro passos">
                <img *ngIf="numeroDigitaisColetadas==4" src="assets/img/fingerprint/score4.png" class="img-fluid mx-auto d-block" alt="Cadastro passos">
              </div>
              <div class="mb-3">
                {{mensagemDireita}}
                <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary" (click)="onButtonClick()">{{textoBotao}}</button>
      </div>
    </div>
  </div>
</div>
