<div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        <em class="fa fa-align-justify"></em> {{ fichaEvolucao.importada || profissional ? 'Visualizar
        Evolução' : 'Editar Evolução' }}
      </div>
      <div class="card-body">
        <app-form-evolucao #formEvolucao [formData]="formData$"
          (onSubmit)="onSubmitted($event)">
        </app-form-evolucao>
      </div>
      <div class="card-footer">
        <spinner-button [showSpinner]="isLoadingSubmit">
          <button type="submit" form="formFichaEvolucao" class="btn btn-primary"
            [disabled]="fichaEvolucao.importada || profissional">
            Salvar
          </button>
        </spinner-button>
        <button type="button" class="btn btn-secondary" routerLink="/">
          Cancelar
        </button>
      </div>
    </div>
  </div>