<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <em class="fa fa-align-justify"></em> Pesquisar Usuários
    </div>
    <div class="card-body">
      <form id="formPesquisarUsuario" name="formPesquisarUsuario" (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="form-row align-items-end">
          <div class="col-md-3 mb-3">
            <label for="idnome">Nome</label>
            <input type="text" class="form-control" id="idnome" name="nome" [(ngModel)]="filter.nome">
          </div>
          <div class="col-md-3 mb-3">
            <label for="idcpf">Cpf</label>
            <input type="text" class="form-control" id="idcpf" name="cpf" [(ngModel)]="filter.cpf">
          </div>
          <div class="col-md-3 mb-3">
            <label for="idcns">Cns</label>
            <input type="text" class="form-control" id="idcns" name="cns" [(ngModel)]="filter.cns">
          </div>
          <div class="form-check mb-3">
            <input type="checkbox" name="ativo" id="idativo" class="form-check-input" [(ngModel)]="filter.ativo"
              [value]="true">
            <label class="form-check-label">Ativo</label>
          </div>
          <div class="col-md-3 mb-3">
            <button type="submit" class="btn btn-primary">
              Pesquisar
            </button>
          </div>
        </div>
      </form>
      <hr style="border-style:none" />
      <ngx-datatable class="bootstrap" [rows]="page.content" [loadingIndicator]="true" [columns]="columns"
        [columnMode]="columnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [externalPaging]="true"
        [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)="setPage($event)"
        (sort)="onSort($event)">
        <ngx-datatable-column [sortable]="column.sortable" *ngFor="let column of columns; let i = index;"
          name="{{column.name}}" prop="{{column.prop}}"></ngx-datatable-column>
        <ngx-datatable-column [sortable]="false" name="Actions">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <button class="btn btn-sm btn-warning" title="Editar" (click)="onEditUsuario(row.id)"><em
                class="icon-pencil action edit"></em></button>
            <button class="btn btn-sm btn-success" title="Lotação" (click)="onLotacaoUsuario(row.id)"><em
                class="icon-home action"></em></button>
            <button class="btn btn-sm btn-danger" title="Excluir" (click)="onDeleteUsuario(row)"><em
                class="icon-trash action delete"></em></button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

      <div bsModal #modalExcluir="bs-modal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="dialog-child-name">
        <div class="modal-dialog modal-sm modal-danger">
          <div class="modal-content">
            <div class="modal-header">
              <h4 id="dialog-child-name" class="modal-title pull-left">Excluir Usuário</h4>
            </div>
            <div class="modal-body">
              Deseja realmente excluir o usuário?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="modalExcluir.hide()">Não</button>
              <spinner-button [showSpinner]="isLoadingExcluir">
                <button type="button" class="btn btn-danger" (click)="deleteUsuario()">Sim</button>
              </spinner-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>