<div class="animated fadeIn">

  <div class="card">

    <div class="card-header">
      <em class="fa fa-align-justify"></em> {{ titulo }}
    </div>

    <div class="card-body">
      <form id="formPesquisaFicha" name="formPesquisaFicha" #form="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-row">

          <div class="col-md-4 mb-12">
            <label id="idcidadao" requiredLabel>Cidadão</label>
            <ngx-select-dropdown
              (open)="buscarCidadao('1')"
              (searchChange)="buscarCidadao($event)"
              (change)="selectionChanged($event)"
              tabindex="0"
              id="idcidadao"
              name="cidadao"
              [multiple]="false"
              [(ngModel)]="cidadao"
              [config]="configCidadao"
              [options]="opCidadao"
            >
            </ngx-select-dropdown>
          </div>

          <div class="col-md-3 mb-3">
            <label for="iddataInicio">Data Inicio</label>
            <input
              type="date"
              [(ngModel)]="filter.dataInicio"
              class="form-control"
              name="dataInicio"
              id="iddataInicio"
            />
          </div>

          <div class="col-md-3 mb-3">
            <label for="iddataFim">Data Termino</label>
            <input
              type="date"
              [(ngModel)]="filter.dataFinal"
              class="form-control"
              name="dataFim"
              id="iddataFim"
            />
          </div>

          <div *ngIf="tituloExcluir == 'Evolução'" class="col-md-6 mb-3">
            <label for="idPerfil">Perfil</label>
            <ngx-select-dropdown tabindex="0" name="perfil" [multiple]="false" [(ngModel)]="filter.perfil"
              [config]="configPerfil" id="idPerfil" [options]="perfis" #perfil="ngModel">
            </ngx-select-dropdown>
          </div>

          <div *ngIf="tituloExcluir == 'Evolução'" class="col-md-6 mb-3">
            <label for="idocupacao">Ocupação</label>
            <ngx-select-dropdown (open)="searchOcupacaoChange('a')" (searchChange)="searchOcupacaoChange($event)"
              tabindex="0" name="cbo" id="idocupacao" [multiple]="false" name="ocupacao" [(ngModel)]="filter.cbo"
              [config]="configOcupacao" [options]="optionsOcupacao">
            </ngx-select-dropdown>
          </div>

          <div *ngIf="tituloExcluir == 'Exame'" class="col-md-4 mb-3">
            <label for="idSubGrupo">Tipo de Exame</label>
            <ngx-select-dropdown
              tabindex="0"
              name="subgrupo"
              [multiple]="false"
              [(ngModel)]="filter.tipoExame"
              [config]="configSubGrupo"
              [options]="subgrupos"
            >
            </ngx-select-dropdown>
          </div>

          <div *ngIf="tituloExcluir == 'Exame'" class="col-md-4 mb-3">
            <label for="idtipoAtendimento">Tipo Atendimento</label>
            <ngx-select-dropdown
              tabindex="0"
              name="tipoAtendimento"
              [multiple]="false"
              [(ngModel)]="filter.tipoAtendimento"
              [config]="config"
              [options]="tiposAtend"
            >
            </ngx-select-dropdown>
          </div>

        </div>
      </form>

      <form class="form-row">
        <div class="col-md-3 mb-2">
          <spinner-button [showSpinner]="isLoading">
            <button type="submit" (click)="onSubmit()" class="btn btn-primary">Pesquisar</button>
          </spinner-button>

          <button type="button" class="btn btn-secondary" (click)="limpar()">
            Limpar
          </button>
        </div>

        <div
            *ngIf="tituloExcluir != 'Ectoscopia' && tituloExcluir != 'Exame'"
            class="form-check col-md-3 mb-2"
          >
            <input
              type="checkbox"
              name="exportada"
              id="idexportada"
              class="form-check-input"
              [(ngModel)]="filter.exportada"
              [value]="true"
            />
            <label class="form-check-label">Exportada</label>
        </div>
      </form>

      <hr style="border-style: none" />
      <ngx-datatable
        class="bootstrap"
        [rows]="page.content"
        [loadingIndicator]="true"
        [columns]="columns"
        [columnMode]="columnMode.force"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        [externalPaging]="true"
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        [limit]="page.size"
        (page)="setPage($event)"
        (sort)="onSort($event)"
      >
        <ngx-datatable-column
          [sortable]="column.sortable"
          *ngFor="let column of columns; let i = index"
          name="{{ column.name }}"
          prop="{{ column.prop }}"
        >
        <ng-template let-value="value" let-row="row"  ngx-datatable-cell-template>
          <div *ngIf="column.name === 'Arquivo'">
            <button *ngIf="row.tipoSolicitacao == 'LAUDO'"
              class="btn btn-sm btn-primary"
              title="Baixar"
              (click)="downloadFile(value)"
            >
              <em class="icon-cloud-download action"></em>
            </button>

            <button *ngIf="row.tipoSolicitacao == 'EXAME'"
              class="btn btn-sm btn-warning"
              title="Baixar"
              (click)="geraPDF(row.id)"
            >
            <em class="icon-cloud-download action"></em>
            </button>
          </div>
          <div *ngIf="column.name!='Arquivo'">{{ value }}</div>
        </ng-template>
      </ngx-datatable-column>
        <ngx-datatable-column [sortable]="false" name="Ações">
          <ng-template
            let-value="value"
            let-row="row"
            ngx-datatable-cell-template
          >
            <button
              class="btn btn-sm btn-secondary"
              title="Visualizar"
              (click)="onEditarClick(row.id)"
            >
              <em class="icon-list action edit"></em>
            </button>
            <button *ngIf="tituloExcluir != 'Evolução'"
              class="btn btn-sm btn-primary"
              title="Resultado"
              (click)="onResultadoClick(row.id)"
              [disabled]="
                row.importada ||
                idProfissional != row.idProfissional
              "
            >
              <em class="icon-pencil action edit"></em>
            </button>
            <button *ngIf="tituloExcluir != 'Evolução'"
              class="btn btn-sm btn-warning"
              title="Editar"
              (click)="onEditarClick(row.id)"
              [disabled]="row.importada || idProfissional != row.idProfissional"
            >
              <em class="icon-pencil action edit"></em>
            </button>
            <button *ngIf="tituloExcluir != 'Evolução'"
              class="btn btn-sm btn-danger"
              title="Excluir"
              (click)="onApagarClick(row)"
              [disabled]="row.importada || idProfissional != row.idProfissional"
            >
              <em class="icon-trash action delete"></em>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

      <div
        bsModal
        #modalExcluir="bs-modal"
        class="modal fade"
        tabindex="-1"
        role="dialog"
        aria-labelledby="dialog-child-name"
      >
        <div class="modal-dialog modal-sm modal-danger">
          <div class="modal-content">
            <div class="modal-header">
              <h4 id="dialog-child-name" class="modal-title pull-left">
                Excluir {{ tituloExcluir }}
              </h4>
            </div>
            <div class="modal-body">
              Deseja realmente excluir {{ textoExcluir }}?
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                (click)="modalExcluir.hide()"
              >
                Não
              </button>
              <spinner-button [showSpinner]="isLoadingExcluir">
                <button type="button" class="btn btn-danger" (click)="delete()">
                  Sim
                </button>
              </spinner-button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<div #examepdf style="display: none;">
  <app-pdf-exame 
    [solicitacao]="solicitacao"
    [profissional]="solicitacao.profissional">
  </app-pdf-exame>
</div>
