<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Editar Cidadão
    </div>
    <div class="card-body">
      <tabset>
        <tab heading="Geral">
          <app-form-cidadao-geral [inIdCidadao]="idCidadao" (outSubmitSuccess)="onGeralSubmitSuccess($event)">
          </app-form-cidadao-geral>
        </tab>
        <tab heading="Informações Sociodemográficas">
          <app-form-informacao-socio-demografica [inIdCidadao]="idCidadao"></app-form-informacao-socio-demografica>
        </tab>
        <tab heading="Condições de Saúde">
          <app-form-condicoes-saude [inIdCidadao]="idCidadao"></app-form-condicoes-saude>
        </tab>
        <tab heading="Situação de Rua">
          <app-form-situacao-rua [inIdCidadao]="idCidadao"></app-form-situacao-rua>
        </tab>
        <tab heading="Moradia">
          <app-form-cidadao-moradia [inIdCidadao]="idCidadao"></app-form-cidadao-moradia>
        </tab>
        <tab heading="Biometria">
          <app-form-cidadao-biometria [inIdCidadao]="idCidadao"></app-form-cidadao-biometria>
        </tab>
      </tabset>
    </div>
  </div>
</div>
