<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <em class="fa fa-align-justify"></em> Lotação
    </div>
    <div class="card-body">
      <form id="formLotacao" name="formLotacao" (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="form-row align-items-end">
          <div class="col-md-6 mb-3">
            <label for="idUbs" requiredLabel>Unidades Básicas de Saúde</label>
            <ngx-select-dropdown id="idUbs" (open)="searchUbsChange('a')" (searchChange)="searchUbsChange($event)"
              tabindex="0" name="ubs" [multiple]="false" [(ngModel)]="lotacao.ubs" [config]="configUbs"
              [options]="unidades" required></ngx-select-dropdown>
          </div>
          <div class="col-md-6 mb-3">
            <label for="idPerfil" requiredLabel>Perfil</label>
            <ngx-select-dropdown tabindex="0" name="perfil" [multiple]="false" [(ngModel)]="lotacao.perfil"
              [config]="configPerfil" id="idPerfil" [options]="perfis" #perfil="ngModel" required>
            </ngx-select-dropdown>
          </div>
          <div class="col-md-6 mb-3">
            <label for="idocupacao">Ocupação</label>
            <ngx-select-dropdown (open)="searchOcupacaoChange('a')" (searchChange)="searchOcupacaoChange($event)"
              tabindex="0" name="cbo" id="idocupacao" [multiple]="false" name="ocupacao" [(ngModel)]="lotacao.cbo"
              [config]="config" [options]="optionsOcupacao" [disabled]="lotacao.perfil == null" required>
            </ngx-select-dropdown>
          </div>
          <div class="form-check mb-3">
            <input type="checkbox" name="ativo" id="idativo" class="form-check-input" [(ngModel)]="lotacao.ativo"
              [value]="true">
            <label class="form-check-label">Ativo</label>
          </div>
          <div class="col-md-6 mb-3">
            <button type="submit" class="btn btn-primary">
              Salvar
            </button>
            <button type="button" class="btn btn-secondary" (click)="onSearch()">Pesquisar</button>
            <button type="button" class="btn btn-warning" (click)="limpar()">Limpar</button>
            <a class="btn btn-secondary" routerLink="/usuario/pesquisar">Cancelar</a>
          </div>
        </div>
      </form>
    </div>
    <hr style="border-style:none" />
    <ngx-datatable class="bootstrap" [rows]="page.content" [loadingIndicator]="true" [columns]="columns"
      [columnMode]="columnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [externalPaging]="true"
      [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size">
      <ngx-datatable-column [sortable]="column.sortable" *ngFor="let column of columns; let i = index;"
        name="{{column.name}}" prop="{{column.prop}}"></ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" name="Ações">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <button class="btn btn-sm btn-warning" title="Editar" (click)="onEdit(row.id)"><em
              class="icon-pencil action edit"></em></button>
          <button class="btn btn-sm btn-danger" title="Excluir" (click)="onDelete(row.id)"><em
              class="icon-trash action delete"></em></button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
    <div bsModal #modalExcluir="bs-modal" class="modal fade" tabindex="-1" role="dialog"
      aria-labelledby="dialog-child-name">
      <div class="modal-dialog modal-sm modal-danger">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="dialog-child-name" class="modal-title pull-left">Excluir Lotação</h4>
          </div>
          <div class="modal-body">
            Deseja realmente excluir essa Lotação?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modalExcluir.hide()">Não</button>
            <spinner-button [showSpinner]="isLoadingExcluir">
              <button type="button" class="btn btn-danger" (click)="delete()">Sim</button>
            </spinner-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>