<div id='spinnerDiv'>
</div>
<div class="row">
  <div class="col-md-6">
    Digital Principal
    <span *ngIf="!possuiCadastroDigitalPrincipal" class="badge badge-danger">Não cadastrada</span>
    <span *ngIf="possuiCadastroDigitalPrincipal" class="badge badge-success">Cadastrada</span>
  </div>
  <div class="col-md-6">
    Digital Secundária
    <span *ngIf="!possuiCadastroDigitalSecundaria" class="badge badge-danger">Não cadastrada</span>
    <span *ngIf="possuiCadastroDigitalSecundaria" class="badge badge-success">Cadastrada</span>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <img *ngIf="dedoCadastroDigitalPrincipal==0" src="assets/img/fingerprint/minihands_0.png" class="img-fluid"
      alt="Biometria principal">
    <img *ngIf="dedoCadastroDigitalPrincipal==1" src="assets/img/fingerprint/minihands_1.png" class="img-fluid"
      alt="Biometria principal">
    <img *ngIf="dedoCadastroDigitalPrincipal==2" src="assets/img/fingerprint/minihands_2.png" class="img-fluid"
      alt="Biometria principal">
    <img *ngIf="dedoCadastroDigitalPrincipal==3" src="assets/img/fingerprint/minihands_3.png" class="img-fluid"
      alt="Biometria principal">
    <img *ngIf="dedoCadastroDigitalPrincipal==4" src="assets/img/fingerprint/minihands_4.png" class="img-fluid"
      alt="Biometria principal">
    <img *ngIf="dedoCadastroDigitalPrincipal==5" src="assets/img/fingerprint/minihands_5.png" class="img-fluid"
      alt="Biometria principal">
    <img *ngIf="dedoCadastroDigitalPrincipal==6" src="assets/img/fingerprint/minihands_6.png" class="img-fluid"
      alt="Biometria principal">
    <img *ngIf="dedoCadastroDigitalPrincipal==7" src="assets/img/fingerprint/minihands_7.png" class="img-fluid"
      alt="Biometria principal">
    <img *ngIf="dedoCadastroDigitalPrincipal==8" src="assets/img/fingerprint/minihands_8.png" class="img-fluid"
      alt="Biometria principal">
    <img *ngIf="dedoCadastroDigitalPrincipal==9" src="assets/img/fingerprint/minihands_9.png" class="img-fluid"
      alt="Biometria principal">
  </div>
  <div class="col-md-6">
    <img *ngIf="dedoCadastroDigitalSecundaria==0" src="assets/img/fingerprint/minihands_0.png" class="img-fluid"
      alt="Biometria secundária">
    <img *ngIf="dedoCadastroDigitalSecundaria==1" src="assets/img/fingerprint/minihands_1.png" class="img-fluid"
      alt="Biometria secundária">
    <img *ngIf="dedoCadastroDigitalSecundaria==2" src="assets/img/fingerprint/minihands_2.png" class="img-fluid"
      alt="Biometria secundária">
    <img *ngIf="dedoCadastroDigitalSecundaria==3" src="assets/img/fingerprint/minihands_3.png" class="img-fluid"
      alt="Biometria secundária">
    <img *ngIf="dedoCadastroDigitalSecundaria==4" src="assets/img/fingerprint/minihands_4.png" class="img-fluid"
      alt="Biometria secundária">
    <img *ngIf="dedoCadastroDigitalSecundaria==5" src="assets/img/fingerprint/minihands_5.png" class="img-fluid"
      alt="Biometria secundária">
    <img *ngIf="dedoCadastroDigitalSecundaria==6" src="assets/img/fingerprint/minihands_6.png" class="img-fluid"
      alt="Biometria secundária">
    <img *ngIf="dedoCadastroDigitalSecundaria==7" src="assets/img/fingerprint/minihands_7.png" class="img-fluid"
      alt="Biometria secundária">
    <img *ngIf="dedoCadastroDigitalSecundaria==8" src="assets/img/fingerprint/minihands_8.png" class="img-fluid"
      alt="Biometria secundária">
    <img *ngIf="dedoCadastroDigitalSecundaria==9" src="assets/img/fingerprint/minihands_9.png" class="img-fluid"
      alt="Biometria secundária">
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <button type="button" class="btn btn-sm btn-primary" (click)="onButtonCadastrarPrincipalClick()">Cadastrar</button>
    <button type="button" class="btn btn-sm btn-primary" [disabled]="!possuiCadastroDigitalPrincipal"
      (click)="onButtonVerificarPrincipalClick()">Verificar</button>
    <button type="button" class="btn btn-sm btn-primary" [disabled]="!possuiCadastroDigitalPrincipal"
      (click)="onButtonExcluirPrincipalClick()">Excluir</button>
  </div>
  <div class="col-md-6">
    <button type="button" class="btn btn-sm btn-primary" (click)="onButtonCadastrarSecundariaClick()">Cadastrar</button>
    <button type="button" class="btn btn-sm btn-primary" [disabled]="!possuiCadastroDigitalSecundaria"
      (click)="onButtonVerificarSecundariaClick()">Verificar</button>
    <button type="button" class="btn btn-sm btn-primary" [disabled]="!possuiCadastroDigitalSecundaria"
      (click)="onButtonExcluirSecundariaClick()">Excluir</button>
  </div>
</div>
<app-adicionar-biometria-cidadao [inIdCidadao]="inIdCidadao" (outCloseModal)="onCloseModalCadastrarBiometria($event)">
</app-adicionar-biometria-cidadao>
<app-verificar-biometria-cidadao [inIdCidadao]="inIdCidadao"></app-verificar-biometria-cidadao>
