<div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        <em class="fa fa-align-justify"></em> Adicionar Evolucao
      </div>
      <div class="card-body">
        <app-form-evolucao #formEvolucao [formData]="formData$" 
          (onSubmit)="onSubmitted($event)">
        </app-form-evolucao>
      </div>
      <div class="card-footer">
        <spinner-button [showSpinner]="isLoadingSubmit">
          <button type="submit" form="formFichaEvolucao" class="btn btn-primary">
            Salvar
          </button>
        </spinner-button>
        <button type="button" class="btn btn-secondary" (click)="onCanceled()">
          Cancelar
        </button>
      </div>
    </div>
  </div>