<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <em class="fa fa-align-justify"></em> {{tituloPagina}}
    </div>
    <div class="card-body">
      <form name="formAdicionarEctoscopia" #formAdicionarEctoscopia="ngForm">
        <div class="row">
          <div class="col-md-4 mb-3">
            <label id="idcidadao" requiredLabel>Cidadão</label>
            <ngx-select-dropdown (open)="buscarCidadao('1')" (searchChange)="buscarCidadao($event)" tabindex="0"
              id="idcidadao" name="cidadao" [multiple]="false" [(ngModel)]="ectoscopia.cidadao" [config]="configCidadao"
              [options]="opCidadao" required [disabled]="profissional"></ngx-select-dropdown>
          </div>
        </div>
        <hr>
        <h5>Pele:</h5>
        <br>
        <div class="d-flex flex-wrap">
          <div *ngFor="let op of itensPele" class="form-group col-md-4 mb-3">
            <div class="form-check">
              <label class="form-check-label" for="id{{op.nome}}">
                <input type="checkbox" class="form-check-input" id="id{{op.nome}}" name="{{op.nome}}"
                  (change)="itemChange(op)" [checked]="itemChecked(op)" [disabled]="profissional">{{op.nome}}
              </label>
            </div>
            <div>
              <textarea class="form-control" rows="3" maxlength="1000" name="{{op.nome}}"
                [(ngModel)]="itemPosicao(op) == -1 ? ectoscopia.itensEctoscopia : ectoscopia.itensEctoscopia[itemPosicao(op)].observacao"
                [hidden]="itemPosicao(op) == -1" placeholder="Observação... (até 1000 caracteres)"
                [disabled]="profissional">
              </textarea>
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <h5>Linfonodos Axilares:</h5>
        <br>
        <div class="d-flex flex-wrap">
          <div *ngFor="let op of itensLinfoAx" class="form-group col-md-4 mb-3">
            <div class="form-check">
              <label class="form-check-label" for="id{{op.nome}}">
                <input type="checkbox" class="form-check-input" id="id{{op.nome}}" name="{{op.nome}}"
                  (change)="itemChange(op)" [checked]="itemChecked(op)" [disabled]="profissional">{{op.nome}}
              </label>
            </div>
            <div>
              <textarea class="form-control" rows="3" maxlength="1000" name="{{op.nome}}" [disabled]="profissional"
                [(ngModel)]="itemPosicao(op) == -1 ? ectoscopia.itensEctoscopia : ectoscopia.itensEctoscopia[itemPosicao(op)].observacao"
                [hidden]="itemPosicao(op) == -1" placeholder="Observação... (até 1000 caracteres)">
              </textarea>
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <h5>Linfonodos Inguinais:</h5>
        <br>
        <div class="d-flex flex-wrap">
          <div *ngFor="let op of itensLinfoIng" class="form-group col-md-4 mb-3">
            <div class="form-check">
              <label class="form-check-label" for="id{{op.nome}}">
                <input type="checkbox" class="form-check-input" id="id{{op.nome}}" name="{{op.nome}}"
                  (change)="itemChange(op)" [checked]="itemChecked(op)" [disabled]="profissional">{{op.nome}}
              </label>
            </div>
            <div>
              <textarea class="form-control" rows="3" maxlength="1000" name="{{op.nome}}" [disabled]="profissional"
                [(ngModel)]="itemPosicao(op) == -1 ? ectoscopia.itensEctoscopia : ectoscopia.itensEctoscopia[itemPosicao(op)].observacao"
                [hidden]="itemPosicao(op) == -1" placeholder="Observação... (até 1000 caracteres)">
              </textarea>
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <h5>Olhos:</h5>
        <br>
        <div class="d-flex flex-wrap">
          <div *ngFor="let op of itensOlhos" class="form-group col-md-4 mb-3">
            <div class="form-check">
              <label class="form-check-label" for="id{{op.nome}}">
                <input type="checkbox" class="form-check-input" id="id{{op.nome}}" name="{{op.nome}}"
                  (change)="itemChange(op)" [checked]="itemChecked(op)" [disabled]="profissional">{{op.nome}}
              </label>
            </div>
            <div>
              <textarea class="form-control" rows="3" maxlength="1000" name="{{op.nome}}" [disabled]="profissional"
                [(ngModel)]="itemPosicao(op) == -1 ? ectoscopia.itensEctoscopia : ectoscopia.itensEctoscopia[itemPosicao(op)].observacao"
                [hidden]="itemPosicao(op) == -1" placeholder="Observação... (até 1000 caracteres)">
              </textarea>
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <h5>Nariz:</h5>
        <br>
        <div class="d-flex flex-wrap">
          <div *ngFor="let op of itensNariz" class="form-group col-md-4 mb-3">
            <div class="form-check">
              <label class="form-check-label" for="id{{op.nome}}">
                <input type="checkbox" class="form-check-input" id="id{{op.nome}}" name="{{op.nome}}"
                  (change)="itemChange(op)" [checked]="itemChecked(op)" [disabled]="profissional">{{op.nome}}
              </label>
            </div>
            <div>
              <textarea class="form-control" rows="3" maxlength="1000" name="{{op.nome}}" [disabled]="profissional"
                [(ngModel)]="itemPosicao(op) == -1 ? ectoscopia.itensEctoscopia : ectoscopia.itensEctoscopia[itemPosicao(op)].observacao"
                [hidden]="itemPosicao(op) == -1" placeholder="Observação... (até 1000 caracteres)">
              </textarea>
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <h5>Ouvido:</h5>
        <br>
        <div class="d-flex flex-wrap">
          <div *ngFor="let op of itensOuvido" class="form-group col-md-4 mb-3">
            <div class="form-check">
              <label class="form-check-label" for="id{{op.nome}}">
                <input type="checkbox" class="form-check-input" id="id{{op.nome}}" name="{{op.nome}}"
                  (change)="itemChange(op)" [checked]="itemChecked(op)" [disabled]="profissional">{{op.nome}}
              </label>
            </div>
            <div>
              <textarea class="form-control" rows="3" maxlength="1000" name="{{op.nome}}" [disabled]="profissional"
                [(ngModel)]="itemPosicao(op) == -1 ? ectoscopia.itensEctoscopia : ectoscopia.itensEctoscopia[itemPosicao(op)].observacao"
                [hidden]="itemPosicao(op) == -1" placeholder="Observação... (até 1000 caracteres)">
              </textarea>
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <h5>Sistema Cardiovascular:</h5>
        <br>
        <h6 class="ml-2">Aferir pressão nos dois braços.</h6>
        <h6 class="ml-2">Palpar pulsos:</h6>
        <div>
          <div *ngFor="let op of itensCardiovascular">
            <h6 *ngIf="op.nome == 'Ritmo Cardíaco'" class="ml-2">Ritmo Cardíaco:</h6>
            <h6 *ngIf="op.nome == 'Sopro'" class="ml-2">Auscuta Cardíaca:</h6>
            <div class="form-group col-md-4 mb-3">
              <div class="form-check">
                <label class="form-check-label" for="id{{op.nome}}">
                  <input type="checkbox" class="form-check-input" id="id{{op.nome}}" name="{{op.nome}}"
                    (change)="itemChange(op)" [checked]="itemChecked(op)" [disabled]="profissional">{{op.nome}}
                </label>
              </div>
              <span *ngIf="op.nome == 'Ritmo Cardíaco'">
                <div class="form-check ml-2" [hidden]="itemPosicao(op) == -1">
                  <label class="form-check-label" for="idritmocardiaconormal">
                    <input type="radio" class="form-check-input" id="ididritmocardiaconormal" name="ritmocardiaco"
                      value="normal" [disabled]="profissional"
                      [(ngModel)]="itemPosicao(op) == -1 ? ectoscopia.itensEctoscopia : ectoscopia.itensEctoscopia[itemPosicao(op)].opcao">Normal
                  </label>
                </div>
                <div class="form-check ml-2" [hidden]="itemPosicao(op) == -1">
                  <label class="form-check-label" for="idritmocardiacoirregular">
                    <input type="radio" class="form-check-input" id="idritmocardiacoirregular" name="ritmocardiaco"
                      value="irregular" [disabled]="profissional"
                      [(ngModel)]="itemPosicao(op) == -1 ? ectoscopia.itensEctoscopia : ectoscopia.itensEctoscopia[itemPosicao(op)].opcao">Irregular
                  </label>
                </div>
              </span>
              <div>
                <textarea class="form-control" rows="3" maxlength="1000" name="{{op.nome}}" [disabled]="profissional"
                  [(ngModel)]="itemPosicao(op) == -1 ? ectoscopia.itensEctoscopia : ectoscopia.itensEctoscopia[itemPosicao(op)].observacao"
                  [hidden]="itemPosicao(op) == -1" placeholder="Observação... (até 1000 caracteres)">
                </textarea>
              </div>
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <h5>Sistema Respiratório:</h5>
        <br>
        <div>
          <span *ngFor="let op of itensRespiratorio; let i = index">
            <h6 *ngIf="op.nome == 'Ausculta pulmonar diminuída'" class="ml-2">Auscuta Pulmonar:</h6>
            <div [class]=" i == 0 ? 'col-md-12' : 'col-md-4'">
              <div class="form-check">
                <label class="form-check-label" for="id{{op.nome}}">
                  <input type="checkbox" class="form-check-input" id="id{{op.nome}}" name="{{op.nome}}"
                    (change)="itemChange(op)" [checked]="itemChecked(op)" [disabled]="profissional">{{op.nome}}
                </label>
              </div>
              <span *ngIf="op.nome == 'Fuma'">
                <div class="form-row align-items-center mb-1 ml-2" [hidden]="itemPosicao(op) == -1">
                  <label class="col-form-label" for="idfumatempo">Tempo (anos):</label>
                  <div class="col-sm-2">
                    <input type="text" class="form-control form-control-sm" id="idfumatempo" name="fumaA" maxlength="2"
                      [disabled]="profissional"
                      [(ngModel)]="itemPosicao(op) == -1 ? ectoscopia.itensEctoscopia : ectoscopia.itensEctoscopia[itemPosicao(op)].auxiliar">
                  </div>
                </div>
              </span>
              <div>
                <textarea class="form-control" rows="3" maxlength="1000" name="{{op.nome}}" [disabled]="profissional"
                  [(ngModel)]="itemPosicao(op) == -1 ? ectoscopia.itensEctoscopia : ectoscopia.itensEctoscopia[itemPosicao(op)].observacao"
                  [hidden]="itemPosicao(op) == -1" placeholder="Observação... (até 1000 caracteres)">
                </textarea>
              </div>
            </div>
          </span>
        </div>
        <hr class="mb-4">
        <h5>Sistema Digestivo:</h5>
        <br>
        <div class="d-flex flex-wrap">
          <div *ngFor="let op of itensDigestivo" class="form-group col-md-4 mb-3">
            <div class="form-check">
              <label class="form-check-label" for="id{{op.nome}}">
                <input type="checkbox" class="form-check-input" id="id{{op.nome}}" name="{{op.nome}}"
                  (change)="itemChange(op)" [checked]="itemChecked(op)" [disabled]="profissional">{{op.nome}}
              </label>
            </div>
            <div>
              <textarea class="form-control" rows="3" maxlength="1000" name="{{op.nome}}" [disabled]="profissional"
                [(ngModel)]="itemPosicao(op) == -1 ? ectoscopia.itensEctoscopia : ectoscopia.itensEctoscopia[itemPosicao(op)].observacao"
                [hidden]="itemPosicao(op) == -1" placeholder="Observação... (até 1000 caracteres)">
              </textarea>
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <h5>Ginecológico:</h5>
        <br>
        <div class="d-flex flex-wrap">
          <div *ngFor="let op of itensGinecologico" class="form-group col-md-4 mb-3">
            <div class="form-check">
              <label class="form-check-label" for="id{{op.nome}}">
                <input type="checkbox" class="form-check-input" id="id{{op.nome}}" name="{{op.nome}}"
                  (change)="itemChange(op)" [checked]="itemChecked(op)" [disabled]="profissional">{{op.nome}}
              </label>
            </div>
            <div>
              <textarea class="form-control" rows="3" maxlength="1000" name="{{op.nome}}" [disabled]="profissional"
                [(ngModel)]="itemPosicao(op) == -1 ? ectoscopia.itensEctoscopia : ectoscopia.itensEctoscopia[itemPosicao(op)].observacao"
                [hidden]="itemPosicao(op) == -1" placeholder="Observação... (até 1000 caracteres)">
              </textarea>
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <h5>Sistema Urinário:</h5>
        <br>
        <div class="d-flex flex-wrap">
          <div *ngFor="let op of itensUrinario" class="form-group col-md-4 mb-3">
            <div class="form-check">
              <label class="form-check-label" for="id{{op.nome}}">
                <input type="checkbox" class="form-check-input" id="id{{op.nome}}" name="{{op.nome}}"
                  (change)="itemChange(op)" [checked]="itemChecked(op)" [disabled]="profissional">{{op.nome}}
              </label>
            </div>
            <div>
              <textarea class="form-control" rows="3" maxlength="1000" name="{{op.nome}}" [disabled]="profissional"
                [(ngModel)]="itemPosicao(op) == -1 ? ectoscopia.itensEctoscopia : ectoscopia.itensEctoscopia[itemPosicao(op)].observacao"
                [hidden]="itemPosicao(op) == -1" placeholder="Observação... (até 1000 caracteres)">
              </textarea>
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <h5>Proctológico:</h5>
        <br>
        <div class="d-flex flex-wrap">
          <div *ngFor="let op of itensProctologico" class="form-group col-md-4 mb-3">
            <div class="form-check">
              <label class="form-check-label" for="id{{op.nome}}">
                <input type="checkbox" class="form-check-input" id="id{{op.nome}}" name="{{op.nome}}"
                  (change)="itemChange(op)" [checked]="itemChecked(op)" [disabled]="profissional">{{op.nome}}
              </label>
            </div>
            <div>
              <textarea class="form-control" rows="3" maxlength="1000" name="{{op.nome}}" [disabled]="profissional"
                [(ngModel)]="itemPosicao(op) == -1 ? ectoscopia.itensEctoscopia : ectoscopia.itensEctoscopia[itemPosicao(op)].observacao"
                [hidden]="itemPosicao(op) == -1" placeholder="Observação... (até 1000 caracteres)">
              </textarea>
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="idCid10">CID10</label>
            <ngx-select-dropdown (open)="searchCid10('a')" (searchChange)="searchCid10($event)" tabindex="0"
              name="cid10" [multiple]="true" id="idCid10" [(ngModel)]="ectoscopia.listCid" [config]="config"
              [options]="optionsCid" [disabled]="profissional">
            </ngx-select-dropdown>
          </div>
          <div class="col-md-6 mb-3">
            <label for="idObs">Observação</label>
            <textarea class="form-control" rows="3" maxlength="1000" name="obs" [disabled]="profissional"
              [(ngModel)]="ectoscopia.observacao" placeholder="Observação... (até 1000 caracteres)">
            </textarea>
          </div>
        </div>
        <hr class="mb-4">
        <spinner-button [showSpinner]="isLoading">
          <button class="btn btn-primary" type="button" (click)="onSaveButtonClick()"
            [disabled]="profissional">Salvar</button>
        </spinner-button>
        <button class="btn btn-secondary" type="button" (click)="onCancelButtonClick()">Cancelar</button>
      </form>
    </div>
  </div>
</div>