<div class="modal fade" bsModal #verificarModalBiometria="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">Verificar Biometria</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row mb-2">
          <!-- <div class="row justify-content-center mb-2"> -->
            <div class="col-8">Leitor: {{statusLeitor}}</div>
          </div>
          <div class="row mb-2">
          <!-- <div class="row justify-content-center mb-2"> -->
            <div class="col-8">{{mensagem}}</div>
          </div>
          <!-- <div class="row justify-content-center mb-2"> -->
          <div class="row mb-2">
            <div class="col-8" id="imagedivver" style="height:200px;width:200px;border-style:solid"></div>
            <div class="col-4">
              <img *ngIf="!di" src="assets/img/fingerprint/finger_default.png" class="img-fluid" alt="Status biometria">
              <img *ngIf="di && resultadoVerificacao" src="assets/img/fingerprint/finger_matched.png" class="img-fluid" alt="Status biometria">
              <img *ngIf="di && !resultadoVerificacao" src="assets/img/fingerprint/finger_unknown.png" class="img-fluid" alt="Status biometria">
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <div *ngIf="isLoading" class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
