<label class="mt-2 mb-1 font-weight-bold">Profissional Responsável</label>
<form id="formAtividadeColetiva" name="formAtividadeColetiva" (ngSubmit)="onFormSubmit()" #form="ngForm">
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label for="idprofissionalResponsavelCns" requiredLabel>CNS do Profissional</label>
      <input type="text" class="form-control" [(ngModel)]="atividadeColetiva.profissionalResponsavel.cns"
        id="idprofissionalResponsavelCns" name="profissionalResponsavelCns" mask="0{15}" required disabled>
    </div>
    <div class="col-md-2 mb-3">
      <label for="idprofissionalResponsavelCbo" requiredLabel>CBO</label>
      <input type="text" class="form-control" [(ngModel)]="atividadeColetiva.cbo.codigo"
        name="profissionalResponsavelCbo" id="idprofissionalResponsavelCbo" mask="0000-99" required disabled>
    </div>

    <div class="col-md-2 mb-3">
      <label for="idubsCnes" requiredLabel>CNES</label>
      <input type="text" class="form-control" [(ngModel)]="atividadeColetiva.ubs.cnes" id="idubsCnes" name="ubsCnes"
        mask="0{7}" required disabled>
    </div>
    <div class="col-md-3 mb-3">
      <label for="ubsIne">INE</label>
      <input type="text" class="form-control" name="ubsIne" id="idubsIne" [(ngModel)]="atividadeColetiva.ine"
        maxlength="10" [disabled]="atividadeColetiva.importada || profissional">
    </div>
    <div class="col-md-2 mb-3">
      <label for="iddata" requiredLabel>Data</label>
      <input type="date" [(ngModel)]="atividadeColetiva.data" class="form-control" name="data" id="iddata"
        [disabled]="atividadeColetiva.importada || profissional" required>
    </div>
  </div>
  <br>
  <fieldset class="form-group">
    <div class="form-row">
      <legend class="col-form-label col-md-2 pt-0" requiredLabel>Turno</legend>
      <div class="col-md-10">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="atividadeColetiva.turno" name="turno" id="idturnoM"
            [value]="1" required [disabled]="atividadeColetiva.importada || profissional">
          <label class="form-check-label" for="idturnoM">Manhã</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="atividadeColetiva.turno" name="turno" id="idturnoT"
            [value]="2" required [disabled]="atividadeColetiva.importada || profissional">
          <label class="form-check-label" for="idturnoT">Tarde</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="atividadeColetiva.turno" name="turno" id="idturnoN"
            [value]="3" required [disabled]="atividadeColetiva.importada || profissional">
          <label class="form-check-label" for="idturnoN">Noite</label>
        </div>
      </div>
    </div>
    <div class="form-row">
      <legend class="col-form-label col-md-2 pt-0">Programa Saúde na Escola</legend>
      <div class="col-md-10">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" [(ngModel)]="atividadeColetiva.pseEducacao" name="pseEducacao"
            id="idpseEducacao" value="true" [required]="pseEducacaoRequired()"
            [disabled]="atividadeColetiva.importada || profissional">
          <label class="form-check-label" for="idpseEducacao">Educação {{pseEducacaoRequired() ? '*' : ''}}</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" [(ngModel)]="atividadeColetiva.pseSaude" name="pseSaude"
            id="idpseSaude" value="true" [required]="pseSaudeRequired()"
            [disabled]="atividadeColetiva.importada || profissional">
          <label class="form-check-label" for="idpseSaude">Saúde {{pseSaudeRequired() ? '*' : ''}}</label>
        </div>
      </div>
    </div>
    <br>
    <div class="form-row">
      <label>Local da Atividade:</label>
      <div class="col-md-10">
        <div class="col-md-12">
          <br>
          <div class="form-group form-row">
            <label class="col-md-3 col-form-label">Nº INEP(Escola/Creche) {{inepRequired() ? '*' : ''}}</label>
            <div class="col-md-4">
              <div class="input-group">
                <input type="text" [(ngModel)]="atividadeColetiva.instituicaoEnsino.inep" name="inep" id="idinep"
                  class="form-control" mask="0{8}" [required]="inepRequired()"
                  [disabled]="inepDisabled() || atividadeColetiva.importada || profissional"
                  (change)="buscarInstituicao()">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <form-input-icon-status #statusInep></form-input-icon-status>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <input type="text" class="form-control" [(ngModel)]="atividadeColetiva.instituicaoEnsino.nome"
                id="idinstituicaoEnsino" name="instituicaoEnsino" readonly>
            </div>
          </div>
          <div class="form-group form-row">
            <label class="col-md-3 col-form-label">CNES</label>
            <div class="col-md-4">
              <div class="input-group">
                <input type="text" [(ngModel)]="atividadeColetiva.cnesLocalAtividade.cnes" name="cnesLocalAtividade"
                  id="idcnesLocalAtividade" class="form-control" mask="0{7}"
                  [disabled]="cnesLocalAtividadeDisabled() || atividadeColetiva.importada || profissional"
                  (change)="buscarCnesLocalAtividade()">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <form-input-icon-status #statusCnes></form-input-icon-status>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <input type="text" class="form-control" [(ngModel)]="atividadeColetiva.cnesLocalAtividade.nome"
                id="idcnesdescricao" name="cnesdescricao" readonly>
            </div>
          </div>
          <div class="form-group form-row">
            <label class="col-md-3 col-form-label">Outra Localidade</label>
            <div class="col-md-4">
              <input type="text" [(ngModel)]="atividadeColetiva.outraLocalidade" name="outraLocalidade"
                id="idoutraLocalidade" class="form-control"
                [disabled]="outraLocalidadeDisabled() || atividadeColetiva.importada || profissional">
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="form-group form-row">
    <label class="col-md-3 col-form-label" requiredLabel>Nº de Participantes</label>
    <div class="col-md-4">
      <input type="number" class="form-control" [(ngModel)]="atividadeColetiva.numParticipantes" name="numParticipantes"
        id="idnumParticipantes" [min]="1" required [disabled]="atividadeColetiva.importada || profissional">
    </div>
  </div>

  <div class="form-group form-row">
    <label class="col-md-3 col-form-label">Nº de Avaliações Alteradas</label>
    <div class="col-md-4">
      <input type="number" class="form-control" [(ngModel)]="atividadeColetiva.numAvaliacoesAlteradas"
        name="numAvaliacoesAlteradas" id="idnumAvaliacoesAlteradas" min="0"
        [disabled]="atividadeColetiva.importada || profissional">
    </div>
  </div>

  <div class="form-row" *ngIf="demaisProfissionai()">
    <label class="mt-2 mb-1 font-weight-bold">Demais Profissionais Envolvidos: </label>
    <button class="btn btn-link" title="Adicionar Profissional" (click)="addProfissional()"
      [disabled]="atividadeColetiva.importada || profissional">
      <em class="fa fa-plus"></em>
    </button>
    <div class="col-md-12">
      <div class="col-md-12">
        <br>
        <div *ngFor="let profissional of atividadeColetiva.profissionais; let i = index" class="form-row">
          <div class="col-md-3 mb-3">
            <label for="idprofissionalCns" requiredLabel>CNS do Profissional</label>
            <ngx-select-dropdown (open)="buscarProfissional('a')" (searchChange)="buscarProfissional($event)"
              tabindex="0" id="idprofissionalCns" name="profissionalCns{{i}}" [multiple]="false"
              [(ngModel)]="profissional.profissional" [config]="configProfissional" [options]="profissionais" required
              [disabled]="atividadeColetiva.importada || profissional">
            </ngx-select-dropdown>
          </div>
          <div class="col-md-3 mb-3">
            <label for="idprofissionalCbo" requiredLabel>CBO</label>
            <ngx-select-dropdown (open)="buscarCboProfissional(profissional.profissional.id)" tabindex="0"
              id="idprofissionalCbo" name="profissionalCbo{{i}}" [multiple]="false" [(ngModel)]="profissional.cbo"
              [config]="configCbo" [options]="optionsCbo" required
              [disabled]="atividadeColetiva.importada || profissional">
            </ngx-select-dropdown>
          </div>
          <div class="col-md-1 mb-1">
            <button type="button" class="close" aria-label="Close" (click)="removeProfissional(i)"
              [disabled]="atividadeColetiva.importada || profissional">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <fieldset class="form-group">
    <div class="form-row">
      <legend class="col-form-label col-md-2 pt-0">
        <label requiredLabel>Atividade(Opção Única)</label>
      </legend>
      <div class="col-md-10">
        <div *ngFor="let atividade of opForm.atividades" class="form-check">
          <span *ngIf="atividadeTipo(atividade.codigo)">
            <input type="radio" name="atividade" id="idtipoAtividade{{atividade.codigo}}"
              [(ngModel)]="atividadeColetiva.tipoAtividade.codigo" class="form-check-input" [value]="atividade.codigo"
              (input)="atividadeTipoChange(atividade)" [checked]="atividadeTipochecked(atividade.codigo)" required
              [disabled]="atividadeColetiva.importada || profissional">
            <label class="form-check-label">{{atividade.descricao}}</label>
          </span>
        </div>
      </div>
    </div>
    <br>
    <span *ngIf="temaReuniaoDisabled()">
      <div class="form-row">
        <legend class="col-form-label col-md-2 pt-0">
          <label>Temas para Reunião(Opção Múltipla) {{temaReuniaoRequired() ? '*' : ''}}</label>
        </legend>
        <div class="col-md-10">
          <div *ngFor="let temaReuniao of opForm.temasReuniao" class="form-check">
            <input type="checkbox" name="temaReuniao" id="temaReuniao{{temaReuniao.codigo}}" class="form-check-input"
              (change)="temaReuniaoChange(temaReuniao)" [checked]="temaReuniaochecked(temaReuniao)"
              [disabled]="atividadeColetiva.importada || profissional">
            <label class="form-check-label">{{temaReuniao.descricao}}</label>
          </div>
        </div>
      </div>
      <br>
    </span>
    <span *ngIf="publicoAlvoDisabled()">
      <div class="form-row">
        <legend class="col-form-label col-md-2 pt-0">
          <label>Público-Alvo(Opção Múltipla) {{publicoAlvoRequired() ? '*' : ''}}</label>
        </legend>
        <div class="col-md-10">
          <div *ngFor="let publico of opForm.publicos" class="form-check">
            <input type="checkbox" name="publicoAlvo" id="publicoAlvo{{publico.codigo}}"
              (change)="publicoAlvoChange(publico)" [checked]="publicoAlvoChecked(publico)" class="form-check-input"
              [disabled]="atividadeColetiva.importada || profissional">
            <label class="form-check-label">{{publico.descricao}}</label>
          </div>
        </div>
      </div>
      <br>
    </span>
    <span *ngIf="temaSaudeDisabled()">
      <div class="form-row">
        <legend class="col-form-label col-md-2 pt-0">
          <label>Temas Para Saúde(Opção Múltipla) {{temaSaudeRequired() ? '*' : ''}}</label>
        </legend>
        <div class="col-md-10">
          <div *ngFor="let temaSaude of opForm.temasSaude" class="form-check">
            <input type="checkbox" name="temaSaude" id="temaSaude{{temaSaude.codigo}}"
              (change)="temaSaudeChange(temaSaude)" [checked]="temaSaudeChecked(temaSaude)" class="form-check-input"
              [disabled]="atividadeColetiva.importada || profissional">
            <label class="form-check-label">{{temaSaude.descricao}}</label>
          </div>
        </div>
      </div>
      <br>
    </span>
    <div *ngIf="praticaSaudeDisabled()" class="form-row">
      <legend class="col-form-label col-md-2 pt-0">
        <label>Praticas em Saúde(Opção Única) {{praticaSaudeRequired() ? '*' : ''}}</label>
      </legend>
      <div class="col-md-10">
        <div *ngFor="let pratica of opForm.praticas" class="form-check">
          <span *ngIf="itemPraticaDisabled(pratica.codigo)">
            <input type="radio" name="pratica" [(ngModel)]="atividadeColetiva.praticaSaude.codigo"
              class="form-check-input" [value]="pratica.codigo" [required]="praticaSaudeRequired()"
              [disabled]="atividadeColetiva.importada || profissional">
            <label class="form-check-label">{{pratica.descricao}}</label>
          </span>
        </div>
        <div *ngIf="atividadeColetiva.praticaSaude.codigo == 30" class="form-group form-row">
          <label class="col-md-3 col-form-label">Outro Procedimento Coletivo(Código do SIGTAP)
            {{atividadeColetiva.praticaSaude.codigo == 30 ? '*' : ''}}</label>
          <div class="col-md-4">
            <div class="input-group">
              <input type="text" class="form-control" name="outroProcedimento" id="idoutroProcedimento"
                [(ngModel)]="atividadeColetiva.procedimentoColetivo.sigtap"
                [required]="atividadeColetiva.praticaSaude.codigo == 30" (change)="buscarOutroProcedimento()"
                [disabled]="atividadeColetiva.importada || profissional">
              <div class="input-group-append">
                <span class="input-group-text">
                  <form-input-icon-status #statusOutroProcedimento></form-input-icon-status>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <input type="text" class="form-control" [(ngModel)]="atividadeColetiva.procedimentoColetivo.descricao"
              id="idoutroprocedimentodescricao" name="outroprocedimentodescricao" readonly>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <label class="mt-2 mb-1 font-weight-bold">Lista de Participantes {{participanteRequired() ? '*' : ''}}</label>
  <button class="btn btn-link" title="Adicionar Participante" (click)="addParticipante()"
    [disabled]="atividadeColetiva.importada || profissional">
    <em class="fa fa-plus"></em>
  </button>
  <hr>
  <div *ngFor="let participante of atividadeColetiva.participantes; let i = index">
    #{{i+1}}<label requiredLabel></label>
    <button type="button" class="close" aria-label="Close" (click)="removeParticipante(i)"
      [disabled]="atividadeColetiva.importada || profissional">
      <span aria-hidden="true">&times;</span>
    </button>
    <div>
      <div class="form-row">
        <div class="col-md-3 mb-3">
          <label id="idcidadao" requiredLabel>Cidadão</label>
          <ngx-select-dropdown (open)="buscarCidadao('1')" (searchChange)="buscarCidadao($event)" tabindex="0"
            id="idcidadao" name="cidadao{{i}}" [multiple]="false" [(ngModel)]="participante.cidadao"
            [config]="configCidadao" [options]="opCidadao" required
            [disabled]="atividadeColetiva.importada || profissional">
          </ngx-select-dropdown>
        </div>
        <div class="col-md-2 mb-3">
          <label for="iddata" requiredLabel>Data de Nascimento</label>
          <input type="date" class="form-control" id="idcidadaodata" name="cidadaodata{{i}}"
            [(ngModel)]="participante.cidadao != null ? participante.cidadao.dataNascimento : participante.cidadao"
            required disabled>
        </div>
        <div class="col-md-3 mb-3">
          <div>
            <label>Sexo</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" id="idcidadaosexo" name="cidadaosexo{{i}}" type="radio"
              [(ngModel)]="participante.cidadao != null ? participante.cidadao.sexo : participante.cidadao"
              value="MASCULINO" required disabled>
            <label class="form-check-label" for="idcidadaosexo">Masculino</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" id="idcidadaosexo" name="cidadaotosexo{{i}}" type="radio"
              [(ngModel)]="participante.cidadao != null ? participante.cidadao.sexo : participante.cidadao"
              value="FEMININO" required disabled>
            <label class="form-check-label" for="idcidadaosexo">Feminimo</label>
          </div>
        </div>
      </div>
      <div class="form-check">
        <input type="checkbox" id="idcidadaoavaliacao" name="cidadaoavaliacao{{i}}" class="form-check-input"
          [(ngModel)]="participante.avaliacaoAlterada" [value]="true" (change)="avaliacaoAlteradaChange(i)"
          [disabled]="atividadeColetiva.importada || profissional">
        <label class="form-check-label">Avaliação Alterada</label>
      </div>
      <br>
      <div class="form-row">
        <div class="col-md-3 mb-3">
          <label class="col-md-5 col-form-label">Peso(Kg)</label>
          <div class="col-md-5">
            <input type="text" id="idcidadaopeso" name="cidadaopeso{{i}}" class="form-control"
              [(ngModel)]="participante.peso" [disabled]="atividadeColetiva.importada || profissional">
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label class="col-md-5 col-form-label">Altura(Cm)</label>
          <div class="col-md-5">
            <input type="text" id="idcidadaoaltura" name="cidadaoaltura{{i}}" class="form-control"
              [(ngModel)]="participante.altura" [disabled]="atividadeColetiva.importada || profissional">
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <legend class="col-form-label col-md-12 pt-0">
            <label class="mt-2 mb-1 font-weight-bold">Programa Nacional de Controle Do Tabagismo</label>
          </legend>
          <div class="col-md-12">
            <div class="form-check">
              <input type="checkbox" id="idcidadaocessou" name="cidadaocessou{{i}}" class="form-check-input"
                [(ngModel)]="participante.cessouHabitoFumar" [value]="true"
                [disabled]="atividadeColetiva.importada || profissional">
              <label class="form-check-label">Cessou o Hábito de Fumar</label>
            </div>
            <div class="form-check">
              <input type="checkbox" id="idcidadaoabandonou" name="cidadaoabandonou{{i}}" class="form-check-input"
                [(ngModel)]="participante.abandonouGrupo" [value]="true"
                [disabled]="atividadeColetiva.importada || profissional">
              <label class="form-check-label">Abandonou o Grupo</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
</form>