<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <em class="fa fa-align-justify"></em> Resultado do Exame
    </div>
    <div class="card-body">
      <form
        id="formResultado"
        name="formResultado"
        (ngSubmit)="onFormSubmit()"
        #form="ngForm"
      >
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="iddataResultado" requiredLabel>Data Resultado</label>
            <input
              type="date"
              [(ngModel)]="resultado.dataResultado"
              class="form-control"
              name="dataResultado"
              id="iddataResultado"
              required
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="iddataRealizacao" requiredLabel>Data Realização</label>
            <input
              type="date"
              [(ngModel)]="resultado.dataRealizacao"
              class="form-control"
              name="dataRealizacao"
              id="iddataRealizacao"
              required
            />
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-12 mb-3">
            <textarea
              class="form-control"
              rows="3"
              maxlength="1000"
              name="observacao"
              [(ngModel)]="resultado.observacaoResultado"
              placeholder="Observação... (até 1000 caracteres)"
            >
            </textarea>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <spinner-button [showSpinner]="isLoadingSubmit">
        <button type="submit" form="formResultado" class="btn btn-primary">
          Salvar
        </button>
      </spinner-button>
      <button type="button" class="btn btn-secondary" routerLink="/">
        Cancelar
      </button>
    </div>
  </div>
</div>
