<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <em class="fa fa-align-justify"></em> {{ importada || profissional ? 'Visualizar Ficha de Procedimentos' : 'Editar Ficha de
      Procedimentos' }}
    </div>
    <div class="card-body">
      <app-form-ficha-procedimento [formData]="formData$" (onSubmit)="onSubmitted($event)" #formFichaProcedimento>
      </app-form-ficha-procedimento>
    </div>
    <div class="card-footer">
      <spinner-button [showSpinner]="isLoadingSubmit">
        <button type="submit" form="formFichaProcedimento" class="btn btn-primary" [disabled]="importada || profissional">
          Salvar
        </button>
      </spinner-button>
      <button type="button" class="btn btn-secondary" routerLink="/">
        Cancelar
      </button>
    </div>
  </div>
</div>