<form id="formFichaEvolucao" name="formFichaEvolucao" #form="ngForm"
  (ngSubmit)="onFormSubmit()">
  <div class="form-row">
    <ng-container>
      <div class="col-md-3 mb-3">
        <label for="idsusprofissional" requiredLabel>CNS do Profissional</label>
        <input type="text" class="form-control" id="idsusprofissional" [(ngModel)]="evolucao.profissional.cns"
          name="profissionalcns" mask="0{15}" required disabled [readonly]="isVisualizacao"/>
      </div>
      <div class="col-md-2 mb-3">
        <label for="idcbo" requiredLabel>CBO</label>
        <input type="text" class="form-control" id="idcbo" name="codigo" [(ngModel)]="evolucao.cbo.codigo" required
          disabled [readonly]="isVisualizacao"/>
      </div>
    </ng-container>
    <div class="col-md-2 mb-3">
      <label for="idcnes" requiredLabel>CNES</label>
      <input type="text" class="form-control" id="idcnes" name="cnes" [(ngModel)]="evolucao.ubs.cnes" required
        disabled [readonly]="isVisualizacao"/>
    </div>
    <div class="col-md-3 mb-3">
      <label for="idine">INE</label>
      <input type="text" class="form-control" id="idine" name="codigoEquipe" [(ngModel)]="evolucao.ine"
        maxlength="10" [disabled]="importada || profissional" [readonly]="isVisualizacao"/>
    </div>
    <div class="col-md-2 mb-3">
      <label for="iddata" requiredLabel>Data</label>
      <input type="date" class="form-control" id="iddata" [(ngModel)]="evolucao.dataRealizacao" name="dataRealizacao"
        required [disabled]="importada || profissional" [readonly]="isVisualizacao"/>
    </div>
  </div>
  <fieldset class="form-group">
    <div class="form-row">
      <legend class="col-form-label col-md-2 pt-0" requiredLabel>Turno</legend>
      <div class="col-md-10">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="turno" [(ngModel)]="evolucao.turno" id="idturnoM"
            [value]="1" name="turno" required [attr.disabled]="isVisualizacao"/>
          <label class="form-check-label" for="idturnoM">Manhã</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="turno" id="idturnoT" [(ngModel)]="evolucao.turno"
            [value]="2" name="turno" required [attr.disabled]="isVisualizacao"/>
          <label class="form-check-label" for="idturnoT">Tarde</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="turno" id="idturnoN" [(ngModel)]="evolucao.turno"
            [value]="3" name="turno" required [attr.disabled]="isVisualizacao"/>
          <label class="form-check-label" for="idturnoN">Noite</label>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group form-row">
    <label for="idprontuario" class="col-md-2 col-form-label">Número do Prontuário</label>
    <div class="col-md-4">
      <input type="text" class="form-control"
        [(ngModel)]="evolucao.cidadao != null ? evolucao.cidadao.numProntuario : evolucao.cidadao"
        id="idprontuario" name="numeroProntuario" disabled [readonly]="isVisualizacao"/>
    </div>
  </div>
  <ng-container>
    <div class="form-group form-row">
      <label for="idcidadao" class="col-md-2 col-form-label" requiredLabel>CNS do Cidadão</label>
      <div class="col-md-4">
        <ngx-select-dropdown (open)="buscarCidadao('1')" (searchChange)="buscarCidadao($event)" tabindex="0"
          id="idcidadao" name="cidadao" [multiple]="false" [(ngModel)]="evolucao.cidadao" [config]="configCidadao"
          [options]="opCidadao" required [disabled]="importada || profissional || isVisualizacao" ></ngx-select-dropdown>
      </div>
    </div>
    <div class="form-group form-row">
      <label for="iddatanascimento" class="col-md-2 col-form-label" requiredLabel>Data de nascimento</label>
      <div class="col-md-4">
        <input type="date" class="form-control" id="iddatanascimento" name="dataNascimento"
          [(ngModel)]="evolucao.cidadao != null ? evolucao.cidadao.dataNascimento : evolucao.cidadao" required
          disabled [readonly]="isVisualizacao"/>
      </div>
    </div>
    <fieldset class="form-group">
      <div class="form-row">
        <legend class="col-form-label col-md-2 pt-0" requiredLabel>Sexo</legend>
        <div class="col-md-10">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="idsexoM" value="MASCULINO" name="sexo"
              [(ngModel)]="evolucao.cidadao != null ? evolucao.cidadao.sexo : evolucao.cidadao" required
              disabled [readonly]="isVisualizacao"/>
            <label class="form-check-label" for="idsexoM">Masculino</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="idsexoF" value="FEMININO" name="sexo"
              [(ngModel)]="evolucao.cidadao != null ? evolucao.cidadao.sexo : evolucao.cidadao" required
              disabled [readonly]="isVisualizacao"/>
            <label class="form-check-label" for="idsexoF">Feminimo</label>
          </div>
        </div>
      </div>
    </fieldset>
  </ng-container>
  <fieldset class="form-group">
    <div class="form-row">
      <legend class="col-form-label col-md-2">Atendimento</legend>
      <div class="col-md-6">
        <div class="form-group form-row">
          <label class="col-md-3 pt-0 col-form-label" for="iddata" requiredLabel>Local Atendimento</label>
          <div class="col-md-3 mb-3">
            <select class="form-control" id="idlocalAtendimento" name="localAtendimento" placeholder="selecionar"
              [(ngModel)]="evolucao.localAtendimento.codigo" required [disabled]="importada || profissional || isVisualizacao">
              <option *ngFor="let local of locais" [value]="local.codigo">
                {{local.descricao}}
              </option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <legend class="col-form-label col-md-3 pt-0">
            <label requiredLabel>Tipo de Atendimento</label>
          </legend>
          <div class="col-md-9">
            <div *ngFor="let tipo of tiposAtendimento" class="form-check">
              <input type="radio" name="tipoatendimento" id="tipoatendimento{{tipo.codigo}}" class="form-check-input"
                [(ngModel)]="evolucao.tipoAtendimento.codigo" [value]="tipo.codigo" required
                [attr.disabled]="isVisualizacao"/>
              <label class="form-check-label">{{tipo.descricao}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <div class="form-row">
      <legend class="col-form-label col-md-2">Avaliação Antropométrica</legend>
      <div class="col-md-6">
        <div class="form-group form-row">
          <label for="idPerimetroCefalico" class="col-md-4 col-form-label">Perímetro cefálico (cm)</label>
          <div class="col-md-2">
            <input type="text" class="form-control" id="idPerimetroCefalico" [(ngModel)]="evolucao.perimetroCefalico"
              mask="9{7}" name="perimetroCefalico" [disabled]="importada || profissional" [readonly]="isVisualizacao"/>
          </div>
        </div>
        <div class="form-group form-row">
          <label for="idPeso" class="col-md-4 col-form-label">Peso (kg)</label>
          <div class="col-md-2">
            <input type="text" class="form-control" id="idPeso" [(ngModel)]="evolucao.peso" mask="9{5}" name="peso"
              [disabled]="importada || profissional" [readonly]="isVisualizacao" [readonly]="isVisualizacao"/>
          </div>
        </div>
        <div class="form-group form-row">
          <label for="idAltura" class="col-md-4 col-form-label">Altura (cm)</label>
          <div class="col-md-2">
            <input type="text" class="form-control" id="idAltura" [(ngModel)]="evolucao.altura" name="altura"
              [disabled]="importada || profissional" [readonly]="isVisualizacao"/>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <div class="form-row">
      <legend class="col-form-label col-md-2 pt-0">Vacinação em dia?</legend>
      <div class="col-md-10">
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="evolucao.vacinacaoEmDia" type="radio" id="idVacinacaoSim"
            value="true" name="vacinacaoEmDia" [attr.disabled]="isVisualizacao"/>
          <label class="form-check-label" for="idVacinacaoSim">Sim</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="evolucao.vacinacaoEmDia" type="radio" id="idVacinacaoNao"
            value="false" name="vacinacaoEmDia" [attr.disabled]="isVisualizacao"/>
          <label class="form-check-label" for="idVacinacaoNao">Não</label>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <div class="form-row">
      <legend class="col-form-label col-md-2">Criança</legend>
      <div class="col-md-10">
        <div class="form-group form-row">
          <label for="idAleitamentoMaterno" class="col-md-2 col-form-label">Aleitamento
            Materno</label>
          <div class="col-md-3">
            <select class="form-control" id="idAleitamentoMaterno" [(ngModel)]="evolucao.aleitamentoMaterno.codigo"
              name="aleitamentoMaterno" [disabled]="importada || profissional || isVisualizacao">
              <option *ngFor="let op of aleitamento" [value]="op.codigo">
                {{op.descricao}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset *ngIf="evolucao.cidadao != null && evolucao.cidadao.sexo == 'FEMININO'" class="form-group">
    <div class="form-row">
      <legend class="col-form-label col-md-2">Gestante</legend>
      <div class="col-md-10">
        <div class="form-group form-row">
          <label for="idDum" class="col-md-2 col-form-label">DUM</label>
          <div class="col-md-3">
            <input type="date" [(ngModel)]="evolucao.dum" class="form-control" id="idDum" name="dum"
              [disabled]="importada || profissional" [readonly]="isVisualizacao"/>
          </div>
        </div>
        <fieldset class="form-group">
          <div class="form-row">
            <legend class="col-form-label col-md-2 pt-0">Gravidez Planejada</legend>
            <div class="col-md-2">
              <div class="form-check form-check-inline">
                <input class="form-check-input" [(ngModel)]="evolucao.gravidezPlanejada" type="radio"
                  id="idGravidezPlanejadaSim" value="true" name="gravidezPlanejada"
                  [disabled]="importada || profissional" [attr.disabled]="isVisualizacao"/>
                <label class="form-check-label" for="idGravidezPlanejadaSim">Sim</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" [(ngModel)]="evolucao.gravidezPlanejada" type="radio"
                  id="idGravidezPlanejadaNao" value="false" name="gravidezPlanejada"
                  [disabled]="importada || profissional" [attr.disabled]="isVisualizacao" />
                <label class="form-check-label" for="idGravidezPlanejadaNao">Não</label>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="form-group form-row">
          <label for="idIdadeGestacional" class="col-md-2 col-form-label">Idade Gestacional
            (Semanas)</label>
          <div class="col-md-2">
            <input type="text" [(ngModel)]="evolucao.idadeGestacional" class="form-control" id="idIdadeGestacional"
              mask="9{2}" name="idadeGestacional" [disabled]="importada || profissional" [readonly]="isVisualizacao"/>
          </div>
        </div>
        <div class="form-group form-row">
          <label for="idGestasPrevias" class="col-md-2 col-form-label">Gestas Prévias</label>
          <div class="col-md-2">
            <input type="text" [(ngModel)]="evolucao.gestasPrevias" class="form-control" id="idGestasPrevias"
              mask="9{2}" name="gestasPrevias" [disabled]="importada || profissional" [readonly]="isVisualizacao"/>
          </div>
        </div>
        <div class="form-group form-row">
          <label for="idPartos" class="col-md-2 col-form-label">Partos</label>
          <div class="col-md-2">
            <input type="text" class="form-control" [(ngModel)]="evolucao.partos" id="idPartos" mask="9{2}"
              name="partos" [disabled]="importada || profissional" [readonly]="isVisualizacao"/>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <div class="form-row">
      <legend class="col-form-label col-md-2">Atenção Domiciliar</legend>
      <div class="col-md-10">
        <div class="form-group form-row">
          <label for="idModalidadeAD" class="col-md-2 col-form-label">Modalidade AD</label>
          <div class="col-md-3">
            <select class="form-control" [(ngModel)]="evolucao.modalidadeAD" id="idModalidadeAD" name="modalidadeAD"
              [disabled]="importada || profissional || isVisualizacao">
              <option value=null disabled>Escolha uma opção</option>
              <option value=AD1>AD1</option>
              <option value=AD2>AD2</option>
              <option value=AD3>AD3</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group form-row">
    <label for="idPic" class="col-md-2 col-form-label">Racionalidade em saúde</label>
    <div class="col-md-4">
      <select class="form-control" [(ngModel)]="evolucao.racionalidadeSaude.codigo" id="idPic"
        name="racionalidadeSaude" [disabled]="importada || profissional || isVisualizacao">
        <option *ngFor="let op of opRacionalidade" [value]="op.codigo">{{ op.descricao }}</option>
      </select>
    </div>
  </div>
  <fieldset class="form-group">
    <div class="form-row">
      <legend class="col-form-label col-md-2 pt-0">
        <label requiredLabel>Problema / Condição Avaliada</label>
      </legend>
      <div class="col-md-10">
        <span *ngFor="let op of ciaps">
          <div
            *ngIf="op.sexo == 'Ambos' || op.sexo == 'Feminino' && (evolucao.cidadao != null && evolucao.cidadao.sexo == 'FEMININO')"
            class="form-check">
            <input type="checkbox" class="form-check-input" [checked]="ciapChecked(op)" (change)="ciapChange(op)"
              id="id{{ op.descricao }}" name="{{ op.descricao }}" [attr.disabled]="isVisualizacao"
              [required]="evolucao.ciaps.length == 0 && selectedCiap.length == 0 && selectedCid.length == 0" />
            <label class="form-check-label" for="id{{ op.descricao }}">{{ op.descricao }}</label>
          </div>
        </span>
        <div class="mt-2 mb-1 font-weight-bold">Doenças Transmissíveis</div>
        <span *ngFor="let op of ciapTransmissiveis">
          <div
            *ngIf="op.sexo == 'Ambos' || op.sexo == 'Feminino' && (evolucao.cidadao != null && evolucao.cidadao.sexo == 'FEMININO')"
            class="form-check">
            <input type="checkbox" class="form-check-input" (change)="ciapChange(op)" [checked]="ciapChecked(op)"
              id="id{{ op.descricao }}" name="{{ op.descricao }}" [attr.disabled]="isVisualizacao"
              [required]="evolucao.ciaps.length == 0 && selectedCiap.length == 0 && selectedCid.length == 0" />
            <label class="form-check-label" for="id{{ op.descricao }}">{{ op.descricao }}</label>
          </div>
        </span>
        <div class="mt-2 mb-1 font-weight-bold">Rastreamento</div>
        <span *ngFor="let op of ciapRastreamento">
          <div
            *ngIf="op.sexo == 'Ambos' || op.sexo == 'Feminino' && (evolucao.cidadao != null && evolucao.cidadao.sexo == 'FEMININO')"
            class="form-check">
            <input type="checkbox" class="form-check-input" (change)="ciapChange(op)" [checked]="ciapChecked(op)"
              id="id{{ op.descricao }}" name="{{ op.descricao }}" [attr.disabled]="isVisualizacao"
              [required]="evolucao.ciaps.length == 0 && selectedCiap.length == 0 && selectedCid.length == 0" />
            <label class="form-check-label" for="id{{ op.descricao }}">{{ op.descricao }}</label>
          </div>
        </span>
        <div class="mt-2 mb-1 font-weight-bold">Outros</div>
        <div class="form-group form-row">
          <div class="col-md-6 mb-3" *ngIf="!isVisualizacao">
            <label for="idCiap2">CIAP2 (Somente 2 opções podem ser selecionadas)</label>
            <ngx-select-dropdown (open)="searchCiap2('a')" (searchChange)="searchCiap2($event)" tabindex="0"
              name="ciap2" [multiple]="true" id="idCiap2" [(ngModel)]="selectedCiap" [config]="config"
              [options]="optionsCiap" [disabled]="importada || profissional || isVisualizacao"
              [required]="selectedCiap.length == 0 && evolucao.ciaps.length == 0 && selectedCid.length == 0">
            </ngx-select-dropdown>
          </div>

          <div class="col-md-6 mb-3" *ngIf="isVisualizacao">
            <label for="idCid10">CIAP2</label>
            <div *ngIf="evolucao.ciap2_1">
              {{evolucao.ciap2_1?.descricao}}
            </div>
            <div *ngIf="evolucao.ciap2_2">
              {{evolucao.ciap2_2?.descricao}}
            </div>
          </div>

          <div class="col-md-6 mb-3" *ngIf="!isVisualizacao">
            <label for="idCid10">CID10 (Somente 2 opções podem ser selecionadas)</label>
            <ngx-select-dropdown (open)="searchCid10('a')" (searchChange)="searchCid10($event)" tabindex="0"
              name="cid10" [multiple]="true" id="idCid10" [(ngModel)]="selectedCid" [config]="config"
              [options]="optionsCid" [disabled]="importada || profissional || isVisualizacao"
              [required]="selectedCid.length == 0 && evolucao.ciaps.length == 0 && selectedCiap.length == 0">
            </ngx-select-dropdown>
          </div>

          <div class="col-md-6 mb-3" *ngIf="isVisualizacao">
            <label for="idCid10">CID10</label>
            <div *ngIf="evolucao.cid10_1">
              {{evolucao.cid10_1?.descricao}}
            </div>
            <div *ngIf="evolucao.cid10_2">
              {{evolucao.cid10_2?.descricao}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <div class="form-row">
      <legend class="col-form-label col-md-2 pt-0">
        <label >Procedimentos</label>
      </legend>
      <div class="col-md-10">
        <ngx-select-dropdown *ngIf="!isVisualizacao"
          (open)="searchProcedimentoChange('a')" (searchChange)="searchProcedimentoChange($event)"
          tabindex="0" name="procedimento" [multiple]="true" [(ngModel)]="evolucao.procedimentos"
          [config]="configProcedimentos" [options]="procedimentos"
          [disabled]="limitarQuantidadeProcedimentos() || evolucao.importada || profissional || isVisualizacao">
        </ngx-select-dropdown>
        
        <div *ngIf="isVisualizacao">
          <div *ngFor="let p of evolucao.procedimentos">
           {{p.codigo}} - {{p.descricao}}
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <div class="form-row">
      <legend class="col-form-label col-md-2 pt-0">
        <label requiredLabel>Conduta</label>
      </legend>
      <div class="col-md-10">
        <div *ngFor="let op of condutas" class="form-check">
          <input type="checkbox" class="form-check-input" id="id{{ op.descricao }}"
            (change)="condutasEncaminhamentoChange(op)" [checked]="condutasEncaminhamentoChecked(op)" name="conduta"
            required [attr.disabled]="isVisualizacao" />
          <label class="form-check-label" for="id{{ op.descricao }}">{{ op.descricao }}</label>
        </div>
        <div class="mt-2 mb-1 font-weight-bold">Encaminhamento</div>
        <div *ngFor="let op of encaminhamentos" class="form-check">
          <input type="checkbox" class="form-check-input" id="id{{ op.descricao }}"
            (change)="condutasEncaminhamentoChange(op)" [checked]="condutasEncaminhamentoChecked(op)"
            name="encaminhamento" required [attr.disabled]="isVisualizacao"/>
          <label class="form-check-label" for="id{{ op.descricao }}">{{ op.descricao }}</label>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="form-group">
    <div class="form-row">
      <legend class="col-form-label col-md-2 pt-0">Evolução</legend>
      <div class="col-md-10">
        <textarea
          class="form-control"
          rows="3"
          maxlength="3000"
          name="observacao"
          [(ngModel)]="evolucao.observacao"
          placeholder="Evolução (até 3000 caracteres)"
          [readonly]="isVisualizacao"
        >
        </textarea>
      </div>
    </div>
  </div>
</form>



