<div class="animated fadeIn">
  <div class="card">
    
    <div class="card-header">
      <em class="fa fa-align-justify"></em> Adicionar Ficha Visita Domiciliar
    </div>
    
    <div class="card-body">
      <app-form-ficha-visita-domiciliar 
        (onSubmit)="onSubmitted($event)"
        #formFichaVisitaDomiciliar 
        [formData]="formData$">
      </app-form-ficha-visita-domiciliar>
    </div>
   
    <div class="card-footer">
      <spinner-button [showSpinner]="isLoadingSubmit" >
        <button type="submit" form="formFichaVisitaDomiciliar" class="btn btn-primary">
          Salvar
        </button>
      </spinner-button>
      
      <button type="button" (click)="onCanceled()" class="btn btn-secondary" >
        Cancelar
      </button>
    </div>
  
  </div>
</div>
