<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">Pesquisar por Biometria</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal(true)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row justify-content-center mb-2">
            <div class="col-8">Leitor: {{statusLeitor}}</div>
          </div>
          <div class="row justify-content-center mb-2">
            <div class="col-8">{{mensagem}}</div>
          </div>
          <div class="row justify-content-center mb-2">
            <div class="col-6" id="imagediv" style="height:200px;border-style:solid"></div>
          </div>
          <div class="d-flex justify-content-center">
            <div *ngIf="isLoading" class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
