<form id="formFichaAtendimentoIndividual" name="formFichaAtendimentoIndividual" #form="ngForm"
  (ngSubmit)="onFormSubmit()">
  <div class="form-row">
    <ng-container>
      <div class="col-md-3 mb-3">
        <label for="idsusprofissional" requiredLabel>CNS do Profissional</label>
        <input type="text" class="form-control" id="idsusprofissional" [(ngModel)]="atendimento.profissional.cns"
          name="profissionalcns" mask="0{15}" required disabled />
      </div>
      <div class="col-md-2 mb-3">
        <label for="idcbo" requiredLabel>CBO</label>
        <input type="text" class="form-control" id="idcbo" name="codigo" [(ngModel)]="atendimento.cbo.codigo" required
          disabled />
      </div>
    </ng-container>
    <div class="col-md-2 mb-3">
      <label for="idcnes" requiredLabel>CNES</label>
      <input type="text" class="form-control" id="idcnes" name="cnes" [(ngModel)]="atendimento.ubs.cnes" required
        disabled />
    </div>
    <div class="col-md-3 mb-3">
      <label for="idine">INE</label>
      <input type="text" class="form-control" id="idine" name="codigoEquipe" [(ngModel)]="atendimento.ine"
        maxlength="10" [disabled]="importada || profissional" />
    </div>
    <div class="col-md-2 mb-3">
      <label for="iddata" requiredLabel>Data</label>
      <input type="date" class="form-control" id="iddata" [(ngModel)]="atendimento.dataRealizacao" name="dataRealizacao"
        required [disabled]="importada || profissional" />
    </div>
  </div>
  <fieldset class="form-group">
    <div class="form-row">
      <legend class="col-form-label col-md-2 pt-0" requiredLabel>Turno</legend>
      <div class="col-md-10">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="atendimento.turno" id="idturnoM"
            [value]="1" name="turno" required [disabled]="importada || profissional" />
          <label class="form-check-label" for="idturnoM">Manhã</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="idturnoT" [(ngModel)]="atendimento.turno"
            [value]="2" name="turno" required [disabled]="importada || profissional" />
          <label class="form-check-label" for="idturnoT">Tarde</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="idturnoN" [(ngModel)]="atendimento.turno"
            [value]="3" name="turno" required [disabled]="importada || profissional" />
          <label class="form-check-label" for="idturnoN">Noite</label>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group form-row">
    <label for="idprontuario" class="col-md-2 col-form-label">Número do Prontuário</label>
    <div class="col-md-4">
      <input type="text" class="form-control"
        [(ngModel)]="atendimento.cidadao != null ? atendimento.cidadao.numProntuario : atendimento.cidadao"
        id="idprontuario" name="numeroProntuario" disabled />
    </div>
  </div>
  <ng-container>
    <div class="form-group form-row">
      <label for="idcidadao" class="col-md-2 col-form-label" requiredLabel>CNS do Cidadão</label>
      <div class="col-md-4">
        <ngx-select-dropdown (open)="buscarCidadao('1')" (searchChange)="buscarCidadao($event)" tabindex="0"
          id="idcidadao" name="cidadao" [multiple]="false" [(ngModel)]="atendimento.cidadao" [config]="configCidadao"
          [options]="opCidadao" required [disabled]="importada || profissional"></ngx-select-dropdown>
      </div>
    </div>
    <div class="form-group form-row">
      <label for="iddatanascimento" class="col-md-2 col-form-label" requiredLabel>Data de nascimento</label>
      <div class="col-md-4">
        <input type="date" class="form-control" id="iddatanascimento" name="dataNascimento"
          [(ngModel)]="atendimento.cidadao != null ? atendimento.cidadao.dataNascimento : atendimento.cidadao" required
          disabled />
      </div>
    </div>
    <fieldset class="form-group">
      <div class="form-row">
        <legend class="col-form-label col-md-2 pt-0" requiredLabel>Sexo</legend>
        <div class="col-md-10">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="idsexoM" value="MASCULINO" name="sexo"
              [(ngModel)]="atendimento.cidadao != null ? atendimento.cidadao.sexo : atendimento.cidadao" required
              disabled />
            <label class="form-check-label" for="idsexoM">Masculino</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="idsexoF" value="FEMININO" name="sexo"
              [(ngModel)]="atendimento.cidadao != null ? atendimento.cidadao.sexo : atendimento.cidadao" required
              disabled />
            <label class="form-check-label" for="idsexoF">Feminimo</label>
          </div>
        </div>
      </div>
    </fieldset>
  </ng-container>
  <fieldset class="form-group">
    <div class="form-row">
      <legend class="col-form-label col-md-2">Atendimento</legend>
      <div class="col-md-6">
        <div class="form-group form-row">
          <label class="col-md-3 pt-0 col-form-label" for="iddata" requiredLabel>Local Atendimento</label>
          <div class="col-md-3 mb-3">
            <select class="form-control" id="idlocalAtendimento" name="localAtendimento" placeholder="selecionar"
              [(ngModel)]="atendimento.localAtendimento.codigo" required [disabled]="importada || profissional">
              <option *ngFor="let local of locais" [value]="local.codigo">
                {{local.descricao}}
              </option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <legend class="col-form-label col-md-3 pt-0">
            <label requiredLabel>Tipo de Atendimento</label>
          </legend>
          <div class="col-md-9">
            <div *ngFor="let tipo of tiposAtendimento" class="form-check">
              <input type="radio" name="tipoatendimento" id="tipoatendimento{{tipo.codigo}}" class="form-check-input"
                [(ngModel)]="atendimento.tipoAtendimento.codigo" [value]="tipo.codigo" required
                [disabled]="importada || profissional" />
              <label class="form-check-label">{{tipo.descricao}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <div class="form-row">
      <legend class="col-form-label col-md-2">Avaliação Antropométrica</legend>
      <div class="col-md-6">
        <div class="form-group form-row">
          <label for="idPerimetroCefalico" class="col-md-4 col-form-label">Perímetro cefálico (cm)</label>
          <div class="col-md-2">
            <input type="text" class="form-control" id="idPerimetroCefalico" [(ngModel)]="atendimento.perimetroCefalico"
              mask="9{7}" name="perimetroCefalico" [disabled]="importada || profissional" />
          </div>
        </div>
        <div class="form-group form-row">
          <label for="idPeso" class="col-md-4 col-form-label">Peso (kg)</label>
          <div class="col-md-2">
            <input type="text" class="form-control" id="idPeso" [(ngModel)]="atendimento.peso" mask="9{5}" name="peso"
              [disabled]="importada || profissional" />
          </div>
        </div>
        <div class="form-group form-row">
          <label for="idAltura" class="col-md-4 col-form-label">Altura (cm)</label>
          <div class="col-md-2">
            <input type="text" class="form-control" id="idAltura" [(ngModel)]="atendimento.altura" name="altura"
              [disabled]="importada || profissional" />
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <div class="form-row">
      <legend class="col-form-label col-md-2 pt-0">Vacinação em dia?</legend>
      <div class="col-md-10">
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="atendimento.vacinacaoEmDia" type="radio" id="idVacinacaoSim"
            value="true" name="vacinacaoEmDia" [disabled]="importada || profissional" />
          <label class="form-check-label" for="idVacinacaoSim">Sim</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="atendimento.vacinacaoEmDia" type="radio" id="idVacinacaoNao"
            value="false" name="vacinacaoEmDia" [disabled]="importada || profissional" />
          <label class="form-check-label" for="idVacinacaoNao">Não</label>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <div class="form-row">
      <legend class="col-form-label col-md-2">Criança</legend>
      <div class="col-md-10">
        <div class="form-group form-row">
          <label for="idAleitamentoMaterno" class="col-md-2 col-form-label">Aleitamento
            Materno</label>
          <div class="col-md-3">
            <select class="form-control" id="idAleitamentoMaterno" [(ngModel)]="atendimento.aleitamentoMaterno.codigo"
              name="aleitamentoMaterno" [disabled]="importada || profissional">
              <option *ngFor="let op of aleitamento" [value]="op.codigo">
                {{op.descricao}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset *ngIf="atendimento.cidadao != null && atendimento.cidadao.sexo == 'FEMININO'" class="form-group">
    <div class="form-row">
      <legend class="col-form-label col-md-2">Gestante</legend>
      <div class="col-md-10">
        <div class="form-group form-row">
          <label for="idDum" class="col-md-2 col-form-label">DUM</label>
          <div class="col-md-3">
            <input type="date" [(ngModel)]="atendimento.dum" class="form-control" id="idDum" name="dum"
              [disabled]="importada || profissional" />
          </div>
        </div>
        <fieldset class="form-group">
          <div class="form-row">
            <legend class="col-form-label col-md-2 pt-0">Gravidez Planejada</legend>
            <div class="col-md-2">
              <div class="form-check form-check-inline">
                <input class="form-check-input" [(ngModel)]="atendimento.gravidezPlanejada" type="radio"
                  id="idGravidezPlanejadaSim" value="true" name="gravidezPlanejada"
                  [disabled]="importada || profissional" />
                <label class="form-check-label" for="idGravidezPlanejadaSim">Sim</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" [(ngModel)]="atendimento.gravidezPlanejada" type="radio"
                  id="idGravidezPlanejadaNao" value="false" name="gravidezPlanejada"
                  [disabled]="importada || profissional" />
                <label class="form-check-label" for="idGravidezPlanejadaNao">Não</label>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="form-group form-row">
          <label for="idIdadeGestacional" class="col-md-2 col-form-label">Idade Gestacional
            (Semanas)</label>
          <div class="col-md-2">
            <input type="text" [(ngModel)]="atendimento.idadeGestacional" class="form-control" id="idIdadeGestacional"
              mask="9{2}" name="idadeGestacional" [disabled]="importada || profissional" />
          </div>
        </div>
        <div class="form-group form-row">
          <label for="idGestasPrevias" class="col-md-2 col-form-label">Gestas Prévias</label>
          <div class="col-md-2">
            <input type="text" [(ngModel)]="atendimento.gestasPrevias" class="form-control" id="idGestasPrevias"
              mask="9{2}" name="gestasPrevias" [disabled]="importada || profissional" />
          </div>
        </div>
        <div class="form-group form-row">
          <label for="idPartos" class="col-md-2 col-form-label">Partos</label>
          <div class="col-md-2">
            <input type="text" class="form-control" [(ngModel)]="atendimento.partos" id="idPartos" mask="9{2}"
              name="partos" [disabled]="importada || profissional" />
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <div class="form-row">
      <legend class="col-form-label col-md-2">Atenção Domiciliar</legend>
      <div class="col-md-10">
        <div class="form-group form-row">
          <label for="idModalidadeAD" class="col-md-2 col-form-label">Modalidade AD</label>
          <div class="col-md-3">
            <select class="form-control" [(ngModel)]="atendimento.modalidadeAD" id="idModalidadeAD" name="modalidadeAD"
              [disabled]="importada || profissional">
              <option value=null disabled>Escolha uma opção</option>
              <option value=AD1>AD1</option>
              <option value=AD2>AD2</option>
              <option value=AD3>AD3</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group form-row">
    <label for="idPic" class="col-md-2 col-form-label">Racionalidade em saúde</label>
    <div class="col-md-4">
      <select class="form-control" [(ngModel)]="atendimento.racionalidadeSaude.codigo" id="idPic"
        name="racionalidadeSaude" [disabled]="importada || profissional">
        <option *ngFor="let op of opRacionalidade" [value]="op.codigo">{{ op.descricao }}</option>
      </select>
    </div>
  </div>
  <fieldset class="form-group">
    <div class="form-row">
      <legend class="col-form-label col-md-2 pt-0">
        <label requiredLabel>Problema / Condição Avaliada</label>
      </legend>
      <div class="col-md-10">
        <span *ngFor="let op of ciaps">
          <div
            *ngIf="op.sexo == 'Ambos' || op.sexo == 'Feminino' && (atendimento.cidadao != null && atendimento.cidadao.sexo == 'FEMININO')"
            class="form-check">
            <input type="checkbox" class="form-check-input" [checked]="ciapChecked(op)" (change)="ciapChange(op)"
              id="id{{ op.descricao }}" name="{{ op.descricao }}" [disabled]="importada || profissional"
              [required]="atendimento.ciaps.length == 0 && selectedCiap.length == 0 && selectedCid.length == 0" />
            <label class="form-check-label" for="id{{ op.descricao }}">{{ op.descricao }}</label>
          </div>
        </span>
        <div class="mt-2 mb-1 font-weight-bold">Doenças Transmissíveis</div>
        <span *ngFor="let op of ciapTransmissiveis">
          <div
            *ngIf="op.sexo == 'Ambos' || op.sexo == 'Feminino' && (atendimento.cidadao != null && atendimento.cidadao.sexo == 'FEMININO')"
            class="form-check">
            <input type="checkbox" class="form-check-input" (change)="ciapChange(op)" [checked]="ciapChecked(op)"
              id="id{{ op.descricao }}" name="{{ op.descricao }}" [disabled]="importada || profissional"
              [required]="atendimento.ciaps.length == 0 && selectedCiap.length == 0 && selectedCid.length == 0" />
            <label class="form-check-label" for="id{{ op.descricao }}">{{ op.descricao }}</label>
          </div>
        </span>
        <div class="mt-2 mb-1 font-weight-bold">Rastreamento</div>
        <span *ngFor="let op of ciapRastreamento">
          <div
            *ngIf="op.sexo == 'Ambos' || op.sexo == 'Feminino' && (atendimento.cidadao != null && atendimento.cidadao.sexo == 'FEMININO')"
            class="form-check">
            <input type="checkbox" class="form-check-input" (change)="ciapChange(op)" [checked]="ciapChecked(op)"
              id="id{{ op.descricao }}" name="{{ op.descricao }}" [disabled]="importada || profissional"
              [required]="atendimento.ciaps.length == 0 && selectedCiap.length == 0 && selectedCid.length == 0" />
            <label class="form-check-label" for="id{{ op.descricao }}">{{ op.descricao }}</label>
          </div>
        </span>
        <div class="mt-2 mb-1 font-weight-bold">Outros</div>
        <div class="form-group form-row">
          <div class="col-md-6 mb-3">
            <label for="idCiap2">CIAP2 (Somente 2 opções podem ser selecionadas)</label>
            <ngx-select-dropdown (open)="searchCiap2('a')" (searchChange)="searchCiap2($event)" tabindex="0"
              name="ciap2" [multiple]="true" id="idCiap2" [(ngModel)]="selectedCiap" [config]="config"
              [options]="optionsCiap" [disabled]="importada || profissional"
              [required]="selectedCiap.length == 0 && atendimento.ciaps.length == 0 && selectedCid.length == 0">
            </ngx-select-dropdown>
          </div>
          <div class="col-md-6 mb-3">
            <label for="idCid10">CID10 (Somente 2 opções podem ser selecionadas)</label>
            <ngx-select-dropdown (open)="searchCid10('a')" (searchChange)="searchCid10($event)" tabindex="0"
              name="cid10" [multiple]="true" id="idCid10" [(ngModel)]="selectedCid" [config]="config"
              [options]="optionsCid" [disabled]="importada || profissional"
              [required]="selectedCid.length == 0 && atendimento.ciaps.length == 0 && selectedCiap.length == 0">
            </ngx-select-dropdown>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group">
    <div class="form-row">
      <legend class="col-form-label col-md-2 pt-0">Exames Solicitados e Avaliados</legend>
      <div class="col-md-10">
        <div *ngFor="let op of exames; let i = index" class="row">
          <div class="col-md-4">
            <label class="form-check-label">{{ op.descricao }}</label>
          </div>
          <div *ngIf="atendimento.listExame.length > 0" class="col-md-8">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="idSituacao{{ op.id }}" value="S"
                name="situacao{{ op.id }}" [(ngModel)]="atendimento.listExame[i].situacao"
                [disabled]="importada || profissional" />
              <label class="form-check-label" for="idSituacao{{ op.id }}">Solicitado</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="idSituacao{{ op.id }}" value="A"
                name="situacao{{ op.id }}" [(ngModel)]="atendimento.listExame[i].situacao"
                [disabled]="importada || profissional" />
              <label class="form-check-label" for="idSituacao{{ op.id }}">Avaliado</label>
            </div>
          </div>
        </div>
        <div class="mt-2 mb-1 font-weight-bold">Triagem neonatal</div>
        <div *ngFor="let op of opNeonatal; let i = index" class="row">
          <div class="col-md-4">
            <label class="form-check-label">{{ op.descricao }}</label>
          </div>
          <div *ngIf="atendimento.listExame.length > 0" class="col-md-8">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="idSituacao{{ op.id }}" value="S"
                name="situacao{{ op.id }}" [(ngModel)]="atendimento.listExame[20+i].situacao"
                [disabled]="importada || profissional" />
              <label class="form-check-label" for="idSituacao{{ op.id }}">Solicitado</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="idSituacao{{ op.id }}" value="A"
                name="situacao{{ op.id }}" [(ngModel)]="atendimento.listExame[20+i].situacao"
                [disabled]="importada || profissional" />
              <label class="form-check-label" for="idSituacao{{ op.id }}">Avaliado</label>
            </div>
          </div>
        </div>
        <div class="mt-2 mb-1 font-weight-bold">Outros exames (código do SIGTAP)</div>
        <div class="form-group form-row">
          <label for="idEsaOutros-1" class="col-md-2 col-form-label">Outros (SIA) - 01</label>
          {{ atendimento.outrosSia1Codigo != null && atendimento.outrosSia1Codigo.id != null ? ' *' : '' }}
          <div class="col-md-6">
            <ngx-select-dropdown (open)="searchChangeExame('a')" (searchChange)="searchChangeExame($event)" tabindex="0"
              name="outrosSia1Codigo" [multiple]="false" id="idEsaOutros-1" [(ngModel)]="atendimento.outrosSia1Codigo"
              [config]="configExame" [options]="optionsProced" [disabled]="importada || profissional">
            </ngx-select-dropdown>
          </div>
          <div *ngIf="atendimento.outrosSia1Codigo != null && atendimento.outrosSia1Codigo.id != null"
            class="col-md-4 col-form-label pl-4">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" [(ngModel)]="atendimento.outrosSia1" id="idEsaOutros-1S"
                value="S" name="outrosSia1" [disabled]="importada || profissional"
                [required]="atendimento.outrosSia1Codigo != null && atendimento.outrosSia1Codigo.id != null" />
              <label class="form-check-label" for="idEsaOutros-1S">Solicitado</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" [(ngModel)]="atendimento.outrosSia1" id="idEsaOutros-1A"
                value="A" name="outrosSia1" [disabled]="importada || profissional"
                [required]="atendimento.outrosSia1Codigo != null && atendimento.outrosSia1Codigo.id != null" />
              <label class="form-check-label" for="idEsaOutros-1A">Avaliado</label>
            </div>
          </div>
        </div>
        <div class="form-group form-row">
          <label for="idEsaOutros-2" class="col-md-2 col-form-label">Outros (SIA) - 02</label>
          {{ atendimento.outrosSia2Codigo != null && atendimento.outrosSia2Codigo.id != null ? ' *' : '' }}
          <div class="col-md-6">
            <ngx-select-dropdown (open)="searchChangeExame('a')" (searchChange)="searchChangeExame($event)" tabindex="0"
              name="outrosSia2Codigo" [multiple]="false" id="idEsaOutros-2" [(ngModel)]="atendimento.outrosSia2Codigo"
              [config]="configExame" [options]="optionsProced" [disabled]="importada || profissional">
            </ngx-select-dropdown>
          </div>
          <div *ngIf="atendimento.outrosSia2Codigo != null && atendimento.outrosSia2Codigo.id != null"
            class="col-md-4 col-form-label pl-4">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" [(ngModel)]="atendimento.outrosSia2" id="idEsaOutros-2S"
                value="S" name="outrosSia2" [disabled]="importada || profissional"
                [required]="atendimento.outrosSia2Codigo != null && atendimento.outrosSia2Codigo.id != null" />
              <label class="form-check-label" for="idEsaOutros-2S">Solicitado</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" [(ngModel)]="atendimento.outrosSia2" id="idEsaOutros-2A"
                value="A" name="outrosSia2" [disabled]="importada || profissional"
                [required]="atendimento.outrosSia2Codigo != null && atendimento.outrosSia2Codigo.id != null" />
              <label class="form-check-label" for="idEsaOutros-2A">Avaliado</label>
            </div>
          </div>
        </div>
        <div class="form-group form-row">
          <label for="idEsaOutros-3" class="col-md-2 col-form-label">Outros (SIA) - 03</label>
          {{ atendimento.outrosSia3Codigo != null && atendimento.outrosSia3Codigo.id != null ? ' *' : '' }}
          <div class="col-md-6">
            <ngx-select-dropdown (open)="searchChangeExame('a')" (searchChange)="searchChangeExame($event)" tabindex="0"
              name="outrosSia3Codigo" [multiple]="false" id="idEsaOutros-3" [(ngModel)]="atendimento.outrosSia3Codigo"
              [config]="configExame" [options]="optionsProced" [disabled]="importada || profissional">
            </ngx-select-dropdown>
          </div>
          <div *ngIf="atendimento.outrosSia3Codigo != null && atendimento.outrosSia3Codigo.id != null"
            class="col-md-4 col-form-label pl-4">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="idEsaOutros-3S" value="S"
                [(ngModel)]="atendimento.outrosSia3" name="outrosSia3" [disabled]="importada || profissional"
                [required]="atendimento.outrosSia3Codigo != null && atendimento.outrosSia3Codigo.id != null" />
              <label class="form-check-label" for="idEsaOutros-3S">Solicitado</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="idEsaOutros-3A" [(ngModel)]="atendimento.outrosSia3"
                value="A" name="outrosSia3" [disabled]="importada || profissional"
                [required]="atendimento.outrosSia3Codigo != null && atendimento.outrosSia3Codigo.id != null" />
              <label class="form-check-label" for="idEsaOutros-3A">Avaliado</label>
            </div>
          </div>
        </div>
        <div class="form-group form-row">
          <label for="idEsaOutros-4" class="col-md-2 col-form-label">Outros (SIA) - 04</label>
          {{ atendimento.outrosSia4Codigo != null && atendimento.outrosSia4Codigo.id != null ? ' *' : '' }}
          <div class="col-md-6">
            <ngx-select-dropdown (open)="searchChangeExame('a')" (searchChange)="searchChangeExame($event)" tabindex="0"
              name="outrosSia4Codigo" [multiple]="false" id="idEsaOutros-4" [(ngModel)]="atendimento.outrosSia4Codigo"
              [config]="configExame" [options]="optionsProced" [disabled]="importada || profissional">
            </ngx-select-dropdown>
          </div>
          <div *ngIf="atendimento.outrosSia4Codigo != null && atendimento.outrosSia4Codigo.id != null"
            class="col-md-4 col-form-label pl-4">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" [(ngModel)]="atendimento.outrosSia4" id="idEsaOutros-4S"
                value="S" name="outrosSia4" [disabled]="importada || profissional"
                [required]="atendimento.outrosSia4Codigo != null && atendimento.outrosSia4Codigo.id != null" />
              <label class="form-check-label" for="idEsaOutros-4S">Solicitado</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" [(ngModel)]="atendimento.outrosSia4" id="idEsaOutros-4A"
                value="A" name="outrosSia4" [disabled]="importada || profissional"
                [required]="atendimento.outrosSia4Codigo != null && atendimento.outrosSia4Codigo.id != null" />
              <label class="form-check-label" for="idEsaOutros-4A">Avaliado</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <fieldset class="form-group">
    <div class="form-row">
      <legend class="col-form-label col-md-2 pt-0">Ficou em Observação?</legend>
      <div class="col-md-10">
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="atendimento.ficouObservacao" type="radio"
            id="idFicouEmObservacaoSim" value="true" name="ficouObservacao" [disabled]="importada || profissional" />
          <label class="form-check-label" for="idFicouEmObservacaoSim">Sim</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="atendimento.ficouObservacao" type="radio"
            id="idFicouEmObservacaoNao" value="false" name="ficouObservacao" [disabled]="importada || profissional" />
          <label class="form-check-label" for="idFicouEmObservacaoNao">Não</label>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <div class="form-row">
      <legend class="col-form-label col-md-2 pt-0">NASF/Polo</legend>
      <div class="col-md-10">
        <div *ngFor="let nasf of nasfs " class="form-check">
          <input type="checkbox" class="form-check-input" (change)="nasfChange(nasf)" [checked]="nasfChecked(nasf)"
            id="id{{ nasf.descricao }}" name="nasf" [disabled]="importada || profissional" />
          <label class="form-check-label" for="id{{ nasf.descricao }}">{{ nasf.descricao }}</label>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <div class="form-row">
      <legend class="col-form-label col-md-2 pt-0">
        <label requiredLabel>Conduta</label>
      </legend>
      <div class="col-md-10">
        <div *ngFor="let op of condutas" class="form-check">
          <input type="checkbox" class="form-check-input" id="id{{ op.descricao }}"
            (change)="condutasEncaminhamentoChange(op)" [checked]="condutasEncaminhamentoChecked(op)" name="conduta"
            required [disabled]="importada || profissional" />
          <label class="form-check-label" for="id{{ op.descricao }}">{{ op.descricao }}</label>
        </div>
        <div class="mt-2 mb-1 font-weight-bold">Encaminhamento</div>
        <div *ngFor="let op of encaminhamentos" class="form-check">
          <input type="checkbox" class="form-check-input" id="id{{ op.descricao }}"
            (change)="condutasEncaminhamentoChange(op)" [checked]="condutasEncaminhamentoChecked(op)"
            name="encaminhamento" required [disabled]="importada || profissional" />
          <label class="form-check-label" for="id{{ op.descricao }}">{{ op.descricao }}</label>
        </div>
      </div>
    </div>
  </fieldset>
</form>