<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form id="formLotacao" name="formLotacao" (ngSubmit)="onSubmit()" #form="ngForm" class="form-signin">
                  <h1>Lotação</h1>
                  <p class="text-muted">Selecione uma Lotação</p>
                  <div class="col-12 mb-4">
                    <ngx-select-dropdown id="idLotacao" tabindex="0" name="lotacao" [multiple]="false"
                      [(ngModel)]="lotacao.lotacao" [config]="config" [options]="lotacoes" required>
                    </ngx-select-dropdown>
                  </div>
                  <div class="row">
                    <div class="col-5">
                      <spinner-button [showSpinner]="isLoading" [spinnerPos]=2>
                        <button type="submit" class="btn btn-primary px-4" [disabled]="!form.form.valid">
                          Selecionar
                        </button>
                      </spinner-button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>