<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Adicionar Cidadão
    </div>
    <div class="card-body">
      <app-form-cidadao-geral (outSubmitSuccess)="onSubmitSuccess($event)"></app-form-cidadao-geral>
    </div>
  </div>
</div>
